 
<div class="dashboard-container overlay-2 " layout="row" align="center">

    <div class="maindiv" flex layout="column" hide-xs hide-sm ng-init="graphs()" >
        <div layout="row">
            
                <md-card flex="20">
                    <h3 align="left" class="headingmain">Overall SSI </h3>
                     
                        <div layout="row" style="height: 35vh;">
                            
                            <div layout-margin flex="30" layout="column" layout-align="space-around start"  >
                                    <div >{{currmonth}} </div>
                                    <div> {{prevmonth}}</div>
                                    <div> {{prevquater}} </div>
                                </div>
                            
                            
                     <div flex="70" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 24px" >{{svg1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="34"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="8"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 24px">{{svg2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="34"
                                                stroke="8"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()">{{svg3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="8"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </md-card>
                <!--</div>-->
                <md-card flex="30">
                        <div layout="row">  <h3 flex="70" align="left" class="headingmain">Regional SSI Index</h3> <i flex="30" class="zmdi zmdi-menu" align="right" style="padding-right: 10px;padding-top: 20px" ng-csv="printdata()" style='color: #00A000' filename="regionalSSI.csv" csv-header="['Region','Score','Respondents' ]" ></i></div>
                    <div   id="map" style="height: 50vh;" align="center" ></div>
                </md-card>
                <md-card flex="50">
                    <h3 align="left" class="headingmain">Factor Score</h3>
                    <div  id="barlinecontainer" style="height: 50vh " ></div>
                </md-card>
        </div>
        <div layout="row">
            <md-card flex="50">
                    <h3 align="left" class="headingmain" >Top - Bottom Dealers SSI Index </h3>
                     <div id="treecontainer" style="height: 50vh" ></div>
                </md-card>
            <md-card flex="50">
                    <h3 align="left" class="headingmain">Top - Bottom SOP </h3>
                    <div id="bot1" style="height: 50vh"></div>
                </md-card >
        </div>
        

    
</div>
    
    
    
    <div class="maindiv" flex hide-gt-sm layout="column" ng-init="graphs()" >
        <div> 
            <md-card layout="column">
                    <h3 align="left" class="headingmain">Overall SSI </h3>
                     
                    <div layout="column" style="height: 25vh">
                          <div flex="70" layout="row" layout-align="space-around center"    >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 24px" >{{svg1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="36"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="8"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 24px">{{svg2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="36"
                                                stroke="8"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle1()">{{svg3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="36"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="8"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                                <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                                            <div >{{currmonth}} </div>
                                            <div style="margin-right: 60px;"> {{prevmonth}}</div>
                                            <div> {{prevquater}} </div>
                                        </div>
                            </div>
                    </md-card>
                <md-card >
                        <div layout="row">  <h3 flex="70" align="left" class="headingmain" >Regional SSI Index</h3> <i flex="30" class="zmdi zmdi-menu" align="right" style="padding-right: 10px;padding-top: 20px" ng-csv="printdata()" style='color: #00A000' filename="regionalSSI.csv" csv-header="['Region','Score','Respondents' ]" ></i></div>
                    <div   id="map1" style="height: 45vh;" align="center" ></div>
                </md-card>
                <md-card >
                    <h3 align="left" class="headingmain">Factor Score</h3>
                    <div  id="barlinecontainer1" style="height: 35vh " ></div>
                </md-card>
            <md-card >
                    <h3 align="left" class="headingmain" >Top - Bottom Dealers SSI Index </h3>
                     <div id="treecontainer1" style="height: 35vh" ></div>
                </md-card>
            <md-card >
                    <h3 align="left" class="headingmain">Top - Bottom SOP </h3>
                    <div id="bot11" style="height: 35vh"></div>
                </md-card >
        

        </div>
</div>
    
</div>