<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> <!--

--> 




<div class="dashboard-container overlay-2 " layout="column" align="center" >

    <md-card class="maindiv" flex layout="column"  ng-init="graphs()" >
        <div style="overflow-y: auto">
            <div hide-xs hide-sm id="mainchart" style="height: 77vh;" ></div>                
            <div hide-gt-sm id="mainchart1" style="height: 120vh;" ></div> 
        </div>

    </md-card>        
    <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote">
        <p class="bottomlabel"   data-html="true"  title="{{'priorityfootnote'| translate}}" translate="priorityfootnote">


</div>
