<style>
    
       .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }
    
    
    .flexbutton{
        height: 100px;
        color: #ffffff;
    }
    
    .monthbutton{
       palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;
        
    }
    
    th.md-column {
  white-space: normal;
}
    
    .fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

    
/*table, th, td {
   border: .5px solid grey;
}*/

.tableHeader{
     padding-right: 1vw;
     padding-left: 1vw;
     word-wrap: break-word;
     font-size: 18px;
     text-align: center;
}

.dt {
  width: 75%;
  margin: 50px auto;
  height: 200px;
}


  table.md-table tbody.md-body > tr.md-row {
  height: 5vh;
}


     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
    
    .GREEN{
        color:#ffffff !important; 
    }
    .RED{
       color:#ffffff !important; 
    }
    
    
    
    
    
       .bg-color1-table{
        background-color:#eeeeee ;
    }
.myhover {
        background: #F0DCB6!important;
    }
 .my_style .webix_column > div{ border-color:#D2E3EF; }
    
.webix_hcell{
     font-family: 'Roboto Condensed'!important;
     font-size: 15px !important;
      background-color:#7E57C2 !important;
      color:#ffffff !important;
}
.webix_hcell{
    text-align: center;
    height: initial !important;
    line-height: 14px !important;
     overflow: visible !important;
}

.webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
    background: #7E57C2 !important;
    color:#FFFFFF !important;
    vertical-align :middle !important;
    height: 90px !important;
    text-align: center !important;
   
}
.webix_ss_vscroll, .webix_vscroll_y{
    margin-top:90px !important;
    
}

.webix_column>div.webix_row_select { background-color:#F08080 !important; }


.webix_cell{
     vertical-align :middle !important;
     font-family: 'Roboto Condensed'!important;
     font-size: 12.5px !important;
     text-align: center !important;
}

.webix_topcell {
   background-color:#EEEEEE;
}

    .columnstyle {
        
       background-color:#EEEEEE;
/*       word-spacing:8px !important;*/
    }
    
    
/*    webix_ss_header{
        height:65px !important;
    }*/
    .multiline{
/*       padding-bottom: 15px !important;
              line-height:15px !important;*/
/*               padding-left:5px!important;
               padding-right:5px!important;*/
    vertical-align :middle !important;
    text-align: center !important;
}
   .rowcolor{
        background-color:#EEEEEE;
    } 
/*    .webix_table_cell.webix_measure_size {
  	padding-left:15px;
  }*/
</style> 


<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" hide-sm hide-xs flex  layout="column" ng-init="graphs()" >
            <div  layout="row" style="height: 85vh">
                <md-card flex="35">
                    <h3 class="headingmain">{{model1}}</h3>
                    <div id="leftgraph" style="  ;height: 73vh" ng-init="botrender()"></div>
                    <p class="bottomlabel"  data-html="true"  title="{{trendFootnotetitle}}" ng-bind-html="trendFootnotetitle"></p>
                </md-card>
                
                
                  <div flex="65" layout="column">
                      <md-card layout="column" style="height: 41vh" >
                            <div layout="row">  <h3 flex="70" align="left" class="headingmain" >{{model2}}</h3> <i flex="30" class="zmdi zmdi-menu" align="right" id="modelexportCS" style="padding-right: 10px;padding-top: 10px"></i></div>
                            <!--<div style="height: 40vh;overflow: auto">-->    
                                <div webix-ui="FSmodeltable" webix-ready="doSome()"  data="records" style="width:100%;height:37vh;"></div>
<!--                            
<!--                            <table md-table class="md-data-table"  id="table" >
                                    <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                                        <tr style="height: 35px;" md-row  >
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw;padding-top: 30px; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:150px " md-column>{{mtable0}}</th>
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:50px " md-column>{{mtable1}}</th>
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{mtable2}}</th>                                    
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{mtable3}}</th>
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{mtable4}}</th>
                                            <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{mtable5}}</th>
                                        </tr>
                                        <tr style="height: 25px" md-row  >
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:150px " md-column></th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:50px " md-column>(26%)</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>(15%)</th>                                    
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>(12%)</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>(18%)</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>(29%)</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body >
                                        <tr md-row ng-repeat="x in vm.salesData ">
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: #EEEEEE" data-title="SSI">{{x.model}}</td>                       
                                                <td md-cell class="padding-left-10 center-align header-fixed3 {{x.ServiceInitiationcolor}}" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceInitiationcolor}}" data-title="Service Facility">{{x.ServiceInitiation}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3 {{x.ServiceAdvisorcolor}}" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceAdvisorcolor}}" data-title="Service Quality">{{x.ServiceAdvisor}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3 {{x.Servicefacilitycolor}}" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.Servicefacilitycolor}}" data-title="Service Initiation">{{x.Servicefacility}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3 {{x.VehiclePickupcolor}}" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.VehiclePickupcolor}}" data-title="Service Advisor">{{x.VehiclePickup}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3 {{x.ServiceQualitycolor}}" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceQualitycolor}}" data-title="Vehicle Pickup">{{x.ServiceQuality}}</td>
                                         </tr>
                                    </tbody>
                                </table>  -->
                            <!--</div>-->
                    </md-card>
                    <md-card>
                            <span  class=" padding-left-10">{{modelname}}   {{factorname}}</span>
                        <div class="width-full" id="botgraph" style="height: 34vh;">

                        </div>
                    </md-card>     
            </div>
        
         </div> 
          <p class="bottomlabel" title="{{footnotetitle}}">{{footnote}}      
    
    
    
    <!--for xs size-->
    <div class="maindiv" flex="100" layout="column" hide-gt-sm>
        
                  <md-card>
                        <h3 class="headingmain">{{model1}}</h3>
                        <div id="leftgraph1" style="  ;height: 75vh" ></div>    
                    </md-card>
                  <md-card id="top2x" style="height: 40vh" ></md-card>   
                  <md-card layout="column" style="height: 40vh" >
                            <div layout="row">  <h3 flex="70" align="left" class="headingmain" >{{model2}}</h3> <i flex="30" class="zmdi zmdi-menu" align="right" id="modelexportCS" style="padding-right: 10px;padding-top: 10px"></i></div>
                            <div style="height: 40vh;overflow: auto"> 
                                <div webix-ui="FSmodeltable" webix-ready="doSome()"  data="records" style="width:100%"></div>
<!--                            <table md-table class="md-data-table"  id="table" >
                                    <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                                        <tr  md-row  >
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable0}}</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable1}}</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable2}}</th>                                    
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable3}}</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable4}}</th>
                                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{mtable5}}</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body >
                                        <tr md-row ng-repeat="x in vm.salesData ">
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ssicolor}}" data-title="SSI">{{x.model}}</td>                       
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceInitiationcolor}}" data-title="Service Facility">{{x.ServiceInitiation}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceAdvisorcolor}}" data-title="Service Quality">{{x.ServiceAdvisor}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.Servicefacilitycolor}}" data-title="Service Initiation">{{x.Servicefacility}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.VehiclePickupcolor}}" data-title="Service Advisor">{{x.VehiclePickup}}</td>
                                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceQualitycolor}}" data-title="Vehicle Pickup">{{x.ServiceQuality}}</td>
                                         </tr>
                                    </tbody>
                                </table>  -->
                            </div>
                </md-card>
                <md-card>
                        <span  class=" padding-left-10">{{modelname}} - {{factorname}}</span>
                        <div class="width-full" id="botgraph1" style="height: 35vh;">
                        </div>
                </md-card>
                  
    </div> 
        
    
</div>