<md-button hide-gt-sm ng-click="vm.toggleNotificationsTab(0)" class="md-fab md-mini md-accent md-fab-bottom-right" >
    <md-tooltip>  Filters  </md-tooltip> 
    <md-icon md-font-icon="zmdi zmdi-unfold-more"  style="color:#ffffff"></md-icon>
</md-button>
