<!-- left sidebar -->
<md-sidenav md-colors="{ background: 'primary' }" class="triangular-sidenav-left md-sidenav-left md-whiteframe-z2" ng-if="layout.sideMenuSize !== 'off'" md-component-id="left" md-is-locked-open="layout.sideMenuSize !== 'hidden' && $mdMedia('gt-sm')" ui-view="sidebarLeft" ng-class="{ 'admin-sidebar-collapsed': layout.sideMenuSize == 'icon' }" ng-mouseover="stateController.activateHover()" ng-mouseleave="stateController.removeHover()"></md-sidenav>

<!-- main content -->
<div class="triangular-toolbar-and-content" style="overflow-y: hidden !important;"layout="column" flex>
    <!-- loading animation -->
    <!-- <tri-loader></tri-loader> -->

    <!-- top toolbar -->
    <md-toolbar class="triangular-toolbar md-whiteframe-z1" ng-if="layout.showToolbar" ng-class="[layout.toolbarSize, layout.toolbarClass]" md-theme="{{triSkin.elements.toolbar}}" ui-view="toolbar"></md-toolbar>

    <!-- scrollable content -->
    <md-content class="triangular-content" ng-class="layout.contentClass" flex ui-view></md-content>

    <div ui-view="belowContent"></div>
    <div style="height:5vh; background-color: #ffffff" >
        <div style="padding-right: 4px;padding-left: 4px;height: 5vh; background-color: #ffffff" class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
            <a href="http://leadics.com/" target="_blank" ><img style="background-color: #ffffff; height:4vh;" src="https://s3-us-west-2.amazonaws.com/cdn.leadics.com/Leadics_Logo_Transparent.png" alt=""/></a>
            <img style="height:2.5vh;" src="assets/images/LA26502LOGO.png" alt=""/>
        </div>
    </div>

    <div class="triangular-loader" ng-show="stateController.showLoader" layout="column" ui-view="loader"></div>
</div>

<!-- right sidebar -->
<md-sidenav  style="max-width: 200px;overflow-y: hidden !important;" layout="column" layout-fill class="triangular-sidenav-right md-sidenav-right md-whiteframe-z2" md-component-id="notifications" ui-view="sidebarRight"   md-is-locked-open="lockLeft && $mdMedia('gt-sm')"></md-sidenav>
