 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
     .bottomlabel{
        margin: 0px;
        font-size: 9px !important;
        text-align: right;
        
    }
</style> 

<div class="dashboard-container overlay-0 " layout="row" align="center"  >

    <div class="maindiv" flex layout="column"  ng-init="graphs()" >
        <md-card hide-xs hide-sm layout="row" style="height:15vh;"> 
            <div flex="50" layout="column">
                <h3 flex="50" class="padding-left-10 heading" align="left">{{soptitle1}} </h3> 
                <h3 flex="50" class="padding-left-10 heading" style="margin-left:5vh" align="left"> {{soptitle2}}</h3>
                
            </div>
<!--                <md-switch  class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="5" 
                           ng-change="vm.sopwswitch(data.cb1)"></md-switch>
                <p >Benchmark Score : {{sopswitchoutputcaps}}</p>-->
            <div flex="10"></div>
                <div flex="40" align="right" layout="column">
                    <span style="text-align: center">{{soptitle3}} </span>
                        <md-radio-group ng-model="group1" ng-change="vm.sopwswitch(group1)"> 
                            <div layout="row">
                              <md-radio-button ng-checked="true" style="margin: 10px" value="Total"><p style="padding-right: 5px">{{opt1}}</p></md-radio-button>
                              <md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>
                              <md-radio-button style="margin: 10px" value="Region">                 <p style="padding-right: 5px">{{opt3}}</p></md-radio-button>
                            </div>
                        </md-radio-group>
                </div>
            </md-card>
        
                <md-card hide-gt-sm layout="row" align="center center" > 
                    
                        <div style="padding: 5px" layout="row" align="center center">
                                <md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="20" 
                                    ng-change="vm.sopwswitch(data.cb1)">
                                </md-switch>
                        </div>
                        <br>
                        <p style="margin-top: 22px">Benchmark Score : {{sopswitchoutputcaps}}</p>
                </md-card>

                     <div ng-hide="hideloader"  style="height: 60vh;;width: 95%;overflow-y: scroll"> 
                          <img src="assets/images/loader.gif" alt=""/>
                     </div>
                    <div ng-hide="!(hideloader)" style="height: 70vh;overflow-y: hidden">
                           <div  hide-sm hide-xs id="sop" style="height: 65vh;width: 65vw" ></div>  
                            <div hide-gt-sm id="sop1" style="height: 120vh;width: 65vw" ></div>  
                    </div>
                        
        
                <div>
                         
                   <p class="bottomlabel" ng-bind-html="footnote"></p>
     
                </div>
      
    </div>        
    
     
    
</div>