<style>
    
       .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }
    
    
    .flexbutton{
        height: 100px;
        color: #ffffff;
    }
    
    .monthbutton{
       palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;
        
    }
    
    th.md-column {
  white-space: normal;
}
    
    .fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

    
/*table, th, td {
   border: .5px solid grey;
}*/

.tableHeader{
     padding-right: 1vw;
     padding-left: 1vw;
     word-wrap: break-word;
     font-size: 18px;
     text-align: center;
}

.dt {
  width: 75%;
  margin: 50px auto;
  height: 200px;
}


  table.md-table tbody.md-body > tr.md-row {
  height: 5vh;
}


     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" ng-init="graphs()" >

    <div class="maindiv" flex="100" layout="row" flex-xs="100" hide-sm hide-xs>
        <div flex="35">
            <md-card>
                    <h3 class="headingmain">SSI Index by Model</h3>
                    <div id="leftgraph" style="  ;height: 75vh" ng-init="botrender()"></div>
            </md-card>
        </div>
        <div layout="column" flex="65">
            <md-card layout="column" style="height: 40vh" >
            <div layout="row">  <h3 flex="70" align="left" class="headingmain" >Factor Score by Model - Index</h3> <i flex="30" class="zmdi zmdi-menu" align="right" id="modelexportCS" style="padding-right: 10px;padding-top: 10px"></i></div>
            <div style="height: 40vh;overflow: auto">     
            <table md-table class="md-data-table"  id="table" >
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                        <tr  md-row  >
                            <th class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Model</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Sales Initiation</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Dealer Facility</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Deal</th>                                    
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Salesperson</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Timing</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Process</th>
                        </tr>
                    </thead>
                    <tbody md-body >
                        <tr md-row ng-repeat="x in vm.salesData ">
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ssicolor}}" data-title="SSI">{{x.model}}</td>                                    
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.serviceinitiationcolor}}" data-title="Service Initiation">{{x.SalesInitiation}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.serviceadvisorcolor}}" data-title="Service Advisor">{{x.DealerFacility}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicefacilitycolor}}" data-title="Service Facility">{{x.Deal}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.vehiclepickupcolor}}" data-title="Vehicle Pickup">{{x.Salesperson}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicequalitycolor}}" data-title="Service Quality">{{x.DeliveryTiming}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicequalitycolor}}" data-title="Service Quality">{{x.DeliveryProcess}}</td>
                         </tr>
                    </tbody>
                </table>  
            </div>
                            </md-card>
                    
                    <md-card  class="md-whiteframe-z1">
                        <div class="md-title" > 
                            <span  class=" padding-left-10">{{model}} - {{factor}} Trend </span>
                        </div>
                        <div class="width-full" id="botgraph" style="height: 35vh;">

                        </div>
                    </md-card>
        </div>
      
    </div>        
    
     <div class="maindiv" flex="100" layout="column" hide-gt-sm >
         <div>
            <md-card>
                    <h3 class="headingmain">SSI Index by Model</h3>
                    <div id="leftgraph1" style="  ;height: 45vh" ng-init="botrender()"></div>
            </md-card>
            <md-card layout="column" style="height: 45vh" >
                <div layout="row"> 
                    <h3 flex="70" align="left" class="headingmain" >Factor Score by Model - Index</h3> 
                    <i flex="30" class="zmdi zmdi-menu" align="right" id="modelexportCS" style="padding-right: 10px;padding-top: 10px"></i>
                </div>
                <div style="height: 45vh;overflow: auto"> 
                <table md-table class="md-data-table"  id="table" >
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                        <tr  md-row  >
                            <th class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Model</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Sales Initiation</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Dealer Facility</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Deal</th>                                    
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Salesperson</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Timing</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 16px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Process</th>
                        </tr>
                    </thead>
                    <tbody md-body >
                         <tr md-row ng-repeat="x in vm.salesData ">
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ssicolor}}" data-title="SSI">{{x.model}}</td>                                    
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.serviceinitiationcolor}}" data-title="Service Initiation">{{x.SalesInitiation}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.serviceadvisorcolor}}" data-title="Service Advisor">{{x.DealerFacility}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicefacilitycolor}}" data-title="Service Facility">{{x.Deal}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.vehiclepickupcolor}}" data-title="Vehicle Pickup">{{x.Salesperson}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicequalitycolor}}" data-title="Service Quality">{{x.DeliveryTiming}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.servicequalitycolor}}" data-title="Service Quality">{{x.DeliveryProcess}}</td>
                         </tr>
                    </tbody>
                </table>   
                </div>
                 </md-card>
            <md-card  class="md-whiteframe-z1">
                <div class="md-title" > 
                    <span  class=" padding-left-10">{{model}} - {{factor}} Trend </span>
                </div>
                <div class="width-full" id="botgraph1" style="height: 45vh;">

                </div>
            </md-card>
                    
         </div>
    </div> 
    
</div>