// Admin Content area
#admin-panel {
  overflow: hidden;
  position: relative;
  > md-content {
    z-index: 3;
  }
}
#admin-panel-content-view {
  display: block;
  position: relative;
  padding-bottom: 0px;
  min-height: calc(100vh - 0);
  -webkit-backface-visibility: hidden;
}

// Side menu Bar
.admin-sidebar-left {
  overflow-x:hidden;
  md-content {
    height: 100%;
    overflow-x:hidden;
  }
}
.admin-sidebar-left._md-locked-open {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  -ms-overflow-style: none; /* ie fix for removing scrollbars */
  &.admin-sidebar-collapsed {
    min-width: 48px;
    max-width: 48px;
    transition: all .3s;
    &.hover {
      min-width: 200px;
      max-width: 200px;
    }
  }
}

// Toolbar
.admin-toolbar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  z-index: 4;
}
