<div style="background-color: #3D3C3A;padding-right: 5px;" class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon style="color: white"md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <div ng-controller="MenuDynamicController as vm" layout="column">
        <div ng-hide="true" layout="row">
            <md-switch ng-model="vm.dynamicMenu.showDynamicMenu" aria-label="Show extra menu" ng-change="vm.tempfunction(vm.dynamicMenu.showDynamicMenu)">
            </md-switch>
        </div>
    </div>



    <div flex="45" >
        <div layout="column" style="font-size: 1em;height:40px; font-weight: normal;line-height: 1vh" ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span flex="50" hide-sm hide-xs  style="color: #ffffff;font-size: 1em; font-weight: bold">{{nameit}} </span>
            <!--<span flex="50" hide-sm hide-xs  style="color: #ffffff;font-size: 1em; font-weight: bold">{{dealer}} </span>-->
            <!--<span flex="50" hide-gt-sm style="color: #ffffff;font-size: 1em; font-weight: bold">{{dealer}} </span>-->
            <span flex="50" hide-sm hide-xs  translate style="color: #ffffff;font-size: .7em">{{crumb.name}}</span>
            <span flex="50" hide-gt-sm  translate style="color: #ffffff;font-size: .25em">{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </div>

    </div>

    <div ng-show="langswitch" style="color: #ffffff" layout="row" flex="30" align="right">
        <p>English</p>
        <md-switch style="padding: 5px" ng-model="languageselection" aria-label="Show extra menu" ng-change="vm.languageswitch(languageselection)">
        </md-switch>
        <p>ภาษาไทย</p>
    </div>

    <div flex="55" align="right" flex="row">

        <!--             <md-icon   class="md-fab " style="background-color: #AA00FF; margin-right: 10px " md-svg-icon="assets/images/download.svg"></md-icon>
                     <md-button hide-sm hide-xs style="background-color: #1565C0;color: #ffffff" ng-show="dataTableShow"  >Data Tables </md-button>   
                     <md-button hide-gt-sm style="background-color: #1565C0;width: ;color: #ffffff;font-size: 9px" ng-show="dataTableShow"  >Data Tables </md-button>   -->

        <!--        <a ng-hide="//oemDownloadShow"  target="_blank" href={{downloadurl}}> 
                    <md-button ng-hide="//oemDownloadShow" class="md-fab md-mini md-accent" style="margin: 0px;padding: 0px" aria-label="fab button">     
                            <md-tooltip>  {{//toplineTooltip}}  </md-tooltip> 
                                    <md-icon  ng-click="//downloadshow($event)" md-font-icon="zmdi zmdi-download zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
                       </md-button>
                </a>-->


        <md-button class="md-fab md-mini md-warn" style="margin: 0px;padding: 0px" aria-label="fab button">     
            <md-tooltip>  {{informationTooltip}}  </md-tooltip> 
            <md-icon ng-click="information($event)" md-font-icon="zmdi zmdi-info-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
        </md-button>

        <!--<a  href="http://serviceretention.leadicsapps.com//Login/#/login">-->
        <md-button class="md-fab md-mini md-accent" style="margin: 0px;padding: 0px" aria-label="fab button" ng-click="refresh()">  
            <md-tooltip>  {{logoutTooltip}} </md-tooltip> 
            <md-icon   md-font-icon="zmdi zmdi-sign-in zmdi-hc-lg" style=" color: #ffffff;font-size:1.5em" > </md-icon>
        </md-button>
        <!--</a>-->
    </div>
    <div ng-hide="true" >   
        <md-button  class="md-fab md-mini md-accent" style="margin: 0px;padding: 0px" aria-label="fab button">  
            <md-icon  ng-controller="MenuDynamicController as vm"  ng-model="vm.dynamicMenu.showDynamicMenu"
                      ng-change="vm.tempfunction(vm.dynamicMenu.showDynamicMenu)"  md-font-icon="zmdi zmdi-sign-in zmdi-hc-lg" style=" color: #ffffff;font-size:1.5em" > </md-icon>
        </md-button> 
    </div>

    <!--        <div ng-controller="MenuDynamicController as vm" layout="column">
                     <md-switch ng-model="vm.dynamicMenu.showDynamicMenu" aria-label="Show extra menu" ng-change="vm.tempfunction(vm.dynamicMenu.showDynamicMenu)">
                        Show extra menu
                    </md-switch>
            </div>-->
</div>
