 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" ng-init="graphs()" >

    <div class="maindiv" flex layout="column" hide-sm hide-xs >
        <div layout="row">
            <md-card layout="column" flex="40" style="height:36vh; ">
                    <h3 align="left" class="headingmain">{{ regfacttitle}}</h3>   
                            <md-select style="margin: 0px" ng-model="factor"  placeholder="Factor" ng-change="factorchanged(factor)" class="zero-margin-padding">
                               <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor" >{{x.value}}</md-option>
                            </md-select>
                        
                    <br>
                    <div flex="50" layout="column" layout-align="space-around center"  >
                                <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 16px">{{svgvalue}}</div>
                                           <div round-progress
                                                max="1000"
                                                current="svgvalue"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="60"
                                                semi="isSemi"
                                                rounded="false"
                                                stroke="10"
                                                clockwise="clockwise"
                                                responsive="responsive"
                                                duration="800"
                                                animation="easeInOutQuart"
                                                offset="1"
                                                on-render="showPreciseCurrent">
                                           </div>
                                    </div> 
<!--                                <div round-progress-bar    baseColor ="#45CCCE"  current-value="950" size="250" thickness="8"></div>
                                -->
                                
                    <span align="center" style="margin: 0px; padding: 0px" >{{svgname}}</span>   
                    </div>
               </md-card>
                <md-card  flex="60"  >
                    <h3 align="left" class="headingmain">{{svgname}} {{byregiontitle}} </h3>
                    <div id="barlinecontainer" style="height:35vh;" ></div>
                </md-card>
        </div>
        <div layout="row">
           <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} -{{ meantitle}}</h3>
                 <div id="regbot1" style="height:33vh; " ></div>
            </md-card>
            <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} - {{percenttitle}}</h3>
                <div id="regbot2" style="height:33vh;"></div>
            </md-card >
        </div>
   <p class="bottomlabel" ng-bind-html="footnote"></p>
    </div>   
    
    
    
    <div class="maindiv" layout="column" hide-gt-sm >
        <div>
            <md-card layout="column" style="height:50vh; width: 90vw">
                    <h3 align="left" class="headingmain">{{ regfacttitle}}</h3>   
                             <md-select style="margin: 0px" ng-model="factor" ng-change="factorchanged(factor)" class="zero-margin-padding">
                               <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor" >{{x.value}}</md-option>
                            </md-select>
                    <br>
                    <div flex="50" layout="column" layout-align="space-around center"  >
                                <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle1()">{{svgvalue}}</div>
                                           <div
                                                round-progress
                                                max="1000"
                                                current="svgvalue"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="55"
                                                semi="isSemi"
                                                rounded="false"
                                                stroke="10"
                                                clockwise="clockwise"
                                                responsive="responsive"
                                                duration="800"
                                                animation="easeInOutQuart"
                                                offset="1"
                                                on-render="showPreciseCurrent">
                                            </div>
                                    </div> 
                <h3 align="center" style="margin: 0px; padding: 0px" >{{svgname}}</h3>     </div>
               </md-card>
                <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} {{byregiontitle}} </h3>
                    <div id="barlinecontainer1" style="height:50vh; width: 90vw" ></div>
                </md-card>
               <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} -{{ meantitle}}</h3>
                     <div id="regbot11" style="height:50vh; width: 90vw" ></div>
                </md-card>
                <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} - {{percenttitle}}</h3>
                    <div id="regbot21" style="height:50vh; width: 90vw"></div>
                </md-card >
      <p class="bottomlabel" ng-bind-html="footnote"></p>
        </div> 
    </div>
</div>