<md-toolbar style="background-color:#ffffff ;overflow-x: hidden " class="sidebar-left-toolbar" md-theme="{{::triSkin.elements.logo}}">
    <div class="md-toolbar-tools" layout="row" layout-align="center center" style="padding-left: 0px;padding-right: 0px;">

        <!--          <div style="padding-left: 0px;width:40px; height:30px;padding-right: 6px;" >
                    <img ng-src="{{::vm.sidebarInfo.appLogo}}" alt="{{::vm.sidebarInfo.appName}}" style="margin-top:3px; " >
                </div>-->

        <!--<h2 flex class="sidebar-left-title">{{::vm.sidebarInfo.appName}}</h2>-->
        <img  alt="" align="center" src="https://s3-us-west-2.amazonaws.com/cdn.leadics.com/NissanTw/Nissanlogo.jpg" height="25" />

        <md-button class="md-icon-button sidebar-left-icon" ng-click="vm.toggleIconMenu()" aria-label="Open side menu">
            <md-icon style="color: #000000" md-font-icon ng-class="{ 'zmdi zmdi-chevron-right' : vm.layout.sideMenuSize == 'icon', 'zmdi zmdi-chevron-left' : vm.layout.sideMenuSize == 'full' }"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<!--<tri-menu md-theme="{{triSkin.elements.sidebar}}" flex layout="column"></tri-menu>-->
<tri-menu style="background-color: #004A80;font-weight: lighter" flex layout="column"></tri-menu>