<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
    .bottomlabel{
        margin: 0px;
        font-size: 9px !important;
        text-align: right;

    }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex="100" layout="column" flex-xs="100" >

        <md-card hide-xs hide-sm  layout="row" style="background-color:#FAFAFA" > 
            <div flex="60" layout="row" ng-init="graphs()">
                <md-input-container class="padding-left-10" flex layout="column">
                    <label align="left" style="color: #000 ">{{sottitle1}}</label>
                    <md-select ng-model="sop"  ng-change="sopchanged(sop)" placeholder="Select SOP" class="zero-margin-padding">
                        <md-option ng-value="year.name" ng-repeat="year in Filterarray.sop" >{{year.value}}</md-option>
                    </md-select></md-input-container>

            </div>  
            <div flex="40" class="padding-left-10">
                {{sottitle2}}
                <md-radio-group ng-model="group1" ng-change="vm.sopwswitch(group1)"> 
                    <div layout="row">
                        <md-radio-button ng-checked="true" style="margin: 10px" value="Total"><p style="padding-right: 5px">{{opt1}}</p></md-radio-button>
                        <md-radio-button style="margin: 10px" value="Zone"> <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>
                        <!--<md-radio-button style="margin: 10px" value="Region"><p style="padding-right: 5px">{{opt3}}</p></md-radio-button>-->
                    </div>
                </md-radio-group>

            </div>
        </md-card>

        <md-card hide-gt-sm layout="column" style="background-color:#FAFAFA" > 
            <div flex="40" layout="row" >
                <md-input-container class="padding-left-10" flex layout="column">
                    <label align="left" style="color: #000 ">{{sottitle1}}</label>
                    <md-select ng-model="sop"  ng-change="sopchanged(sop)" class="zero-margin-padding">
                        <md-option ng-value="year.name" ng-repeat="year in Filterarray.sop" >{{year.value}}</md-option>
                    </md-select></md-input-container>

            </div>  
            <div flex="50" layout="row" class="padding-left-10">
                <span flex="50" align="center">Benchmark Score:</span>
                <md-radio-group ng-model="group1" ng-change="vm.sopwswitch(group1)"> 
                    <div layout="row">
                        <md-radio-button ng-checked="true" style="margin: 10px" value="Total"><p style="padding-right: 5px">{{opt1}}</p></md-radio-button>
                        <md-radio-button style="margin: 10px" value="Zone"> <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>
                        <md-radio-button style="margin: 10px" value="Region"><p style="padding-right: 5px">{{opt3}}</p></md-radio-button>
                    </div>
                </md-radio-group>
                <span flex="20" align="center">{{sopswitchoutputcaps}}</span> 
            </div>
        </md-card>

        <div  style="background-color: #FFFFFF"  layout="column">
            <h3 align="left" class="headingmain">{{sottitle1}} -{{sopname}}</h3>
            <div id="mainchart" style="height: 62vh" ></div>                
        </div> 

        <div>
            <!--                            <p class="bottomlabel">
                                         {{sotfooter1}}
                                         </p>
                                         <p class="bottomlabel">
                                        {{sotfooter2}}
                                        </p>
                                         <p class="bottomlabel">
                                         {{sotfooter3}}
                                         </p>
                                         <p class="bottomlabel">
                                        {{footnote}}
                                        </p>-->
            <p class="bottomlabel"   data-html="true"  title="{{sopfootnotetitle}}" ng-bind-html="sopfootnote"></p>

        </div>

    </div>        



</div>