// Colors Page
.ui-color-grid md-grid-tile {
    cursor: pointer;
}
.ui-color-dialog-content {
    padding: 0px;
    md-list {
        padding: 0px;
        width: 500px;
    }
}

// Typography Page
.ui-typography-try-font {
    width: 80%;
    text-align: center;
}
.ui-typography-heading-example {
    margin: 0;
}
.ui-screen {
    .tabpanel-container div {
        padding: 20px;
    }
}

// Icons Pages
.ui-icons-box-icon {
    cursor: pointer;
}

// Toolbar page
.ui-toolbar-code pre {
    background-color: black;
    color: white;
    padding: 16px;
    font-weight: normal;
}

// Skins page
.ui-skin-preview-window {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    position: relative;
    border-radius: 3px 3px 0 0;
    min-height: 500px;
}
.ui-skin-preview-window:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.ui-skin-preview-window-sidebar {
    box-shadow: 2px 0px 3px rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
}
.ui-skin-preview-window-toolbar {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
    border-left: 1px solid rgba(100,100,100,0.2);
}
.ui-skin-preview-window-content-line {
    background: rgba(100,100,100, .2);
    &:nth-child(1) {
        width: 80%;
    }
    &:nth-child(2) {
        width: 60%;
    }
    &:nth-child(3) {
        width: 80%;
    }
    &:nth-child(4) {
        width: 50%;
    }
    &:nth-child(5) {
        width: 35%;
    }
}
.ui-skin-preview-window-content-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 5;
}