<!--<style>
/*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }*/
    
    .bg-color1-table{
        background-color:#eeeeee ;
    }



.columnstyle {
       background-color:#EEEEEE;
    }
.my_style .webix_column > div{ 
    border-color:#D2E3EF; 
    }
    
.webix_hcell{
     font-family: 'Roboto Condensed'!important;
     font-size: 16px !important;
      background-color:#7E57C2 !important;
      color:#ffffff !important;
}

.webix_hcell{
    text-align: center;
    height: initial !important;
    line-height: 15px !important;
     overflow: visible !important;
}

.webix_cell{
     font-family: 'Roboto Condensed'!important;
     font-size: 14px !important;
     text-align: center !important;
}
  .webix_table_cell.webix_measure_size {
  	padding-left:25px;
  }
  
.webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
    background: #7E57C2 !important;
    color:#FFFFFF !important;
    vertical-align :middle !important;
    height: 80px !important;
    text-align: center !important;
   
}

.multiline{
    vertical-align :middle !important;
    text-align: center !important;
}



        .tableHeader{
             padding-right: 1vw;
             padding-left: 1vw;
             word-wrap: break-word;
             font-size: 18px;
             text-align: center;
        }

        .dt {
          width: 75%;
          margin: 50px auto;
          height: 200px;
        }


          table.md-table tbody.md-body > tr.md-row {
          height: 5vh;
        }
</style>  

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    
<md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
          <div webix-ui="othersfeedback" webix-ready="doSome()"  data="records"  style="width:100%;height: 75vh"></div>
          <div>
              <table md-table class="md-data-table"  id="table" >
                <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                    <tr style="height: 35px;" md-row  >
                        <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw;padding-top: 30px; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:150px " md-column>{{Report_Month1}}</th>
                        <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{Dealer1}}</th>
                        <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{Model1}}</th>
                        <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{Job_Detail1}}</th>
                        <th class="tableHeader" style="border-bottom: 10px;border-bottom-color: #ffffff;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: .1vw; padding-left: .1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column>{{Response1}}</th>
                    </tr>
                </thead>
                <tbody md-body >
                    <tr md-row ng-repeat="x in vm.salesData ">
                            <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceInitiationcolor}}" data-title="Service Facility">{{x.Report_Month}}</td>
                            <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceAdvisorcolor}}" data-title="Service Quality">{{x.Dealer}}</td>
                            <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.Servicefacilitycolor}}" data-title="Service Initiation">{{x.Model}}</td>
                            <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.VehiclePickupcolor}}" data-title="Service Advisor">{{x.Job_Detail}}</td>
                            <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;font-size: 14px;background-color: {{x.ServiceQualitycolor}}" data-title="Vehicle Pickup">{{x.Response}}</td>
                     </tr>
                </tbody>
            </table> 
          </div>
          
    <div layout="row">
            <div flex align="right">
                <md-button align="right" ng-click="exportdata()" class="md-raised md-primary">{{export}}</md-button>
            </div>
    </div>
       
       
        
    </md-card>   
    
       
    
</div>-->