<style>

    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                     z-index: 8888; }
    .ng-leave       { z-index: 9999; }


    .flexbutton{
        height: 50px;
        color: #ffffff;
    }

    .monthbutton{
        palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;

    }

    th.md-column {
        white-space: normal;
    }

    .fabSpeedDialdemoBasicUsage .text-capitalize {
        text-transform: capitalize; }

    .fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
        background-color: #000 !important; }

    .fabSpeedDialdemoBasicUsage p.note {
        font-size: 1.2rem; }

    .fabSpeedDialdemoBasicUsage .lock-size {
        min-width: 300px;
        min-height: 300px;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto; }


    /*table, th, td {
       border: .5px solid grey;
    }*/

    .tableHeader{
        padding-right: 1vw;
        padding-left: 1vw;
        word-wrap: break-word;
        font-size: 18px;
        text-align: center;
    }

    .dt {
        width: 75%;
        margin: 50px auto;
        height: 195px;
    }


    table.md-table tbody.md-body > tr.md-row {
        height: 5vh;
    }

    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }      



    .otherheading{
        font-size: 12px;
        font-weight: 400;        
        text-align: left;
        padding-left: 10px;
    }

    .footerclass{
        margin: 0px;
        font-size: 10px;
        text-align: left;
    }
</style> 

<div class="dashboard-container overlay-2 " layout="column" align="center" ng-init="graphs()">

    <md-card layout="row" hide-sm hide-xs class="maindiv" flex>
        <div flex="40" >
            <div layout="row" >  
                <h3 flex="90" align="left"  class="headingmain">{{othertitle1}}</h3> 
                <i flex="10" class="zmdi zmdi-menu" align="right" id="otherexportCS" style="padding-right: 10px;padding-top: 10px"  ></i>
            </div>


            <div style="" > 
                <img ng-hide="hideloader"  src="assets/images/loader.gif"  alt=""/>
            </div> 

            <div ng-hide="!(hideloader)" style="height: 74vh;overflow: auto"> 
                <table id="table22"  md-table  style="overflow-y: scroll" >                  
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head>
                        <tr   md-row >
                            <th class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 12px;   padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Questions}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column   >{{Heading1}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Heading2}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading3}}</th>                                    
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading4}}</th>
                        </tr>
                    </thead>
                    <tbody md-body >
                        <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata" >
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}%</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}%</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'">%</span></td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'">%</span> </td>
                        </tr>
                        <!--                        <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata.slice(8, 11)" >
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'"></span></td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'"></span> </td>
                                                </tr>
                                                <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata.slice(11, testdata.length)" >
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}%</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}%</td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'">%</span></td>
                                                    <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'">%</span> </td>
                                                </tr>-->

                    </tbody>

                </table>
            </div>
            <p class="bottomlabel" data-html="true"  title="{{tableFootnote}}" align="left"><img style="align-content: flex-start" align="left" src="assets/images/NoteForTable.png"></img>
                <!--<md-button align="left" style="height: 1px" class="md-raised md-primary">NOTE</md-button>-->
            </p>
            <!--            <p class="footerclass">{{footer1}}</p>-->
            <!--<p class="footerclass">{{footer2}}</p>-->
            <!--<p class="footerclass">{{footer3}}</p>-->
        </div>
        <div flex="60"  class="tabsdemoDynamicHeight" >
            <md-content style="height: 78.5vh;overflow: auto ">
                <md-tabs md-dynamic-height="10px" md-border-bottom="">

                    <md-tab label="{{page1}}">
                        <md-content  flex layout="column">
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading0}}</span><div style="height: 33.2vh" id="top01" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading1}}</span><div style="height: 33.2vh" id="top02" > </div></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex="50" layout="column" > <span class="otherheading">{{heading2}}</span><div align="center" style="height: 33.2vh;" id="top03" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading3}}</span> <div style="height: 33.2vh" id="top04" ></div> </div>
                            </div>
                        </md-content>

                    </md-tab>

                    <md-tab label="{{page2}}">
                        <md-content flex layout="column">
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 33.2vh" id="top05" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading5}}</span><div style="height: 33.2vh" id="top06" > </div></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading6}}</span><div style="height: 33.2vh" id="top07" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 33.2vh" id="top08" > </div></div>
                            </div>
                        </md-content>

                    </md-tab>
                    <md-tab label="{{page3}}">
                        <md-content flex layout="column">
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading8}}</span><div style="height: 33.2vh" id="top09" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading9}}</span><div style="height: 33.2vh" id="top10" > </div></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading10}}</span><div style="height: 33.2vh" id="top11" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading11}}</span><div style="height: 33.2vh" id="top12" > </div></div>
                            </div>
                        </md-content>
                    </md-tab>


                    <md-tab label="{{page4}}">
                        <md-content flex layout="column">
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading12}}</span><div style="height: 33.2vh" id="top13" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading13}}</span><div style="height: 33.2vh" id="top14" > </div></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading14}}</span><div style="height: 33.2vh" id="top15" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading15}}</span><div style="height: 33.2vh" id="top16" > </div></div>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="{{page5}}">
                        <md-content flex layout="column">
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading16}}</span><div style="height: 33.2vh" id="top17" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading17}}</span><div style="height: 33.2vh" id="top18" > </div></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex="50" layout="column"> <span class="otherheading">{{heading18}}</span><div style="height: 33.2vh" id="top19" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <div flex="50" layout="column"> <span class="otherheading">{{heading19}}</span><div style="height: 33.2vh" id="top20" > </div></div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{page6}}">
                        <md-content flex layout="column">
                            <div layout="row">
                                <div flex layout="column"> <span class="otherheading">{{heading20}}</span><div style="height: 33.2vh" id="top21" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <!--<div flex="50" layout="column"> <span class="otherheading">{{heading21}}</span><div style="height: 33.2vh" id="top22" > </div></div>-->
                            </div>
                            <md-divider></md-divider>
                            <div layout="row">
                                <div flex layout="column"> <span class="otherheading">{{heading21}}</span><div style="height: 33.2vh" id="top22" > </div></div>
                                <md-divider class="vertical-divider"></md-divider>
                                <!--<div flex="50" layout="column"> <span class="otherheading">{{heading8}}</span><div style="height: 208px" id="top17" > </div></div>-->
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-content>
            <p class="bottomlabel"   data-html="true"  title="{{chartsFootnote}}"><img src="assets/images/NoteForChart.png"></img>
                <!--<md-button align="right" class="md-raised md-primary">NOTE</md-button>-->
            </p>
            <!--            <div>
                            <p class="bottomlabel"   data-html="true"  title="{{chartsFootnote}}"><img src="assets/images/NoteImg.png"></img>
                                <md-button align="right" class="md-raised md-primary">NOTE</md-button>
                            </p></div>-->
        </div> 

    </md-card>  
    <!--    <div  layout="row">
            <md-content layout="column" >
                <p class="bottomlabel" data-html="true"  title="{{tableFootnote}}"><img style="align-content: flex-start" src="assets/images/NoteImg.png"></img>
                    <md-button align="left" style="height: 1px" class="md-raised md-primary">NOTE</md-button>
                </p> 
            </md-content>
            <md-content flex layout="column">
                <p class="bottomlabel"   data-html="true"  title="{{chartsFootnote}}"><img src="assets/images/NoteImg.png"></img>
                    <md-button align="right" class="md-raised md-primary">NOTE</md-button>
                </p>
            </md-content>
    
        </div>-->
    <p class="bottomlabel"   data-html="true"  title="{{footnotetitle}}" ng-bind-html="footnote"></p>


    <div hide-gt-sm class="maindiv" flex layout="column">
        <div>
            <div layout="row" >  
                <h3 flex="70" align="left"  class="headingmain">Other Information Areas</h3> 
                <i flex="30" class="zmdi zmdi-menu" align="right" id="otherexportCS" style="padding-right: 10px;padding-top: 10px"  ></i>
            </div>
            <div style="height: 70vh;overflow: auto"> 
                <table id="table22"  md-table  style="overflow-y: scroll" >                  
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head>
                        <tr   md-row >
                            <th class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 12px;   padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Questions}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column   >{{Heading1}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Heading2}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading3}}</th>                                    
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading4}}</th>
                        </tr>
                    </thead>
                    <tbody md-body >
                        <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata.slice(0, testdata.length - 1)" >
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}%</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}%</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'">%</span></td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'">%</span> </td>
                        </tr>
                        <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata.slice(testdata.length - 1, testdata.length)" >
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'"></span></td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'"></span> </td>
                        </tr>


                    </tbody>

                </table>
            </div>

            <md-divider></md-divider>
            <!--<div class="tabsdemoDynamicHeight" >-->
            <md-content>
                <div  layout="column"> <span class="otherheading">{{heading0a}}</span><div style="height: 40vh" id="page0ax" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div layout="column"> <span class="otherheading">{{heading0b}}</span> <div style="height: 40vh" id="page0bx" ></div> </div>
                <md-divider></md-divider>
                <div  layout="column" > <span class="otherheading">{{heading0c}}</span><div style="height: 40vh;" id="page0cx" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div  layout="column"> <span class="otherheading">{{heading1}}</span><div style="height: 40vh" id="top01x" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div layout="column"> <span class="otherheading">{{heading2}}</span> <div style="height: 40vh" id="top02x" ></div> </div>
                <md-divider></md-divider>
                <div  layout="column" > <span class="otherheading">{{heading3}}</span><div style="height: 40vh;" id="bot01x" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div  layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 40vh" id="bot02x" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 40vh" id="top11x" ></div> </div>
                <md-divider></md-divider>
                <div  layout="column" > <span class="otherheading">{{heading6}}</span><div style="height: 40vh;" id="top12x" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div  layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 35vh" id="bot11x" > </div></div>
                <md-divider class="vertical-divider"></md-divider>
                <div layout="column"> <span class="otherheading">{{heading8}}</span> <div style="height: 35vh" id="bot12x" ></div> </div>
                <md-divider></md-divider>

                <!--                    <md-tabs md-dynamic-height="10px" md-border-bottom="">
                                      <md-tab label="Page 1">
                                        <md-content flex layout="column">
                                                            <div  layout="column"> <span class="otherheading">{{heading0}}</span><div style="height: 40vh" id="top01x" > </div></div>
                                                    <md-divider class="vertical-divider"></md-divider>
                                                            <div layout="column"> <span class="otherheading">{{heading1}}</span> <div style="height: 40vh" id="top02x" ></div> </div>
                                                     <md-divider></md-divider>
                                                         <div  layout="column" > <span class="otherheading">{{heading2}}</span><div align="center" style="height: 40vh;" id="bot01x" > </div></div>
                                                   <md-divider class="vertical-divider"></md-divider>
                                                        <div  layout="column"> <span class="otherheading">{{heading3}}</span> <div style="height: 40vh" id="bot02x" ></div> </div>
                                        </md-content>
                                      </md-tab>
                                      <md-tab label="Page 2">
                                        <md-content  flex layout="column">
                                                            <div  layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 40vh" id="top11x" > </div></div>
                                                    <md-divider class="vertical-divider"></md-divider>
                                                            <div  layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 40vh" id="top12x" ></div> </div>
                                                     <md-divider></md-divider>
                                                            <div  layout="column"> <span class="otherheading">{{heading6}}</span> <div style="height: 40vh" id="bot11x" ></div> </div>
                                                    <md-divider class="vertical-divider"></md-divider>
                                                           <div  layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 40vh" id="bot12x" > </div></div>
                                        </md-content>
                                      </md-tab>
                                      
                                        <md-tab></md-tab>
                                    </md-tabs>-->
            </md-content>
            <!--</div>-->
        </div> 
    </div>
</div>