<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" ng-init="graphs()" >

    <div class="maindiv" flex="100" layout="column" hide-xs hide-sm>
        <div layout="row" >
            <md-card flex="50">
                <h3 align="left" class="headingmain">{{'trendcsiscoretrend'|translate}}</h3>
                <div id="top1" style="height: 36vh" ></div>  
            </md-card>
            <md-card flex="50">
                <h3 align="left" class="headingmain">{{'trendfactortrend'|translate}} - {{factorname}} </h3>
                <div id="top2" style="height: 36vh" ></div>  
            </md-card>
        </div>

        <div>
            <md-card>
                <h3 align="left" class="headingmain">{{'trendattributetrend'|translate}} - {{factorname}} </h3>
                <div id="bot" style="height: 36vh" ></div>  
            </md-card>
        </div>
        <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote">
    </div>        

    <div class="maindiv" hide-gt-sm layout="column">
        <div>
            <md-card>
                <h3 align="left" class="headingmain">{{'trendcsiscoretrend'|translate}}</h3>
                <div id="top11" style="height: 35vh;width: 90vw" ></div>  
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{'trendfactortrend'|translate}} - {{factorname}} </h3>
                <div id="top21" style="height: 35vh;width: 90vw" ></div>  
            </md-card>
            <md-card>
                <h3 align="left" class="headingmain">{{'trendattributetrend'|translate}} - {{factorname}} </h3>
                <div id="bot1" style="height: 45vh;width: 90vw" ></div>  
            </md-card>
        </div>
    </div>

</div>