// Material Backgrounds Pack 2

.mb-bg-01 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-01.jpg);
}
.mb-bg-02 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-02.jpg);
}
.mb-bg-03 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-03.jpg);
}
.mb-bg-04 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-04.jpg);
}
.mb-bg-05 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-05.jpg);
}
.mb-bg-06 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-06.jpg);
}
.mb-bg-07 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-07.jpg);
}
.mb-bg-08 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-08.jpg);
}
.mb-bg-09 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-09.jpg);
}
.mb-bg-10 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-10.jpg);
}
.mb-bg-11 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-11.jpg);
}
.mb-bg-12 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-12.jpg);
}
.mb-bg-13 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-13.jpg);
}
.mb-bg-14 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-14.jpg);
}
.mb-bg-15 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-15.jpg);
}
.mb-bg-16 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-16.jpg);
}
.mb-bg-17 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-17.jpg);
}
.mb-bg-18 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-18.jpg);
}
.mb-bg-19 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-19.jpg);
}
.mb-bg-20 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-20.jpg);
}
.mb-bg-21 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-21.jpg);
}
.mb-bg-22 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-22.jpg);
}
.mb-bg-23 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-23.jpg);
}
.mb-bg-24 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-24.jpg);
}
.mb-bg-25 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-25.jpg);
}
.mb-bg-26 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-26.jpg);
}
.mb-bg-27 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-27.jpg);
}
.mb-bg-28 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-28.jpg);
}
.mb-bg-29 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-29.jpg);
}
.mb-bg-30 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-30.jpg);
}
.mb-bg-31 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-31.jpg);
}
.mb-bg-32 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-32.jpg);
}
.mb-bg-33 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-33.jpg);
}
.mb-bg-34 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-34.jpg);
}
.mb-bg-35 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-35.jpg);
}
.mb-bg-36 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-36.jpg);
}
.mb-bg-37 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-37.jpg);
}
.mb-bg-38 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-38.jpg);
}
.mb-bg-39 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-39.jpg);
}
.mb-bg-40 {
    background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-40.jpg);
}

// Material Backgrounds Pack 2

.mb-bg-fb-01 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-01.jpg);
}
.mb-bg-fb-02 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-02.jpg);
}
.mb-bg-fb-03 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-03.jpg);
}
.mb-bg-fb-04 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-04.jpg);
}
.mb-bg-fb-05 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-05.jpg);
}
.mb-bg-fb-06 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-06.jpg);
}
.mb-bg-fb-07 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-07.jpg);
}
.mb-bg-fb-08 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-08.jpg);
}
.mb-bg-fb-09 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-09.jpg);
}
.mb-bg-fb-10 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-10.jpg);
}
.mb-bg-fb-11 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-11.jpg);
}
.mb-bg-fb-12 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-12.jpg);
}
.mb-bg-fb-13 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-13.jpg);
}
.mb-bg-fb-14 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-14.jpg);
}
.mb-bg-fb-15 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-15.jpg);
}
.mb-bg-fb-16 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-16.jpg);
}
.mb-bg-fb-17 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-17.jpg);
}
.mb-bg-fb-18 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-18.jpg);
}
.mb-bg-fb-19 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-19.jpg);
}
.mb-bg-fb-20 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-20.jpg);
}
.mb-bg-fb-21 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-21.jpg);
}
.mb-bg-fb-22 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-22.jpg);
}
.mb-bg-fb-23 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-23.jpg);
}
.mb-bg-fb-24 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-24.jpg);
}
.mb-bg-fb-25 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-25.jpg);
}
.mb-bg-fb-26 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-26.jpg);
}
.mb-bg-fb-27 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-27.jpg);
}
.mb-bg-fb-28 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-28.jpg);
}
.mb-bg-fb-29 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-29.jpg);
}
.mb-bg-fb-30 {
    background-image: url(../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-30.jpg);
}