<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }

	#page1Sop{height: 70vh;width: 65vw; margin-top: 10px;}
	/* #sop1{width: 65vw} */
	@media screen and (max-width: 768px) {
	#page1Sop{width: 95vw;}
	/* #sop1{width: 95vw;} */
	}

    /*    .bottomlabel{
            margin: 0px;
            font-size: 9px !important;
            text-align: right;

        }*/
</style>

<div class="dashboard-container overlay-0 " layout="row" align="center" >
    <div class="maindiv" flex layout="column"  >
        <div ng-hide="hideloader"  style="height: 63vh;;width: 95%;overflow-y: auto">
            <img src="assets/images/loader.gif" alt=""/>
        </div>
        <div ng-hide="!(hideloader)" style="height: 80vh;overflow-y: auto">
            
<!--                <md-tab label="Page 1" ng-click="hidemodelfilter1()">
                        <md-card layout="column">
                                <div layout-gt-sm="row">
                    <div id="page1Sop" flex-gt-sm="100" ></div>
                  </div>
              </md-card>
                </md-tab>-->
                
                    <md-card layout="column">
                        <div layout-gt-sm="row">
                        <!--<h3 flex="50" class="padding-left-10 heading" align="left">{{soptitle1}} {{soptitle2}}</h3>-->
                        <h3 flex-gt-sm="50" style="margin-top: 0px; margin-bottom: 4px;" class="padding-left-10 heading" align="left" >{{'kpiperformancekpiperform'|translate}}</h3>
                        <!--<md-switch  class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="5" ng-change="vm.sopwswitch(data.cb1)"></md-switch><p >Benchmark Score : {{sopswitchoutputcaps}}</p>-->
                        <div flex-gt-sm="25"></div>
                        <div flex-gt-sm="15" align="left" layout="column">
                            <span style="text-align: left;margin-left: 10px;">{{'kpiperformancebenchmark'|translate}} </span>
                            <div align="right" >
                                <md-radio-group ng-model="group1" align="left"   ng-change="vm.sopwswitch(group1)">
                                    <div layout="row"  layout-align="start start">
                                        <md-radio-button ng-checked="true" style="margin: 0px 10px 0px 10px;" value="Total">
                                        <p style="padding-right: 5px">{{'kpitotal'|translate}}</p></md-radio-button>
                                        <!--<md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>-->
                                        <md-radio-button style="margin: 0px 10px 0px 10px;" value="Region">
                                        <p style="padding-right: 5px">{{'rightsidenavregion'|translate}}</p></md-radio-button>
                                    </div>
                                </md-radio-group>
                            </div>
                        </div>
                        <div flex-gt-sm="10"></div>
</div>

                    </md-card>
            <md-card layout="column">
              <div layout-gt-sm="row">
                   <!--<div flex-gt-sm="100" id="sop"  ></div>-->
                   <div  hide-sm hide-xs id="sop" style="height: 66vh;width: 65vw" ></div>
                   <div hide-gt-sm id="sop1" style="height: 120vh;width: 65vw" ></div> 
               </div>
          </md-card>

               
           
        </div>

        <!--<div>-->
        <!-- <p class="bottomlabel">{{sopfooter1}}</p><p class="bottomlabel">{{sopfooter2}}</p><p class="bottomlabel">{{sopfooter3}}</p><p class="bottomlabel">{{sopfooter4}} |  {{footnote}}</p>-->

        <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
        <p class="bottomlabel"   data-html="true"  title="{{'kpifootnote'| translate}}" translate="kpifootnote"></p>
        

    </div>



</div>
