.email-dialog {
    min-width: 800px;
    max-width: 800px;
}

.email-dialog-ccs {
    transition: all .5s;
}

.email-dialog-ccs.ng-hide {
    display: block !important;
    max-height: 0;
    opacity: 0;
}

.email-subject {
    margin-bottom: 0px;
}

.email-content.focussed > .ta-scroll-window.form-control {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.12);
}

.email-content .ta-editor {
    border: 1px solid rgba(0,0,0,0.12);
}

// - Editor toolbar
.email-dialog-editor-toolbar {
    button {
        font-size: 18px;
        min-width: 4rem;
        i {
            transition: all .2s;
            opacity: 0.5;
        }
        &.active, &:hover {
            i {
                opacity: 1;
            }
        }
    }
}