<style>
    .headingmain{
        font-size: 2.0vh;
    }
</style> 


<div class="dashboard-container overlay-2 " layout="row" align="center">

    <div class="maindiv" flex layout="column" hide-xs hide-sm ng-init="graphs()" >
        <div layout="row" ng-init="monthscore()">

            <md-card flex="25">
                <h3 align="left" class="headingmain">{{nationaltitle}}</h3>

                <div  ng-hide="show4"  layout="row" style="height: 35vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-hide="show3"  layout="row" style="height: 40vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px">{{currmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{currquater}} </div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{prevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="20"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="4"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="20"
                                stroke="4"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="20"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg4}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg4"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="20"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>
                <p style="margin: 0px;font-size: 8px">{{firstchart}} </p>
            </md-card>
            <!--</div>-->
            <md-card flex="25">
                <h3 align="left" class="headingmain">{{benchmarktitle}}{{regionname}}</h3>

                <div  ng-hide="show4"  layout="row" style="height: 35vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px" >{{benchmarkcurrmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevmonth}}</div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{benchmark1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="benchmark1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{benchmark2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="benchmark2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px">{{benchmark3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="benchmark3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-hide="show3"  layout="row" style="height: 40vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px">{{benchmarkcurrmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{benchmarkprevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{benchmarkcurquater}} </div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{benchmarkprevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{benchmark1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="benchmark1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="20"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="4"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{benchmark2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="benchmark2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="20"
                                stroke="4"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{benchmark3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="benchmark3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="20"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{benchmark4}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="benchmark4"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="20"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>
            </md-card>
            <md-card flex="50">
                <h3 align="left" class="headingmain">{{factortitle}}</h3>
                <div  id="barlinecontainer" style="height: 45vh " ></div>
                <!--<p style="margin: 0px;font-size: 9px">{{firstchart}} </p>-->
            </md-card>
        </div>
        <div layout="row">
            <md-card flex="50">
                <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{svgname}} -{{top5title}}</h3>
                <div id="treecontainer" style="height: 45vh" ></div>
            </md-card>
            <md-card flex="50">
                <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{delightedtitle}} </h3>
                <div id="bot1" style="height: 45vh; background: url(assets/images/loader.gif)"></div>
            </md-card >
        </div>

         <p class="bottomlabel"   data-html="true"  title="{{overallfootnotetitle}}" ng-bind-html="overallfootnote">
        <!--<p class="bottomlabel">{{footnote}}</p>-->

    </div>



    <div class="maindiv" flex hide-gt-sm layout="column">
        <div> 
            <md-card layout="column">
                <h3 align="left" class="headingmain">{{nationaltitle}} </h3>

                <div layout="column" style="height: 25vh">
                    <div flex="70" layout="row" layout-align="space-around center"    >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 19px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 19px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                    <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                        <div >{{currmonth}} </div>
                        <div style="margin-right: 60px;"> {{prevmonth}}</div>
                        <div> {{prevquater}} </div>
                    </div>
                </div>
            </md-card>
            <md-card layout="column">
                <h3 align="left" class="headingmain">{{benchmarktitle}}{{regionname}} </h3>

                <div layout="column" style="height: 25vh">
                    <div flex="70" layout="row" layout-align="space-around center"    >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 24px" >{{benchmark1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 24px">{{benchmark2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()">{{benchmark3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                    <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                        <div >{{benchmarkcurrmonth}} </div>
                        <div style="margin-right: 60px;"> {{benchmarkprevmonth}}</div>
                        <div> {{benchmarkprevquater}} </div>
                    </div>
                </div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{factortitle}}</h3>
                <div  id="barlinecontainer1" style="height: 35vh " ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain" >{{svgname}} -{{top5title}}</h3>
                <div id="treecontainer1" style="height: 35vh" ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{delightedtitle}} </h3>
                <div id="bot11" style="height: 35vh"></div>
            </md-card >


        </div>
    </div>

</div>