<!--<div class="app-loader" flex layout="column" ng-cloak layout-align="center center">
<img ng-cloak src="assets/images/suzuki.png" alt="" style="margin-bottom: 10px">
<md-progress-linear class="padding-bottom-10" md-mode="indeterminate"></md-progress-linear>
</div>-->


 <!--<link href="../bower_components/bootstraped/mdb.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<style>
    
    @font-face {
font-family: 'Roboto', sans-serif;}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
	filter: gray; /* IE6-9 */
	 filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	 -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	}
        
        
        .md-form{
    position: relative;

}

.md-form .prefix~input, .md-form .prefix~textarea
{
    margin-left: 3rem;
        width: calc(100% - 3rem);

}
.md-form .prefix{
    position: absolute;
    width: 3rem;
    font-size: 3rem;
    color: #cdcdcd !important;
    transition: color .2s;
    
}
.form-control{
    padding-top: 0px;
    padding-bottom: 0px;
}
        
        
</style>

<md-toolbar  id="logintoolbar" layout="row" layout-align="start end" style="background-color:{{themecolor}}" >
        <div class="md-toolbar-tools"   style="min-height:20px;box-shadow: 5px 5px 5px #524E4E">
     		<a layout="row"       layout-align="start center" flex class="navbar-brand" href="http://wheelmonk.com/home/">
                    <img hide-gt-xs id="logo" style=" color: #f2f2f2;" src="assets/images/wheelmonklogo.png">
                    <img layout="row"       layout-align="start center" hide-xs id="logo" style=" color: #f2f2f2;margin-top: 10px" src="assets/images/wheelmonklogo.png" height="50">
                </a>
            <img layout="row"       layout-align="start center" hide-xs id="logo" style=" color: #f2f2f2;margin-top: 8px" src="assets/images/NissanLogo.png" height="60">
         	<!--<p flex style="font-family: Roboto;font-size:3vmax;font-weight: lighter;" id="toolbartext">Web-Apps</p>-->
         	
    	</div>
</md-toolbar>


    <video autoplay="" loop="" poster="assets/default.png" id="bgvid">
    <source src="assets/images/Productive-Morning.webm" type="video/webm">
    <source src="assets/images/Productive-Morning.mp4" type="video/mp4">
</video>






<link rel="shortcut icon" type="image/x-icon" href="http://leadicsapps.com/Favicon3.ico"> 
<style>
<!--
 /* Font Definitions */

 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Roboto",sans-serif;}
.MsoChpDefault
	{font-family:"Roboto",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:1.0cm 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
-->



#logintoolbar{
   min-height:55px !important;
}
#logintoolbar2{
   min-height:40px !important;
}

#toolbartext{
    text-align:right;
    font-size:30px;
}
.card{
    border:0;
}
.card-block{
padding:1.25rem;
}
.md-form{
    position: relative;

}

.md-form .prefix~input, .md-form .prefix~textarea
{
    margin-left: 3rem;
        width: calc(100% - 3rem);

}
.md-form .prefix{
    position: absolute;
    width: 4rem;
    font-size: 2rem !important;
    transition: color .2s;
    padding-right: 2px;
    
}
.form-control{
    padding-top: 0px;
    padding-bottom: 0px;
}
#boxshadow:hover{
 box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);   
}


</style>



<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

<div class="WordSection1">



<div layout="row" layout-xs='column' layout-align="center center" style="height:80vh;">
        <p  hide-xs flex align="center"><span style="font-size:8vh;
        color:#F2F2F2;display: table-cell; vertical-align: middle;text-align: center;">   Your Apps on
        Our Cloud</span></p>
        <p hide-gt-xs  align="center"><span style="font-size:4vh;
        color:#F2F2F2; text-align: center;">   Your Apps on
        Our Cloud</span></p>
<div hide-xs flex layout="column"  align="center" >
        <md-content layout="column" class="md-padding" style="border-top-left-radius: 5px;
    border-top-right-radius: 5px;overflow-y: hidden;height:35vh;width:23vw;padding-top:7vh;background-color:{{themecolor}};box-shadow: 5px 5px 5px #524E4E">
                <form name="login" layout="column"  >
                    <md-input-container >
                        <div  layout="row">
                            <i style="color: #cdcdcd !important;font-size: 7vh" flex="20" class="fa fa-user  prefix">
                                 <md-tooltip md-direction="left">Username</md-tooltip>
                            </i>
                       <!--<label for="email" translate>User Id</label>-->
                        <input layout="row"       layout-align="center end"  style="border-bottom-color: #C0C3CA;margin-top: 10px" flex="70" id="email" label="email" name="email" type="text" ng-model="vm.user.email" required/>
<!--                        <div ng-messages="login.email.$error">
                            <div ng-message when="required"><span >Please enter the User ID</span></div>
                            <div ng-message when="email"><span >Please enter a valid User ID</span></div>
                        </div>-->
                        </div>
                    </md-input-container >
                    <md-input-container >
                        <div  layout="row">
                            <i style="color: #cdcdcd !important;font-size: 7vh" flex="20" class="fa fa-lock  prefix">
                                <md-tooltip md-direction="left">Password</md-tooltip>
                            </i>
                        <!--<label for="password" translate>Password</label>-->
                        <input layout="column"       layout-align="end center" style="border-bottom-color: #C0C3CA;margin-top: 10px" flex="70" id="password" label="password" name="password" type="password" ng-model="vm.user.password" ng-keyup="$event.keyCode == 13 && vm.loginClick()" required/>
<!--                        <div ng-messages for="login.password.$error">
                            <div ng-message when="required"><span >Please enter the Password</span></div>
                            <div ng-message when="password"><span >Please enter a valid Password</span></div>
                            <div ng-message when="required"><span translate>LOGIN.PASSWORD.PLEASE_ENTER</span></div>
                        </div>-->
                        </div>
                    </md-input-container>

                </form>
                
            </md-content>
            <md-button style="border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;color: {{themecolor}};width: 23vw;height:10vh;background-color: whitesmoke;font-size: 3vmax;text-transform: capitalize;box-shadow: 5px 5px 5px #524E4E" class="md-raised full-width margin-left-0 margin-right-0 margin-top-0 margin-bottom-1"  ng-click="vm.loginClick()" ng-disabled="login.$invalid" translate="Login" aria-label="{{'LOGIN.BUTTON' | translate}}">Login</md-button>
               
<!--         <div    style="display: table-cell; vertical-align: middle;text-align: center;line-height:10vh;height:10vh;width:26vw;background-color:white;color:{{themecolor}}"  ng-click="vm.loginClick()">
               Login
            </div>-->
</div>
<div hide-gt-xs  layout="column"  align="center">
        <md-content layout="column" class="md-padding" style="border-top-left-radius: 5px;
    border-top-right-radius: 5px;overflow-y: hidden;height:35vh;width:70vw;padding-top:7vh;background-color:{{themecolor}};box-shadow: 5px 5px 5px #524E4E">
                <form name="login" layout="column"  >
                    <md-input-container >
                        <div  layout="row">
                            <i style="color: #cdcdcd !important;font-size: 7vh" flex="20" class="fa fa-user  prefix">
                                 <md-tooltip md-direction="left">Username</md-tooltip>
                            </i>
                       <!--<label for="email" translate>User Id</label>-->
                        <input layout="row"       layout-align="center end"  style="border-bottom-color: #C0C3CA;margin-top: 10px" flex="70" id="email" label="email" name="email" type="text" ng-model="vm.user.email" required/>
<!--                        <div ng-messages="login.email.$error">
                            <div ng-message when="required"><span >Please enter the User ID</span></div>
                            <div ng-message when="email"><span >Please enter a valid User ID</span></div>
                        </div>-->
                        </div>
                    </md-input-container >
                    <md-input-container >
                        <div  layout="row">
                            <i style="color: #cdcdcd !important;font-size: 7vh" flex="20" class="fa fa-lock  prefix">
                                <md-tooltip md-direction="left">Password</md-tooltip>
                            </i>
                        <!--<label for="password" translate>Password</label>-->
                        <input layout="column"       layout-align="end center" style="border-bottom-color: #C0C3CA;margin-top: 10px" flex="70" id="password" label="password" name="password" type="password" ng-model="vm.user.password"  ng-keyup="$event.keyCode == 13 && vm.loginClick()" required/>

                        </div>
                    </md-input-container>

                </form>
                
            </md-content>
            <md-button style="border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;color: {{themecolor}};width: 70vw;height:10vh;background-color: whitesmoke;font-size: 3vmax;text-transform: capitalize;
                box-shadow: 5px 5px 5px #524E4E" class="md-raised full-width margin-left-0 margin-right-0 margin-top-0 margin-bottom-1"  ng-click="vm.loginClick()"
                ng-disabled="login.$invalid" translate="Login" aria-label="{{'LOGIN.BUTTON' | translate}}">Login</md-button>
               
         
</div>


    

</div>
<!--/Frm with header-->

</div>

<div  flex="noshrink" layout="column" layout-align="end none" >
    <md-toolbar   id="logintoolbar2" md-theme="cyan-white">
        <div  class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
             <a href="mailto:contact@leadics.com?Subject=Hello%20Leadics" target="_top">
                 <img style="background-color: #ffffff; height: 35px;"  src="assets/images/mail.jpg" alt=""/>
             </a>
             <a href="http://www.leadics.com" target="_blank"> 
                 <img style="background-color: #ffffff; height: 35px;"  src="https://s3-us-west-2.amazonaws.com/cdn.leadics.com/Leadics_Logo_Transparent.png" alt=""/>
             </a>

        </div>
    </md-toolbar>
</div>

</div>



