 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" ng-init="graphs()" >

    <div hide-sm hide-xs class="maindiv" flex="100" layout="column" flex-xs="100" >
        
        <div style="background-color: #607D8B;color:ivory; height: 25px; padding-top: 10px;margin-top: 8px" >
                        <h3 align="left" style="margin-top: 0px" >{{dealer}}</h3>
              </div>
        
        <div layout="row">
            <div flex="20">
               <md-card >
                <h3 class="headingmain">SSI Summary </h3>
                        <div layout="row" style="height: 30vh">
                            
                            <div layout-margin flex="45" layout="column" layout-align="space-around start"  >
                                    <div>{{currmonth}} </div>
                                    <div> {{prevmonth}}</div>
                                    <div> {{prevquater}} </div>
                                </div>
                            
                            
                             <div flex="50" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 12px "  >
                                    <div class="progress-wrapper">
                                           <div class="progress ng-cloak" ng-style="getStyle()">{{svg1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="28"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="8"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()">{{svg2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="28"
                                                stroke="8"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()">{{svg3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="28"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="8"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                       </md-card></div>
            
                       <div flex="40"><md-card >
                        <h3 class="headingmain">Factor Scores </h3>
                        <div id="top1" style="  ;height: 30vh" ></div>
                       </md-card></div>
                
                    <div flex="40"><md-card >
                        <h3 class="headingmain">Top - Bottom SOP Performance</h3>
                        <div id="top2" style="  ;height: 30vh" ></div>
                        </md-card></div>
        </div>
        <div layout="row">
            <div flex="50"><md-card >
                    <h3 class="headingmain">Trend Analysis - {{factor}}</h3>
                     <div id="bot1" style="height: 28vh" ></div>
                    </md-card></div>
                <div flex="50"> <md-card >
                    <h3 class="headingmain">Attribute Trend Analysis - {{factor}}</h3>
                    <div id="bot2" style="height: 28vh"></div>
                    </md-card ></div>
        </div>
      
    </div>        
    
    
    
    <div hide-gt-sm class="maindiv" flex="100" layout="column" flex-xs="100" >
        <div>
            <div style="background-color: #607D8B;color:ivory; height: 25px; padding-top: 10px;margin-top: 8px" >
                        <h3 align="left" style="margin-top: 0px" >{{dealer}}</h3>
              </div>
               <md-card >
                <h3 class="headingmain">SSI Summary </h3>
                        <div layout="column" style="height: 20vh;">
                            <div flex="50" layout="row" layout-align="space-around center"  style="padding-right: 10px; padding-top: 12px "  >
                                    <div class="progress-wrapper">
                                           <div class="progress ng-cloak" ng-style="getStyle1()">{{svg1}}</div>
                                               <div style="margin-bottom: 10px"
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="30"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="8"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle1()">{{svg2}}</div>
                                        <div style="margin-bottom: 10px"
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                                stroke="8"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle1()">{{svg3}}</div>
                                        <div   round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="8"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                                <div style="margin: 2px" layout-margin flex="45" layout="row" layout-align="space-around start"  >
                                        <div>{{currmonth}} </div>
                                        <div style="margin-right: 60px;"> {{prevmonth}}</div>
                                        <div> {{prevquater}} </div>
                                    </div>
                            </div>
                       </md-card>
            
                       <md-card >
                        <h3 class="headingmain">Factor Scores </h3>
                        <div id="top11" style="  ;height: 35vh" ></div>
                       </md-card>
                        <md-card >
                        <h3 class="headingmain">Top - Bottom SOP Performance</h3>
                        <div id="top21" style="  ;height: 35vh" ></div>
                        </md-card>
                            
                <md-card >
                        <h3 class="headingmain">Trend Analysis - {{factor}}</h3>
                         <div id="bot11" style="height: 35vh" ></div>
                    </md-card>
                        
                 <md-card >
                    <h3 class="headingmain">Attribute Trend Analysis - {{factor}}</h3>
                    <div id="bot21" style="height: 35vh"></div>
                    </md-card >
        </div>   
    </div>
    
</div>