<div layout="column" layout-align="center center">
    <h1 class="font-weight-100 font-size-8 margin-top-40 text-light" translate>Join the team</h1>
    <div layout="row" layout-align="center center">
        <p flex="70"  flex-xs="90" class="md-headline font-weight-300 text-center text-light" translate>Anyone who buys triangular can now join the team and see changes as they happen, submit pull requests, create issues and get involved!</p>
    </div>

    <div flex layout="row" layout-align="center center" layout-fill>

        <md-card class="margin-top-40 margin-bottom-200" flex="70" flex-xs="90">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate>Fill in the form below to join</h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="githubForm">
                    <md-input-container class="md-block">
                        <label translate>Triangular Purchase Code</label>
                        <input name="purchaseCode" ng-model="vm.data.purchaseCode" required>
                        <div ng-messages="githubForm.purchaseCode.$error">
                            <div ng-message when="required"><span translate>Enter a triangular Purchase Code</span></div>
                        </div>
                    </md-input-container>
                    <md-autocomplete
                        md-input-name="githubUser"
                        md-floating-label="{{'GitHub Username'| triTranslate}}"
                        md-selected-item="vm.data.githubUser"
                        md-search-text="vm.searchText"
                        md-items="user in vm.userSearch(vm.searchText)"
                        md-item-text="user.login"
                        md-min-length="0"
                        md-delay="400"
                        md-autoselect
                        md-select-on-match
                        placeholder="Please enter your GitHub username"
                        md-menu-class="autocomplete-custom-template"
                        required>
                        <md-item-template>
                            <div class="github-user-dropdown" layout="row" layout-align="start center">
                                <img class="github-user-avatar" ng-src="{{user.avatar_url}}" alt="{{user.login}}">
                                <span flex>{{user.login}}</span>
                            </div>
                        </md-item-template>
                        <div ng-messages="githubForm.githubUser.$error">
                            <div ng-message when="required"><span translate>Enter a GitHub Username</span></div>
                        </div>
                    </md-autocomplete>
                </form>

                <div class="margin-top-40" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-disabled="githubForm.$invalid" ng-click="vm.register()" translate="Give me access to the repository" aria-label="{{'Give me access to the repository'| triTranslate}}"></md-button>
                </div>

            </md-card-content>
        </md-card>
    </div>
</div>
