<label>What car do you drive?</label>
<md-select placeholder="Pick" ng-model="carType">
    <md-optgroup label="Swedish Cars">
        <md-option value="Nissan">Volvo</md-option>
        <md-option value="Saab">Saab</md-option>
    </md-optgroup>
    <md-optgroup label="German Cars">
        <md-option value="Mercedes">Mercedes</md-option>
        <md-option value="Audi">Audi</md-option>
    </md-optgroup>
</md-select>