// Tables

$table-border-color: #f2f2f2;

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}
th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
    border-spacing: 0;
    border-collapse: collapse;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 8px;
                line-height: 24px;
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }
}
.table-bordered {
    border: 1px solid $table-border-color;
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $table-border-color;
            }
        }
    }
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 2px;
        }
    }
}
.table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: $table-border-color;
    }
}
.table-hover {
    > tbody > tr:hover {
        background-color: $table-border-color;
    }
}
.table-responsive {
    overflow-x: auto;

    @media screen and (max-width: $layout-breakpoint-xs) {
        width: 100%;
        margin-bottom: (24px * 0.75);
        overflow-y: hidden;
        border: 1px solid $table-border-color;
        > .table {
            margin-bottom: 0;
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        white-space: nowrap;
                    }
                }
            }
        }
        > .table-bordered {
            border: 0;
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th:first-child,
                        > td:first-child {
                        border-left: 0;
                    }
                    > th:last-child,
                        > td:last-child {
                        border-right: 0;
                    }
                }
            }
            > tbody,
            > tfoot {
                > tr:last-child {
                    > th,
                    > td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
