   
<style>
    .headerr{
        text-align: center;
        color: #17C2D7;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: solid #FFD740;
    }
</style>


<md-content  style="padding-left: 5px;" flex="85" layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="vm.currentTab">

        <md-tab >
            <md-tab-label >
                <!--<i class="zmdi zmdi-filter-list"  style="font-size: 20px"></i>    filterTooltip -->
                <!--<p ng-hide="mainselectionhide">{{mainSelectionTooltip}}</p>-->
                <p ng-show="filterSelShow">{{'rightsidenavfilters'|translate}}</p>
                <p ng-show="(!filterSelShow)">{{'rightsidenavmainselection'|translate}}</p>
            </md-tab-label>
            <md-tab-body>
                <div>
                    <div ng-hide="!(priorityhide)" class=""  style="clear:both; ;padding-top: 2px;padding-bottom: 5px">
                        <div layout="column" style="padding-left: 0px">

                            <md-input-container style="margin-bottom: 3px;" ng-hide="hideyear"><label class="labels">{{'rightsidenavyear'|translate }}</label><md-select ng-model="year" placeholder="Year" ng-change="yearchanged(year)" >
                                    <md-option ng-value="yearobj.name" ng-repeat="yearobj in Filterarray.year track by $index" >{{yearobj.value}}</md-option>
                                </md-select></md-input-container>
                            
                            
                             <md-input-container style="margin-bottom: 3px;" ng-hide="hideyear2"><label class="labels">{{'rightsidenavyear'|translate }}</label><md-select ng-model="year" placeholder="Year" ng-change="yearchanged(year)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.year2 track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannual track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 3px;" ng-hide="hidemonth"><label class="labels">{{monthl}}</label><md-select ng-model="month" placeholder="Month" ng-change="monthchanged(month)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.month track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                        </div>
                    </div>
                    <div ng-hide="priorityhide" class=""  style="clear:both; padding-top: 5px;padding-bottom: 5px">
                        <div layout="column" style="padding-left: 0px">

                            <md-input-container ng-hide="dealerpriorityhide" style="margin-bottom: 3px;" ng-hide="hideyear"><label class="labels">{{'rightsidenavyear'|translate }}</label><md-select ng-model="year" placeholder="Year" ng-change="yearchanged(year)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.year track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <!--
                                                        <md-input-container ng-hide="!(dealerpriorityhide)"  style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                                            <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                                                <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannualx track by x.name" >{{x.value}}</md-option>
                                                            </md-select></md-input-container>
                            
                                                        <md-input-container ng-hide="dealerpriorityhide"   style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                                            <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                                                <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannual track by x.name" >{{x.value}}</md-option>
                                                            </md-select></md-input-container>
                            
                                                        <md-input-container ng-hide="dealerpriorityhide"  style="margin-bottom: 3px;" ng-hide="hidemonth"><label class="labels">{{monthl}}</label><md-select ng-model="month" placeholder="Month" ng-change="monthchanged(month)" class="zero-margin-padding">
                                                                <md-option ng-value="x.name" ng-repeat="x in Filterarray.month track by x.name" >{{x.value}}</md-option>
                                                            </md-select></md-input-container>-->
                        </div>
                    </div>

                    <!-- Filters Search Criteria-->
                    <!--<i class="fa fa-filter" aria-hidden="true" style="font-size: 20px"></i>     mainSelectionTooltip -->
                    <div>
                        <!--<p class="headerr" style="padding-top: 5px" ng-show="filterSelShow">{{filterTooltip}}</p>--> 
                        <p class="headerr" style="padding-top: 5px" ng-hide="mainselectionhide">{{'rightsidenavmainselection'|translate}}</p> 
                    </div>
                    <div ng-hide="!(priorityhide)" class=""  style="clear:both; padding-top: 5px;padding-bottom: 10px">
                        <div ng-hide="!(loyaltydealerhide)" layout="column" style="padding-left: 0px">

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="hidezone"><label class="labels">{{ zonel}}</label><md-select ng-model="zone" placeholder="Zone"  ng-change="zonechanged(zone)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.zone track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            
                            
                           

                            <md-input-container style="margin-bottom: 5px;" ng-hide="hideregion"><label class="labels">{{ 'rightsidenavregion'|translate}}</label><md-select ng-model="region" placeholder="Region"  ng-change="regionchanged(region)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.region track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            
                            <md-input-container style="margin-bottom: 5px;" ng-hide="hidedgregion"><label class="labels">{{ 'rightsidenavregion'|translate}}</label><md-select ng-model="dgregion" placeholder="Region"  ng-change="dgregionchanged(dgregion)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dgregion track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="snaphidezone"><label class="labels">{{ zonel}}</label><md-select ng-model="snapzone" placeholder="Zone"  ng-change="snapzonechanged(snapzone)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.zone track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;" ng-hide="snaphideregion"><label class="labels">{{ 'rightsidenavregion'|translate}}</label><md-select ng-model="snapregion" placeholder="Region"  ng-change="snapregionchanged(snapregion)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.region track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container style="margin-bottom: 5px;"  ng-hide="hidedealergroup"><label class="labels">{{'rightsidenavdg'|translate}}</label><md-select ng-model="dealergroup" placeholder="Dealer Group"  ng-change="dealergroupchanged(dealergroup)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealergroup track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container style="margin-bottom: 5px;"  ng-hide="dealerhide"><label class="labels">{{'rightsidenavdealer'|translate}}</label><md-select ng-model="dealer" placeholder="Dealer" ng-change="dealerchanged(dealer)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container style="margin-bottom: 5px;"  ng-hide="redalertdealerhide"><label class="labels">{{'rightsidenavdealer'|translate}}</label><md-select ng-model="redalertdealer" placeholder="Dealer" ng-change="redalertdealerchanged(redalertdealer)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.redalertdealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="dealersnaphide"><label class="labels">{{ 'rightsidenavdealer'|translate}}</label><md-select ng-model="dealersnap" placeholder="Dealer" ng-change="dealersnapchanged(dealersnap)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="hidemodel"><label class="labels">{{'rightsidenavmodel'|translate}}</label><md-select ng-model="model" placeholder="Model"  ng-change="modelchanged(model)" class="zero-margin-padding">
                                    <md-option ng-value="modelobj.name" ng-repeat="modelobj in Filterarray.model track by $index" >{{modelobj.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 5px;" ng-hide="hidefactor"><label class="labels">{{'rightsidenavfactor'|translate}}</label><md-select ng-model="factor" placeholder="Factor"  ng-change="factorchanged(factor)" class="zero-margin-padding">
                                    <md-option ng-value="factorobj.name" ng-repeat="factorobj in Filterarray.factor track by $index" >{{factorobj.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container  style="margin-bottom: 5px;" ng-hide="hidetrendfactor"><label class="labels">{{factort}}</label><md-select ng-model="factor" placeholder="Factor"  ng-change="factorchanged(factor)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <!--                            <md-input-container ng-hide="periodhide"   style="margin-bottom: 1px;" ><label class="labels">{{trendfactorlabel}}</label><md-select ng-model="period" placeholder="Period" ng-change="periodchanged(period)" class="zero-margin-padding">
                                                                <md-option ng-value="x.name" ng-repeat="x in Filterarray.period track by x.name" >{{x.value}}</md-option>
                                                            </md-select></md-input-container>-->
                        </div>
                         <div ng-hide="loyaltydealerhide" layout="column" style="padding-left: 0px">
                            
                            
                            <md-radio-group ng-change="onchangeloyalSwitch(loyalSwitch)" style="font-size:12px;" ng-model="loyalSwitch">
                                <md-radio-button ng-checked="true" value="Study Total">{{'rightsidenavstudy'|translate}}</md-radio-button>
                                <md-radio-button ng-hide="regionofdealerhide" value="Region">{{'rightsidenavregionofdealer'|translate}}</md-radio-button>
                                <md-radio-button ng-hide="regionofdealergrouphide" value="Region">{{'rightsidenavregionofdealergroup'|translate}}</md-radio-button>
                                <md-radio-button ng-hide="loyaltydealertitlehide"  value="Dealer">{{dealernameonloyal}}</md-radio-button>
                            </md-radio-group>
                             <br>
                            <br>
                            
                            <md-input-container style="margin-bottom: 5px;"  ng-hide="dealerhide"><label class="labels">{{'rightsidenavdealer'|translate}}</label><md-select ng-model="dealer" placeholder="Dealer" ng-change="dealerchanged(dealer)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            
                           
                        </div>
                    </div>


                    <div ng-hide="priorityhide" class=""  style="clear:both; padding-top: 5px;padding-left: 5px;padding-bottom: 5px">
                        <div ng-hide="dealerpriority" layout="column" style="padding-left: 0px">

                            <span class="padding-left-10" ng-hide="dealerandgroup" style="text-align: center; font-size:16px;font-weight:400">{{'rightsidenavchcomparer'|translate}}</span>
                            <md-radio-group  ng-hide="dealerandgroup" ng-change="onchangeRadioSwitch(radioSwitch)" style="font-size:12px;" ng-model="radioSwitch">
                                <md-radio-button ng-checked="true" value="Region Comparison">{{'rightsidenavregioncompare'|translate}}</md-radio-button>
                                <md-radio-button value="Dealer Comparison">{{'rightsidenavdealercompare'|translate}}</md-radio-button>
                                <md-radio-button value="Dealer Group Comparison">{{'rightsidenavdgcompare'|translate}}</md-radio-button>
                            </md-radio-group>
                            <div layout="column">

                                <div layout="row" layout-align="center center">
                                    <span ng-show="radioSwitch == 'Region Comparison'" style="text-align: center; font-size:16px;font-weight:400">{{'rightsidenavregioncompare'|translate}}</span>
                                    <span ng-show="radioSwitch == 'Dealer Comparison'" style="text-align: center; font-size:16px;font-weight:400">{{'rightsidenavdealercompare'|translate}}</span>
                                    <span ng-show="radioSwitch == 'Dealer Group Comparison'" style="text-align: center; font-size:16px;font-weight:400">{{'rightsidenavdgcompare'|translate}}</span>

                                </div>

                              
                                <md-input-container ng-show="radioSwitch == 'Region Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavregion1'|translate}}</label><md-select ng-model="region1"  placeholder="First Region" ng-change="region1changed(region1)" class="zero-margin-padding">
                                         <md-option ng-value="year.name" ng-repeat="year in Filterarray.regionx track by year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>
                                    <md-input-container ng-show="radioSwitch == 'Region Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavregion2'|translate}}</label><md-select ng-model="region2"  placeholder="Second Region" ng-change="region2changed(region2)" class="zero-margin-padding">
                                         <md-option ng-value="year.name" ng-repeat="year in Filterarray.regiony  track by year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>

                             
                             
                                    <md-input-container ng-show="radioSwitch == 'Dealer Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavdealer1'|translate}}</label><md-select ng-model="dealer1"  placeholder="First Dealer" ng-change="dealer1changed(dealer1)" class="zero-margin-padding">
                                         <md-option ng-value="year.name" ng-repeat="year in Filterarray.dealerx  track by year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>
                                    <md-input-container ng-show="radioSwitch == 'Dealer Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavdealer2'|translate}}</label><md-select ng-model="dealer2"  placeholder="Second Dealer" ng-change="dealer2changed(dealer2)" class="zero-margin-padding">
                                         <md-option ng-value="year.name"  ng-repeat="year in Filterarray.dealery track by  year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>
                             
                             
                                    <md-input-container ng-show="radioSwitch == 'Dealer Group Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavdg1'|translate}}</label><md-select ng-model="dealergroup1"  placeholder="First Dealer Group" ng-change="dealergroup1changed(dealergroup1)" class="zero-margin-padding">
                                         <md-option ng-value="year.name" ng-repeat="year in Filterarray.dealergroupx track by year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>
                                    <md-input-container ng-show="radioSwitch == 'Dealer Group Comparison'" style="margin-bottom: 5px;" ><label class="labels">{{'rightsidenavdg2'|translate}}</label><md-select ng-model="dealergroup2"  placeholder="Second Dealer Group" ng-change="dealergroup2changed(dealergroup2)" class="zero-margin-padding">
                                         <md-option ng-value="year.name"  ng-repeat="year in Filterarray.dealergroupy track by year.name" >{{year.value}}</md-option>
                                    </md-select></md-input-container>
                                
                             

                            </div>

                        </div>
                     
                    </div>


                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>



<div style="margin: 1vmin;padding: 5px" layout="column"  content-padding >

    <div ng-hide="starlabelhide" layout="row"> <a flex="15"> <img  style="height: 30px; width: 30px"  src="assets/images/best1.jpg" alt=""/> </a>
        <span flex="80" style="padding-top: 5px; font-weight: bold;font-size: 14px" >{{'rightsidenavbest'|translate}}</span>
    </div>
    <div ng-hide="starlabelhide" layout="row"> <a flex="15"> <img  style="height: 30px; width: 30px"  src="assets/images/worst1.jpg" alt=""/> </a>
        <span flex="80" style="padding-top: 5px; font-weight: bold;font-size: 14px" > {{'rightsidenavworst'|translate}}</span>
    </div>
</div>


<div flex layout="row"  layout-align="end end">

    <md-button ng-hide="pagenumber1 != '1'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax">  {{sumtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>

    <md-button ng-hide="pagenumber1 != '2'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{regiontip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '3'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{trendtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '4'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{prioritytip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '5'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax">  {{soptip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '6'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{strendtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '7'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{otherstip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '8'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{dscoretip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '9'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{dsnaptip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '10'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{modeltip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '11'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{loyaltip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>

</div>