<md-button ng-click="vm.addTodo($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="{{'TODO.ADD-TODO'| triTranslate}}">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
</md-button>
