.todo-container {
    .slide {
        &.ng-enter {
            @include slideInRight();
        }
        &.ng-leave {
            @include slideOutRight();
        }
    }
}

@media (max-width: $layout-breakpoint-xs) {
    .todo-container {
        padding: 0px;
        md-card {
            margin: 0px;
        }
    }
}