<style>
   md-dialog{ 
    min-width:78%;
    max-width: 78%;
   
    }
break {page-break-after: always ;}
@media print {
    break {page-break-after: always !important;}
}
</style>


<!--<script src="../../../../bower_components/dom-to-image.js" type="text/javascript"></script>-->



<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
        
       
<!--		<md-button ng-click= "printdialog()">
       	Download
        </md-button>
       -->
        
 
	  
   	
  
        <md-button class="md-icon-button" ng-click="cancel()" ng-controller="m2page13Controller" style="padding-top:0px;">
            <md-icon md-font-icon="fa fa-times-circle fa-6" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    

    <md-dialog-content >
       
    
      <div class="md-dialog-content content-wrapper"  id="printme"  style="background:#fff;"  >
          
  		

         <div class="dashboard-container overlay-2 " layout="row" align="center" id="summary" ng-init="summarygraphs()" style="background:#fff;">
            
    <div class="maindiv" flex layout="column" hide-xs hide-sm  >
         <div  layout="row"> 
                 <div flex><h4 align="left"><b>Year</b>:{{year}}</h4></div>
                  <div flex><h4 align="left"><b>Bi-Annual</b>:{{biannual}}</h4></div>
                 <div flex><h4 align="left"> <b>Month</b>:{{month}}</h4></div>
             </div>
         <div  layout="row"> 
                 <div flex><h2 align="left">Summary</h2></div>
                  
             </div>
        <div layout="row" >
            
                <md-card flex="20">
                    <h3 align="left" class="headingmain">{{nationaltitle}}</h3>
                     
                        <div ng-hide="show4" layout="row" style="height: 40vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                                </div>
                            
                            
                     <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 22px" >{{svg1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="30"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="6"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 22px">{{svg2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                                stroke="6"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 22px">{{svg3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="6"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                    
                            <div ng-hide="show3"  layout="row" style="height: 40vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div >{{currmonth}} </div>
                                    <div> {{prevmonth}}</div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{currquater}} </div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                                </div>
                            
                            
                            <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                           <div class="progress-wrapper">
                                               <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{svg1}}</div>
                                                      <div
                                                           round-progress
                                                           max="1000"
                                                           current="svg1"
                                                           color="#45ccce"
                                                           bgcolor="#eaeaea"
                                                           radius="23"
                                                           semi="isSemi"
                                                           rounded="fasle"
                                                           stroke="4"
                                                           clockwise="clockwise"
                                                           responsive="responsive"
                                                           duration="800"
                                                           animation="easeInOutQuart"
                                                           offset="1"
                                                           on-render="showPreciseCurrent">
                                                       </div>
                                               </div>

                                           <div class="progress-wrapper">
                                              <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{svg2}}</div>
                                               <div
                                                       round-progress
                                                       max="1000"
                                                       current="svg2"
                                                       color="#45ccce"
                                                       bgcolor="#eaeaea"
                                                       radius="23"
                                                       stroke="4"
                                                       semi="false"
                                                       rounded="fasle"
                                                       clockwise="clockwise"
                                                       responsive="false"
                                                       duration="800"
                                                       animation="easeInOutQuart"
                                                   animation-delay="0"> </div>
                                           </div> 

                                           <div class="progress-wrapper">
                                          <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg3}}</div>
                                               <div  round-progress
                                                     max="1000"
                                                     current="svg3"
                                                     color="#45ccce"
                                                       bgcolor="#eaeaea"
                                                       radius="23"
                                                     semi="isSemi"
                                                     rounded="fasle"
                                                     stroke="4"
                                                     clockwise="clockwise"
                                                     animation="easeInOutQuart">
                                               </div>
                                           </div>
                                
                                           <div class="progress-wrapper">
                                          <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg4}}</div>
                                               <div  round-progress
                                                    max="1000"
                                                    current="svg4"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="23"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="4"
                                                    clockwise="clockwise"
                                                    animation="easeInOutQuart">
                                               </div>
                                           </div>

                                       </div>
                            </div>
                    </md-card>
                <!--</div>-->
                <md-card flex="30">
                        <div layout="row">  <h3 flex="70" align="left" class="headingmain">{{regionaltitle}}</h3> <i flex="30" class="zmdi zmdi-menu" align="right" style="color: #00A000;padding-right: 10px;padding-top: 20px" ng-csv="printdata()" filename="regionalCSI.csv" csv-header="['Region','Score','Respondents' ]" ></i></div>
                    <div   id="map" style="height: 40vh;" align="center" ></div>
                </md-card>
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{factortitle}}</h3>
                    <div  id="summarybarlinecontainer" style="height: 40vh " ></div>
                </md-card>
        </div>
        <div layout="row">
            <md-card flex="50">
                    <h3 align="left" class="headingmain" >{{top5title}}</h3>
                     <div id="summarytreecontainer" style="height: 40vh" ></div>
                </md-card>
            <md-card flex="50">
                    <h3 align="left" class="headingmain">{{delightedtitle}} </h3>
                    <div id="summarybot1" style="height: 40vh"></div>
                </md-card >
        </div>
        

        <p class="bottomlabel">{{footnote}}</p>
    
</div>
   
</div>
    
<!--    end of summary          -->
              
              
    
    <div class="dashboard-container overlay-2 " layout="row" id="regionanalysis" style="background:#fff;" align="center" ng-init="regionalnAlysisGraphs()" >

    <div class="maindiv" flex layout="column" hide-sm hide-xs >
        
          <div  layout="row"> 
                 <div flex><h2 align="left">Regional Analysis</h2></div>
                  
             </div>
        <div layout="row">
            <md-card layout="column" flex="40" style="height:40vh; ">
                    <h3 align="left" class="headingmain">{{ regfacttitle}}</h3>   
                            <md-select style="margin: 0px" ng-model="factor"  placeholder="Factor" ng-change="factorchanged(factor)" class="zero-margin-padding">
                               <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor" >{{x.value}}</md-option>
                            </md-select>
                        
                    <br>
                    <div flex="50" layout="column" layout-align="space-around center"  >
                                <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="reggetStyle()" style="font-size: 16px">{{svgvalue}}</div>
                                           <div round-progress
                                                max="1000"
                                                current="svgvalue"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="60"
                                                semi="isSemi"
                                                rounded="false"
                                                stroke="10"
                                                clockwise="clockwise"
                                                responsive="responsive"
                                                duration="800"
                                                animation="easeInOutQuart"
                                                offset="1"
                                                on-render="showPreciseCurrent">
                                           </div>
                                    </div> 
<!--                                <div round-progress-bar    baseColor ="#45CCCE"  current-value="950" size="250" thickness="8"></div>
                                -->
                                
                    <span align="center" style="margin: 0px; padding: 0px" >{{svgname}}</span>   
                    </div>
               </md-card>
                <md-card  flex="60"  >
                    <h3 align="left" class="headingmain">{{svgname}} {{byregiontitle}} </h3>
                    <div id="regionalbarlinecontainer" style="height:35vh;" ></div>
                </md-card>
        </div>
        <div layout="row">
           <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} -{{ meantitle}}</h3>
                 <div id="regionalbot1" style="height:33vh; " ></div>
            </md-card>
            <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} - {{percenttitle}}</h3>
                <div id="regionalbot2" style="height:33vh;"></div>
            </md-card >
        </div>
      <p class="bottomlabel">{{footnote}}
</p>
    </div>   
    
    
    
    <div class="maindiv" layout="column" hide-gt-sm >
        <div>
            <md-card layout="column" style="height:50vh; width: 90vw">
                    <h3 align="left" class="headingmain">{{ regfacttitle}}</h3>   
                             <md-select style="margin: 0px" ng-model="factor" ng-change="factorchanged(factor)" class="zero-margin-padding">
                               <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor" >{{x.value}}</md-option>
                            </md-select>
                    <br>
                    <div flex="50" layout="column" layout-align="space-around center"  >
                                <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 16px">{{svgvalue}}</div>
                                           <div
                                                round-progress
                                                max="1000"
                                                current="svgvalue"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="55"
                                                semi="isSemi"
                                                rounded="false"
                                                stroke="10"
                                                clockwise="clockwise"
                                                responsive="responsive"
                                                duration="800"
                                                animation="easeInOutQuart"
                                                offset="1"
                                                on-render="showPreciseCurrent">
                                            </div>
                                    </div> 
                <h3 align="center" style="margin: 0px; padding: 0px" >{{svgname}}</h3>     </div>
               </md-card>
                <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} {{byregiontitle}} </h3>
                    <div id="barlinecontainer1" style="height:50vh; width: 90vw" ></div>
                </md-card>
               <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} -{{ meantitle}}</h3>
                     <div id="regbot11" style="height:50vh; width: 90vw" ></div>
                </md-card>
                <md-card >
                    <h3 align="left" class="headingmain">{{svgname}} - {{percenttitle}}</h3>
                    <div id="regbot21" style="height:50vh; width: 90vw"></div>
                </md-card >
      <p class="bottomlabel">{{footnote}}
</p>
        </div> 
    </div>
</div><!--
          
          end of regional analysis


       
          
          
       for trend  analysis page 
          
-->         <div class="dashboard-container overlay-2 " layout="row" id="trendanalysis" align="center" ng-init="trendgraphs()" style="background:#fff;">

    <div class="maindiv" flex="100" layout="column" hide-xs hide-sm>
        <div  layout="row"> 
                 <div flex><h2 align="left">Trend Analysis</h2></div>
                  
             </div>
        <div layout="row" >
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{trend1}}</h3>
                            <div id="trendtop1" style="height: 35vh" ></div>  
                </md-card>
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{trend2}} - {{factorname}} </h3>
                            <div id="trendtop2" style="height: 35vh" ></div>  
                </md-card>
        </div>
        
        <div>
            <md-card>
                    <h3 align="left" class="headingmain">{{trend3}} - {{factorname}} </h3>
                    <div id="trendbot" style="height: 30vh" ></div>  
            </md-card>
        </div>
          <p class="bottomlabel">{{footnote}}
</p>
    </div>        
    
     
    
</div><!--
                    end for  trend  analysis  
             
             
             
             
                 for priority  analysis page 
          
         
--><div class="dashboard-container overlay-2 " id="priorityanalysis" layout="row" align="center" ng-init="prioritygraphs()" style="background:#fff;">

    <div class="maindiv" flex layout="column"   >
        
        <div  layout="row"> 
                 <div flex><h2 align="left">Priority Analysis</h2></div>
                  
             </div>
        <div style="overflow-y: scroll">
                       <div hide-xs hide-sm id="prioritymainchart" style="height: 80vh;" ></div>                
                </div>
                
         <p class="bottomlabel">{{footnote}}
    </div>        
    
     
    
</div><!--
                  end of priority anlysis  
           
           
           
           
                  for sop   performance  
          
-->          <div class="dashboard-container overlay-2 " layout="row" align="center" id="sopperformance" ng-init="SopPerformanceGraphs()" style="background:#fff;">

    <div class="maindiv" flex layout="column"   >
         <div  layout="row"> 
                 <div flex><h2 align="left">Sop Performance</h2></div>
                  
             </div>
        <md-card hide-xs hide-sm layout="row"> 
                <h3 flex="50" class="padding-left-10 heading" align="left">{{soptitle1}} {{soptitle2}}</h3> 
               
            <div flex="10"></div>
                <div flex="40" align="right" layout="column">
                    <span style="text-align: center">{{soptitle3}} </span>
                        <md-radio-group ng-model="group1" ng-change="vm.sopwswitch(group1)"> 
                            <div layout="row">
                              <md-radio-button ng-checked="true" style="margin: 10px" value="Total"><p style="padding-right: 5px">{{opt1}}</p></md-radio-button>
                              <md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>
                              <md-radio-button style="margin: 10px" value="Region">                 <p style="padding-right: 5px">{{opt3}}</p></md-radio-button>
                            </div>
                        </md-radio-group>
                </div>
            </md-card>
        
                <md-card hide-gt-sm layout="row" align="center center" > 
                        <div style="padding: 5px" layout="row" align="center center">
                                <md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="20" 
                                    ng-change="vm.sopwswitch(data.cb1)">
                                </md-switch>
                        </div>
                        <br>
                        <p style="margin-top: 22px">Benchmark Score : {{sopswitchoutputcaps}}</p>
                </md-card>

       
                <div style="height: 70vh;overflow-y: scroll">
                       <div hide-sm hide-xs id="sopsop" style="height: 60vh" ></div>  
                </div>
                        
        
                <div>
                            <p class="bottomlabel">
                            {{sopfooter1}}
                             </p>
                             <p class="bottomlabel">
                           {{sopfooter2}}
                            </p>
                             <p class="bottomlabel">
                            {{sopfooter3}}
                             </p>
                             <p class="bottomlabel">
                            {{sopfooter4}}
                            </p>
                             <p class="bottomlabel">
                           {{footnote}}
                            </p>
                </div>
      
    </div>        
    
     
    
</div><!--
                 end    for sop   performance  
           
        start of other diagnostics
--><style>
    
     
    
    .flexbutton{
        height: 100px;
        color: #ffffff;
    }
    
    .monthbutton{
       palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;
        
    }
    
    th.md-column {
  white-space: normal;
}
    
    .fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

    
/*table, th, td {
   border: .5px solid grey;
}*/

.tableHeader{
     padding-right: 1vw;
     padding-left: 1vw;
     word-wrap: break-word;
     font-size: 18px;
     text-align: center;
}

.dt {
  width: 75%;
  margin: 50px auto;
  height: 200px;
}


  table.md-table tbody.md-body > tr.md-row {
  height: 5vh;
}

     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }      
    
    
    
    .otherheading{
        font-size: 12px;
    font-weight: 400;        
        text-align: left;
        padding-left: 10px;
    }
</style> 


<!-- start of other diagnostic graphs-->
<div class="dashboard-container overlay-2 " layout="row" id="otherdiagnostics" align="center" ng-init="otherdiagnostics()" style="background:#fff;">
 
    
    
    
    <div layout="column" hide-sm hide-xs class="maindiv" flex>
       <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
         <div flex="100"  class="tabsdemoDynamicHeight" >
                  <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                      <md-tab  label="{{page1}}">
                          <md-content  flex layout="column">
                                    <div layout="row">
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading0}}</span><div style="height: 220px" id="ODtop01" > </div></div>
                                                 <md-divider class="vertical-divider"></md-divider>
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading1}}</span><div style="height: 228px" id="ODtop02" > </div></div>
                                         </div>
                                     <md-divider></md-divider>
                                     <div layout="row">
                                             <div flex="50" layout="column" > <span class="otherheading">{{heading2}}</span><div align="center" style="height: 220px;" id="ODbot01" > </div></div>
                                                <md-divider class="vertical-divider"></md-divider>
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading3}}</span> <div style="height: 220px" id="ODbot02" ></div> </div>
                                    </div>
                        </md-content>
                        
                      </md-tab>
                     
                    
                        
                    </md-tabs>
                  </md-content>
        </div>
      
    </div>        
    
     
</div>
<div class="dashboard-container overlay-2 " layout="row" id="otherdiagnostics2" align="center" style="background:#fff;">

   
    <div layout="column" hide-sm hide-xs class="maindiv" flex>
         <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
       
         <div flex="100"  class="tabsdemoDynamicHeight" >
                  <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                     
                      <md-tab  label="{{page2}}">
                          <md-content flex layout="column">
                                    <div layout="row" style="width:99%">
                                            <div flex="95" layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 220px" id="ODtop11" > </div></div>
                                                    
                                          
                                    </div>
                                     <md-divider></md-divider>
                                     <div layout="row" style="width:99%">
                                         <div flex="95" layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 220px" id="ODtop12" ></div> </div></div>
                        </md-content>
                        
                      </md-tab>
                    
                      
                    </md-tabs>
                  </md-content>
        </div>
      
    </div>        
    
     
</div>
<div class="dashboard-container overlay-2 " layout="row" id="otherdiagnostics3" align="center"  style="background:#fff;">

    <div layout="column" hide-sm hide-xs class="maindiv" flex>
           <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
         <div flex="100"  class="tabsdemoDynamicHeight" >
                  <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                      
                      
                    <md-tab  label="{{page3}}">
                        <md-content  flex layout="column">
                                    <div layout="row">
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading6}}</span> <div style="height: 220px" id="ODbot11" ></div> </div>
                                                 <md-divider class="vertical-divider"></md-divider>
                                           <div flex="50" layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 220px" id="ODbot12" > </div></div>
                                       </div>
                                     <md-divider></md-divider>
                                     
                                     <div layout="row">
                                             <div flex="95" layout="column"> <span class="otherheading">{{heading8}}</span> <div style="height: 220px" id="ODbot22" ></div> </div>
                                            <!--<div flex="50" layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 220px" id="top12" ></div> </div>-->
                                    </div>
                        </md-content>
                      </md-tab>
                        
                    </md-tabs>
                  </md-content>
        </div>
      
    </div>        
    
     
</div>


<!--

 end of other diagnostics 






dealer ranking page

<style>
/*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }*/
    
    .bg-color1-table{
        background-color:#eeeeee ;
    }
/*    .tableHeader{
        word-wrap: break-word;
        text-align: center;
        white-space: normal;
        font-size: 14px;
        padding-right: 1vw; 
        padding-left: 1vw;
        color: #ffffff;
        background-color: #7e57c2;
        width:1vw
    }*/


 .myhover {
        background: #F0DCB6!important;
    }
 .my_style .webix_column > div{ border-color:#D2E3EF; }
    .webix_hcell{
     font-family: 'Roboto Condensed'!important;
     font-size: 13px !important;
     word-wrap: break-word !important;
     
     
      /*background-color:#7E57C2 !important;*/
     
}

.webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
    background: #7E57C2 !important;
    color:#FFFFFF !important;
    height: 80px !important;
   
}





.webix_column>div.webix_row_select { background-color:#F08080 !important; }


.webix_cell{
     font-family: 'Roboto Condensed'!important;
     font-size: 14px !important;
     color:#000000 !important;
}
.webix_topcell {
   background-color:#EEEEEE;
}

    .columnstyle {
        
       background-color:#EEEEEE;
/*       word-spacing:8px !important;*/
    }
    
    
/*    webix_ss_header{
        height:65px !important;
    }*/
     .multiline{
       padding-bottom: 15px !important;
              line-height:15px !important;
               padding-left:5px!important;
               padding-right:5px!important;}
   .rowcolor{
        background-color:#EEEEEE;
    } 
/*    .webix_table_cell.webix_measure_size {
  	padding-left:15px;
  }*/
</style>  






<style>
    
       .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }
    
    
    .flexbutton{
        height: 100px;
        color: #ffffff;
    }
    
    .monthbutton{
       palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;
        
    }
    
    th.md-column {
  white-space: normal;
}
    
    .fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

    
/*table, th, td {
   border: .5px solid grey;
}*/

.tableHeader{
     padding-right: 1vw;
     padding-left: 1vw;
     word-wrap: break-word;
     font-size: 18px;
     text-align: center;
}

.dt {
  width: 75%;
  margin: 50px auto;
  height: 200px;
}


  table.md-table tbody.md-body > tr.md-row {
  height: 5vh;
}


     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
	
</style> 
for model anal pageysis
--><div class="dashboard-container overlay-2 " layout="row" id="modelanalysis" align="center" ng-init="modelanalysis()" style="background:#fff;" >

    <div class="maindiv" hide-sm hide-xs flex  layout="column" >
        
         <div  layout="row"> 
                 <div flex><h2 align="left">Model Analysis</h2></div>
                  
             </div>
            <div  layout="row" style="height: 85vh">
                <md-card flex="50">
                    <h3 class="headingmain">{{model1}}</h3>
                    <div id="MAleftgraph" style="  ;height: 75vh" ></div>    
                </md-card>
                 <md-card flex="50">
                  <span  class=" padding-left-10">{{model}} - {{factorname}}</span>
                 <div class="width-full" id="MAbotgraph" style="height: 75vh;">

                        </div>
                  
                  </md-card>
         </div> 
           
    
    
    
  
    <div class="maindiv" flex="100" layout="column" hide-gt-sm>
        
        
                  <md-card>
                        <h3 class="headingmain">{{model1}}</h3>
                        <div id="MAleftgraph1" style="  ;height: 75vh" ></div>    
                    </md-card>
                  <md-card id="top2x" style="height: 40vh" ></md-card>   
                  
                  <md-card>
                            <span  class=" padding-left-10">{{modelname}} - {{factorname}}</span>
                        <div class="width-full" id="MAbotgraph1" style="height: 40vh;">

                        </div>
                    </md-card>
                  
    </div> 
        
    
</div>

      </div>



<div class="dashboard-container overlay-2 " id="loyalityadvocacy" layout="row" align="center" ng-init="loyalityandadvocacy()" style="background:#fff;">

    <div class="maindiv" hide-sm hide-xs flex  layout="column" >
         <div  layout="row"> 
                 <div flex><h2 align="left">Loyality and Advocacy</h2></div>
                  
             </div>
            <div  layout="row" style="height: 85vh">
                   <md-card id="LAAtop1" flex="50"  ></md-card>     
                  <md-card id="LAAtop2" flex="50"  ></md-card>     
            </div>
        
         <p class="bottomlabel">{{footnote}}
</p>
    </div>        
    
    
    
    
   
        
    
</div>
      
      
      
      
      </div>

</md-dialog-content>



  </form>
</md-dialog>
