<!--<style>
/*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }*/
    
    .bg-color1-table{
        background-color:#eeeeee ;
    }
    .myhover {
        background: #F0DCB6!important;
    }
    .webix_column>div.webix_row_select { background-color:#F08080 !important; }
   
/*    .tableHeader{
        word-wrap: break-word;
        text-align: center;
        white-space: normal;
        font-size: 14px;
        padding-right: 1vw; 
        padding-left: 1vw;
        color: #ffffff;
        background-color: #7e57c2;
        width:1vw
    }*/
	
</style>  

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    
<md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
      
    
      <md-button ng-click="overallshowpopup()"  class="md-warn" align="center"  > Overall Dealer Download </md-button>
        <md-button ng-click="dealershowpopup()" class=" md-warn"  aria-label="fab button">Dealer  POPUP   </md-button>
           <div webix-ui="dalertable"   style="width:70%;height: 73vh"></div>
          
    </md-card>   
    
       
    
</div>-->