<style>
   md-dialog{ 
    min-width:78%;
    max-width: 78%;
   
    }
break {page-break-after: always ;}
@media print {
    break {page-break-after: always !important;}
}
</style>
<!--<script src="jqplugin.js" type="text/javascript"></script>-->
<!--<script src="../../../../bower_components/jqplugin.js" type="text/javascript"></script>-->

<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
       
       
        
 
	
        <md-button class="md-icon-button" ng-click="cancel()"  style="padding-top:0px;">
            <md-icon md-font-icon="fa fa-times-circle fa-6" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    

    <md-dialog-content >
       
    
      <div class="md-dialog-content content-wrapper" layout="column" pdf-save-content="idOne"   id="content" style="background:#fff;height:75vh;">
          
          <div  ng-repeat="img in imageurls" ng-init="$last ? finished() : null"  class="break" id="part-1" >
          <img src="{{img}}" style="background:#fff;width:100%">
          <br>
          </div>
          
      </div>

</md-dialog-content>



  </form>
</md-dialog>
