 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex layout="column"  ng-init="graphs()" >
        <md-card hide-xs hide-sm layout="row"> 
                <h3 flex="65" class="padding-left-10 heading" align="left">SOP Performance </h3> 
                <md-switch  class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="5" 
                           ng-change="vm.sopwswitch(data.cb1)"></md-switch>
                <p >Benchmark Score : {{sopswitchoutputcaps}}</p>
                
            </md-card>
        
                <md-card hide-gt-sm layout="row" align="center center" > 
                        <div style="padding: 5px" layout="row" align="center center">
                                <md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="20" 
                                    ng-change="vm.sopwswitch(data.cb1)">
                                </md-switch>
                        </div>
                        <br>
                        <p style="margin-top: 22px">Benchmark Score : {{sopswitchoutputcaps}}</p>
                </md-card>

       
                <div style="height: 75vh;overflow-y: scroll">
                       <div hide-sm hide-xs id="sop" style="height: 70vh" ></div>  
                        <div hide-gt-sm id="sop1" style="height: 120vh" ></div>  
                </div>
      
    </div>        
    
     
    
</div>