<!--<md-button ng-hide="thaishow" style="margin-right: 0px;padding-right: 0px;padding-left: 4px;text-align: center" permission permission-only="triMenuItem.item.permission" ng-click="triMenuItem.openLink(triMenuItem.item)" class="md-primary md-raised side-menu-link" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
    <md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon" md-font-icon="{{::triMenuItem.item.icon}}"></md-icon>
    <span translate style="word-wrap: break-word;line-height: 1px">{{::triMenuItem.item.name}}</span>
    <small ng-if="triMenuItem.item.badge" theme-background="accent" class="side-menu-badge">{{triMenuItem.item.badge}}</small>
</md-button>-->

<!--<md-button ng-hide="englishshow" style="margin-right: 0px;padding-right: 0px;padding-left: 4px;text-align: center" permission permission-only="triMenuItem.item.permission" ng-click="triMenuItem.openLink(triMenuItem.item)" class="md-primary md-raised side-menu-link" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
    <md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon" md-font-icon="{{::triMenuItem.item.icon}}"></md-icon>
    <span translate style="word-wrap: break-word;line-height: 1px">{{::triMenuItem.item.name}}</span>
    <small ng-if="triMenuItem.item.badge" theme-background="accent" class="side-menu-badge">{{triMenuItem.item.badge}}</small>
</md-button>-->

<md-button style="height: 50px !important;margin-right: 0px;padding-right: 0px;padding-left: 4px;" permission permission-only="triMenuItem.item.permission" ng-click="triMenuItem.openLink(triMenuItem.item)" class="md-primary md-raised side-menu-link" ng-class="{ 'md-hue-5': triMenuItem.item.active }">
    <div layout="row">
        <div flex="20"><md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon" md-font-icon="{{::triMenuItem.item.icon}}"></md-icon> </div>
        <div  flex="80" style="vertical-align: middle !important" ><p style="word-wrap: break-word;white-space: pre-wrap;line-height: 16px !important;vertical-align: middle !important ;padding-top: 13px;padding-bottom: 5px ;font-size: 14px;margin: 0px">{{::triMenuItem.item.name}}</p></div>
    </div>
    <small ng-if="triMenuItem.item.badge" theme-background="accent" class="side-menu-badge">{{triMenuItem.item.badge}}</small>
</md-button>