

<md-dialog aria-label="Information">
    <form>
        
        <md-toolbar >
            <div style="background-color: #004A80" class="md-toolbar-tools">
                <h2>Invalid User/Password</h2>
                <span flex></span>
<!--                <md-button class="md-icon-button"  ng-click="cancel();" >
                     <md-icon md-font-icon="zmdi  zmdi-close"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            
            <div style="padding: 20px" >
                <p> Please enter a valid User Id and Password</p>

            </div>
        </md-dialog-content>
        
        
       
    </form>
     <!--<div align="center" style="background-color:#004A80;color: #FBFBFB ">Click outside to close</div>-->
</md-dialog>