<style>
    .headingmain{
        font-size: 2.0vh;
    }
</style> 


<div class="dashboard-container overlay-2 " layout="row" align="center">

    <div class="maindiv" flex layout="column" hide-xs hide-sm ng-init="graphs()" >
        <div layout="row" ng-init="yearscore()">

            <md-card flex="25">
                <h3 align="left" class="headingmain">{{'summarycsiindex'|translate}}</h3>
                
                
                

                <div  ng-hide="show4"  layout="row" style="height: 35vh;">

                    <div layout-margin flex="45" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                    </div>


                    <div flex="55" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{svg1}}</div>
                            <div  ng-if="svg1>0"  round-progress  max="1000"  current="svg1"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div  ng-if="svg1 == null"  round-progress  max="1000"  current="svg1"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{svg2}}</div>
                           <div  ng-if="svg2>0"  round-progress  max="1000"  current="svg2"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div ng-if="svg2 == null" round-progress  max="1000"  current="svg2"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"    style="font-size: 19px">{{svg3}}</div>
                             <div  ng-if="svg3>0"  round-progress  max="1000"  current="svg3"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div  ng-if="svg3 == null" round-progress  max="1000"  current="svg3"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div>

                    </div>
                </div>

                
                <!--<p style="margin: 0px;font-size: 8px">{{firstchart}} </p>-->
            </md-card>
            <md-card flex-gt-sm="25" >
               
<h3 align="left" class="headingmain">{{'summarycsiindex'|translate}}-{{regionname}}</h3>
                
                

                <div  ng-hide="show4"  layout="row" style="height: 35vh;">

                    <div layout-margin flex="45" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{benchmarkcurrmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevquater}} </div>
                    </div>


                    <div flex="55" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                         <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{benchmark1}}</div>
                            <div  ng-if="benchmark1>0"  round-progress  max="1000"  current="benchmark1"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div  ng-if="benchmark1 == null"  round-progress  max="1000"  current="benchmark1"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{benchmark2}}</div>
                           <div  ng-if="benchmark2>0"  round-progress  max="1000"  current="svg2"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div ng-if="benchmark2 == null" round-progress  max="1000"  current="svg2"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"    style="font-size: 19px">{{benchmark3}}</div>
                             <div  ng-if="benchmark3>0"  round-progress  max="1000"  current="svg3"  color="#45ccce"  bgcolor="#eaeaea"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>
                            <div  ng-if="benchmark3 == null" round-progress  max="1000"  current="svg3"  color="#45ccce"  bgcolor="#FFFFFF"  radius="28"  semi="isSemi"  rounded="fasle"  stroke="5"  clockwise="clockwise"  responsive="responsive"  duration="800"  animation="easeInOutQuart"  offset="1"  on-render="showPreciseCurrent"></div>

                        </div>

                    </div>
                </div>
                
                
           
            </md-card>
            <!--</div>-->
             <md-card flex="50">
                <h3 align="left" class="headingmain">{{'summaryfactorscore'| translate}}</h3>
                <div  id="barlinecontainer" style="height: 45vh " ></div>
                <!--<p style="margin: 0px;font-size: 9px">{{firstchart}} </p>-->
            </md-card>
         
<!--            <md-card flex="40">
                <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{svgname}} -{{'regionalattributems'|translate}}</h3>
                <div id="treecontainer" style="height: 45vh" ></div>
            </md-card>-->
        </div>
        <div layout="row">
          <md-card flex="50">
                <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{'top5bottom5dealerrank'| translate}}</h3>
                <div id="T5B5sop" style="height: 45vh" ></div>
            </md-card>
             <md-card flex="50" layout="column" class="tabsdemoDynamicHeight">
                 <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="" >
                    <md-tab label="{{'Page1'|translate}}">                    
                        <md-content  flex layout="column">
                              <div >
                                        <h3 align="left" class="headingmain">{{'kpitopbottom'| translate}} </h3>
                                        <div id="top2" style="height: 29vh" ></div>
<!--                                        <p>{{'KPImsg'| translate}}</p>-->
                                    </div>
                         </md-content>
                    </md-tab>           
                    <md-tab label="{{'Page2'|translate}}">
                         <md-content flex layout="column">
                            <div>
                            <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{'top5bottom5attributemean'| translate}} </h3>
                <div id="bot1" style="height: 30vh; background: url(assets/images/loader.gif)"></div></div>
                          </md-content>
                    </md-tab>


                </md-tabs>
            </md-content>
               
            </md-card >
<!--            <md-card flex="50">
                <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{'summarytop5bot5attribute'| translate}} </h3>
                <div id="bot1" style="height: 45vh; background: url(assets/images/loader.gif)"></div>
            </md-card >-->
        </div>

        <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
            <!--<p class="bottomlabel">{{footnote}}</p>-->

    </div>



    <div class="maindiv" flex hide-gt-sm layout="column">
        <div> 
            <md-card layout="column">
                <h3 align="left" class="headingmain">{{'dsummaryDealer CSI Score'|translate}} </h3>

                <div layout="column" style="height: 25vh">
                    <div flex="70" layout="row" layout-align="space-around center"    >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 19px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 19px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                    <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                        <div >{{currmonth}} </div>
                        <div style="margin-right: 60px;"> {{prevmonth}}</div>
                        <div> {{prevquater}} </div>
                    </div>
                </div>
            </md-card>
            <md-card layout="column">
                <h3 align="left" class="headingmain">{{'summarycsiscore'|translate}} - {{regionname}} </h3>

                <div layout="column" style="height: 25vh">
                    <div flex="70" layout="row" layout-align="space-around center"    >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 24px" >{{benchmark1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="5"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 24px">{{benchmark2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="28"
                                stroke="5"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()">{{benchmark3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="28"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="5"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                    <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                        <div >{{benchmarkcurrmonth}} </div>
                        <div style="margin-right: 60px;"> {{benchmarkprevmonth}}</div>
                        <div> {{benchmarkprevquater}} </div>
                    </div>
                </div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{'summaryfactorscore'| translate}}</h3>
                <div  id="barlinecontainer1" style="height: 35vh " ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain" >{{svgname}} -{{'regionalattributems'|translate}}</h3>
                <div id="treecontainer1" style="height: 35vh" ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{'summarytop5bot5attribute'| translate}} </h3>
                <div id="bot11" style="height: 35vh"></div>
            </md-card >


        </div>
    </div>

</div>