<style>
/*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }*/
    
    .bg-color1-table{
        background-color:#eeeeee ;
    }
/*    .tableHeader{
        word-wrap: break-word;
        text-align: center;
        white-space: normal;
        font-size: 14px;
        padding-right: 1vw; 
        padding-left: 1vw;
        color: #ffffff;
        background-color: #7e57c2;
        width:1vw
    }*/
</style>  

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    
<md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
      <tri-widget flex content-layout="column" content-layout-align="center" style="max-height: 75vh" >
          
            <md-table-container >
                
                
                <table md-table class="md-data-table" id="table2">
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                        <tr  md-row  >
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: left;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Region</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: left;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Dealer</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >SSI</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Sales Initiation</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Dealer Facility</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Deal</th>                                    
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Salesperson</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Timing</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >Delivery Process</th>
                            <th class="tableHeader" style="font-weight: 400;word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >SOP Implemented</th>
                        </tr>
                    </thead>
                    
                    
                    
                    <tbody md-body >
                        
                        <tr md-row  ng-repeat="x in vm.salesData "  ng-click="alert_dealer(x.dealer)">
                                <td md-cell class="padding-left-10 header-fixed1 bg-color1-table"  data-title="Region">{{x.region}}</td>
                                <td md-cell class="padding-left-10 header-fixed2 bg-color1-table"  data-title="Dealer">{{x.dealer}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.ssicolor}}" data-title="SSI">{{x.ssi}}</td>                                    
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.salesinitiationcolor}}" data-title="Service Initiation">{{x.salesinitiation}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.dealerfacilitycolor}}" data-title="Service Advisor">{{x.dealerfacility}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.dealcolor}}" data-title="Service Facility">{{x.deal}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.salespersoncolor}}" data-title="Vehicle Pickup">{{x.salesperson}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.deliverytimingcolor}}" data-title="Service Quality">{{x.deliverytiming}}</td>
                                <td md-cell class="padding-left-10 center-align header-fixed1" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.deliveryprocesscolor}}" data-title="SOP Implement">{{x.deliveryprocess}} </td>
                                <td md-cell class="padding-left-10 center-align header-fixed1" style="padding-right: 1vw;padding-left: 1vw;text-align: center;background-color: {{x.sopcolor}}" data-title="SOP Implement">{{x.sop}} </td>

                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <!--<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.salesData.length}}" md-page-select></md-table-pagination>-->
        </tri-widget>
    <div layout="row">
            <span>** indicates small sample and is not considered for color rankings</span>
            <div flex align="right">
                <md-button align="right" id="exportCS" class="md-raised md-primary">Export Table</md-button>
            </div>
    </div>
       
       
        
    </md-card>   
    
       
    
</div>