

<md-dialog aria-label="Information">
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'Informationlabel'|translate}} </h2>
                <span flex></span>
                <md-button class="md-icon-button"  ng-click="cancel();" >
                    <md-icon md-font-icon="zmdi  zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div >
                <img style="margin: auto; max-width: 100%;" ng-src = "https://s3-us-west-2.amazonaws.com/cdn.wheelmonk.com/NissanTw/info.png" >

            </div>
        </md-dialog-content>



    </form>
    <!--<div align="center" style="background-color:#004A80;color: #FBFBFB ">Click outside to close</div>-->
</md-dialog>