<div class="dashboard-container overlay-2 " layout="row" align="center">

    <div class="maindiv" flex layout="column" hide-xs hide-sm ng-init="graphs()" >
        <div layout="row" ng-init="monthscore()">

            <md-card flex="20">
                <h3 align="left" class="headingmain">{{nationaltitle}}</h3>
                <!--                         test -->
                <div ng-hide="show4" layout="row" style="height: 40vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 22px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="30"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="6"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 22px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="30"
                                stroke="6"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 22px">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="30"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="6"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-hide="show3"  layout="row" style="height: 40vh;">

                    <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 12px" >{{currmonth}} </div>
                        <div style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{currquater}} </div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 12px"> {{prevquater}} </div>
                    </div>


                    <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="23"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="4"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="23"
                                stroke="4"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="23"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg4}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg4"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="23"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="4"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                </div>
                <p style="margin: 0px;font-size: 8px">{{firstchart}} </p>
            </md-card>
            <!--</div>-->
            <md-card flex="30">
                <div layout="row">  <h3 flex="70" align="left" class="headingmain">{{regionaltitle}}</h3> <i flex="30" class="zmdi zmdi-menu" align="right" style="color: #00A000;padding-right: 10px;padding-top: 20px" ng-csv="printdata()" filename="regionalCSI.csv" csv-header="['Region','Score','Respondents' ]" ></i></div>
                <div   id="map" style="height: 40vh;" align="center" ></div>
            </md-card>
            <md-card flex="50">
                <h3 align="left" class="headingmain">{{factortitle}}</h3>
                <div  id="barlinecontainer" style="height: 40vh " ></div>
                <!--<p style="margin: 0px;font-size: 9px">{{firstchart}} </p>-->
            </md-card>
        </div>
        <div layout="row">
            <md-card flex="50">
                <h3 align="left" class="headingmain" >{{top5title}}</h3>
                <div id="treecontainer" style="height: 40vh" ></div>
            </md-card>
            <md-card flex="50">
                <h3 align="left" class="headingmain">{{delightedtitle}} </h3>
                <div  ng-hide="!(hideloader)" id="bot1" style="height: 30vh;width: 33vw"></div>
                <div  > 
                    <img ng-hide="hideloader"  src="assets/images/loader.gif" style="height: 30vh;width: 33vw"  alt=""/>
                </div>
            </md-card >
        </div>
        <p class="bottomlabel"   data-html="true"  title="{{overallfootnotetitle}}" ng-bind-html="overallfootnote">
        <!--<md-tooltip style="color:#FFFFF;white-space:pre;font-size:14px;  height: auto !important;" md-direction="right" >{{footnote}}<br>{{delightedtitle}}</md-tooltip>-->
    </p>
    </div>



    <div class="maindiv" flex hide-gt-sm layout="column"  >
        <div> 
            <md-card layout="column">
                <h3 align="left" class="headingmain">{{nationaltitle}} </h3>

                <div layout="column" style="height: 25vh">
                    <div flex="70" layout="row" layout-align="space-around center"    >
                        <div class="progress-wrapper">
                            <div  class="progress ng-cloak" ng-style="getStyle1()"  style="font-size: 24px" >{{svg1}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg1"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="32"
                                semi="isSemi"
                                rounded="fasle"
                                stroke="8"
                                clockwise="clockwise"
                                responsive="responsive"
                                duration="800"
                                animation="easeInOutQuart"
                                offset="1"
                                on-render="showPreciseCurrent">
                            </div>
                        </div>

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()" style="font-size: 24px">{{svg2}}</div>
                            <div
                                round-progress
                                max="1000"
                                current="svg2"
                                color="#45ccce"
                                bgcolor="#eaeaea"
                                radius="32"
                                stroke="8"
                                semi="false"
                                rounded="fasle"
                                clockwise="clockwise"
                                responsive="false"
                                duration="800"
                                animation="easeInOutQuart"
                                animation-delay="0"> </div>
                        </div> 

                        <div class="progress-wrapper">
                            <div class="progress ng-cloak" ng-style="getStyle1()">{{svg3}}</div>
                            <div  round-progress
                                  max="1000"
                                  current="svg3"
                                  color="#45ccce"
                                  bgcolor="#eaeaea"
                                  radius="32"
                                  semi="isSemi"
                                  rounded="fasle"
                                  stroke="8"
                                  clockwise="clockwise"
                                  animation="easeInOutQuart">
                            </div>
                        </div>

                    </div>
                    <div layout-margin flex="30" layout="row" layout-align="space-around start"  >
                        <div >{{currmonth}} </div>
                        <div style="margin-right: 60px;"> {{prevmonth}}</div>
                        <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                    </div>
                </div>
            </md-card>
            <md-card >
                <div layout="row">  <h3 flex="70" align="left" class="headingmain" >{{regionaltitle}}</h3> <i flex="30" class="zmdi zmdi-menu" align="right" style="padding-right: 10px;padding-top: 20px;color: #00A000" ng-click="printdata()"  filename="regionalSSI.csv" csv-header="['Region','Score','Respondents' ]" ></i></div>
                <div   id="map1" style="height: 45vh;" align="center" ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain">{{factortitle}}</h3>
                <div  id="barlinecontainer1" style="height: 35vh " ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain" style="margin-bottom: 0px" >{{top5title}}</h3>
                <div id="treecontainer1" style="height: 35vh" ></div>
            </md-card>
            <md-card >
                <h3 align="left" class="headingmain" style="margin-bottom: 0px">{{delightedtitle}} </h3>
                <div id="bot11" style="height: 35vh"></div>
            </md-card >
        </div>
    </div>

</div>