$sidenav-mobile-width: 200px;
$sidenav-desktop-width: 200px;

// import angular material scss
@import "angular-material/angular-material.scss";

body {
  color: #212121;
  overflow-x:hidden; 
}



// set template font family
button, select, html, textarea, input {
  /*font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here
.navibutton{
    height: 80px;
}




.bottomlabel{
        margin: 0px;
        font-size: 7px !important ;
        text-align: right;
        color: #000080;
        padding-right: 5px;
        
    }

.side-menu-link {
    background-color: #004A80 !important;
    font-weight: 300 !important;
    font-size: 12.5px !important;
      /*font-weight: 300;*/
        /*padding-right: 1px;*/
}

.headingmain{
    margin-left: 10px;
    font-size: 2.5vh;
    margin-bottom: 3px;
    margin-top: 2px;
}

.progress-wrapper{
            position: relative;
            /*margin:20px auto;*/   
            font-size: 18px;
        }

        .progress{
            position: absolute;
            color: #000000;
            font-weight: 400;
            line-height: 1;
            /*text-align: center;*/
             width: 100%;
             height: 35%;
        }
        

.bottombutton{
   line-height: 1rem !important;
   width: 3.4rem !important;
   height: 2.4rem !important;
   padding-left: 3px !important;
   padding-bottom: 2px !important;
   padding-top: 2px !important;
   padding-right: 2px !important;
    margin: 0px !important;
}

 .h4style{
        font-size: 2vmin;
        line-height: 100%;
        
    }

    
    .highchartparent{
        height: 74vh;
        max-width: 100%;
        overflow-y: auto;
        overflow-x: hidden
    }
    
    .highchartparentdropdown{
        height: 70vh;
        max-width: 100%;
        overflow-y: hidden;
        overflow-x: hidden
    }
    
    
    .highchartdiv{
        height: 72vh;
        width: 100%
    }
    
    .highchartdivcolumn{
        height: 100vh;
        width: 100%;
        /*overflow-y: scroll;*/
    }
    
    .highchartdivdropdown{
        height: 69vh;
        width: 100%
    }
    
    
    
.fillerheading{
    text-align: left;
    font-weight: 100px;
    margin-left: 15px;
}



div md-list-item{
    height: 60px;
   
}

div md-list-item p{
    line-height:130%; border-bottom-color: #000000;
    font-size: 14px;
}



div md-list-item:selected{
    background-color: #006dcc;
}

////////////////////////////////////////////


///////////////////////////////////////
md-list-item p{
    color: #006dcc;
}

.filter md-card{
    background-color: #ECECEC;
    
}

.filter md-card ul{
    margin-left: 30px;
    font-size: 16px;
    
}

.headings{
    text-align:left;
    margin-left: 10px;
    margin-bottom: 0px;
}


.legends{
    text-align: left;
    font-size: 14px;
    margin: 5px;
    padding-bottom: 5px;
}

.labels{
     text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.instructions{
    text-align: center;
    font-size: 14px;
}

        
.side-menu-link {
      font-size: 18px;
      font-weight: 300;
        padding-right: 1px;
      
    }

    
    
.side-menu-icon[md-font-icon] {
    font-size: 32px;
}
///////////////////////////tabs




//loging controller

/*for login*/
/*
 cyrillic-ext 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
 cyrillic 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 greek-ext 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
 greek 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
 vietnamese 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
 latin-ext 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
 latin 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/




/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
