/* this was added to fix a bug in Safari */
/* https://github.com/oxygenna/triangular/issues/126 */
.triangular-content > div {
    overflow: auto;
}

.triangular-non-scrolling {
    position: relative;
    z-index: 0;
    & > * {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
}

.triangular-toolbar-and-content {
    position: relative;
}

.triangular-loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.triangular-sidenav-left._md-locked-open {
    width: 10vw;
    min-width: 10vw;
    max-width: 10vw;
    -ms-overflow-style: none; /* ie fix for removing scrollbars */
    &.admin-sidebar-collapsed {
        min-width: 40px;
        max-width: 40px;
        transition: all .3s;
        &.hover {
            min-width: 10vw;
            max-width: 10vw;
        }
    }
}
