<style>
   md-dialog{ 
    min-width:78%;
    max-width: 78%;
   
    }
break {page-break-after: always ;}
@media print {
    break {page-break-after: always !important;}
}
</style>






<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
        
<!--       
		<md-button ng-click= "dealerprintdialog()">
       	Download
        </md-button>
       -->
        
 
	  
   	
  
        <md-button class="md-icon-button" ng-click="cancel()"  style="padding-top:0px;">
            <md-icon md-font-icon="fa fa-times-circle fa-6" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    

    <md-dialog-content >
       
    
      <div class="md-dialog-content content-wrapper"  id="printme"  style="background:#fff;"  >
          
  		

        <div class="dashboard-container overlay-2 " layout="row" align="center" id="dealersummary" style="background:#fff;" ng-init="summarygraphs()">

    <div class="maindiv" flex layout="column" hide-xs hide-sm   style="background:#fff;" >
         <div  layout="row" style="background:#fff;"> 
              <div flex  ><h4 align="left"><b>Dealer</b>:{{dealer}}</h4></div>
                 <div flex><h4 align="left"><b>Year</b>:{{year}}</h4></div>
                  <div flex><h4 align="left"><b>Bi-Annual</b>:{{biannual}}</h4></div>
                 <div flex><h4 align="left"> <b>Month</b>:{{month}}</h4></div>
             </div>
        
         <div flex><h2 align="left">Summary</h2></div>
        <div layout="row" style="background:#fff;">
            
                <md-card flex="25">
                    <h3 align="left" class="headingmain">{{nationaltitle}}</h3>
                     
                    <div  ng-hide="show4"  layout="row" style="height: 35vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                                </div>
                            
                            
                     <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{svg1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="svg1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="32"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="6"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{svg2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="svg2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="32"
                                                stroke="6"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px">{{svg3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="svg3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="32"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="6"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                    
                    <div ng-hide="show3"  layout="row" style="height: 35vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{currmonth}} </div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevmonth}}</div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{currquater}} </div>
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{prevquater}} </div>
                                </div>
                            
                            
                            <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                           <div class="progress-wrapper">
                                               <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{svg1}}</div>
                                                      <div
                                                           round-progress
                                                           max="1000"
                                                           current="svg1"
                                                           color="#45ccce"
                                                           bgcolor="#eaeaea"
                                                           radius="23"
                                                           semi="isSemi"
                                                           rounded="fasle"
                                                           stroke="4"
                                                           clockwise="clockwise"
                                                           responsive="responsive"
                                                           duration="800"
                                                           animation="easeInOutQuart"
                                                           offset="1"
                                                           on-render="showPreciseCurrent">
                                                       </div>
                                               </div>

                                           <div class="progress-wrapper">
                                              <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{svg2}}</div>
                                               <div
                                                       round-progress
                                                       max="1000"
                                                       current="svg2"
                                                       color="#45ccce"
                                                       bgcolor="#eaeaea"
                                                       radius="23"
                                                       stroke="4"
                                                       semi="false"
                                                       rounded="fasle"
                                                       clockwise="clockwise"
                                                       responsive="false"
                                                       duration="800"
                                                       animation="easeInOutQuart"
                                                   animation-delay="0"> </div>
                                           </div> 

                                           <div class="progress-wrapper">
                                          <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg3}}</div>
                                               <div  round-progress
                                                     max="1000"
                                                     current="svg3"
                                                     color="#45ccce"
                                                       bgcolor="#eaeaea"
                                                       radius="23"
                                                     semi="isSemi"
                                                     rounded="fasle"
                                                     stroke="4"
                                                     clockwise="clockwise"
                                                     animation="easeInOutQuart">
                                               </div>
                                           </div>
                                
                                           <div class="progress-wrapper">
                                          <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{svg4}}</div>
                                               <div  round-progress
                                                    max="1000"
                                                    current="svg4"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="23"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="4"
                                                    clockwise="clockwise"
                                                    animation="easeInOutQuart">
                                               </div>
                                           </div>

                                       </div>
                            </div>
                    </md-card>
                <!--</div>-->
                <md-card flex="25">
                    <h3 align="left" class="headingmain">{{benchmarktitle}}{{regionname}} (Best)</h3>
                     
                        <div  ng-hide="show4"  layout="row" style="height: 35vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px" >{{benchmarkcurrmonth}} </div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevmonth}}</div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevquater}} </div>
                                </div>
                            
                            
                     <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px" >{{benchmark1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="benchmark1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="30"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="6"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 19px">{{benchmark2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="benchmark2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                                stroke="6"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 19px">{{benchmark3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="benchmark3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="30"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="6"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                    
                    
                    <div  ng-hide="show3"  layout="row" style="height: 35vh;">
                            
                            <div layout-margin flex="60" layout="column" layout-align="space-around start"  >
                                    <div  style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">{{benchmarkcurrmonth}} </div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevmonth}}</div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkcurquater}} </div>
                                    <div style="margin-bottom: 0px;margin-top: 0px;font-size: 14px"> {{benchmarkprevquater}} </div>
                                </div>
                            
                            
                     <div flex="40" layout="column" layout-align="space-around center"  style="padding-right: 10px; padding-top: 10px"  >
                                    <div class="progress-wrapper">
                                        <div  class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px" >{{benchmark1}}</div>
                                               <div
                                                    round-progress
                                                    max="1000"
                                                    current="benchmark1"
                                                    color="#45ccce"
                                                    bgcolor="#eaeaea"
                                                    radius="23"
                                                    semi="isSemi"
                                                    rounded="fasle"
                                                    stroke="4"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="800"
                                                    animation="easeInOutQuart"
                                                    offset="1"
                                                    on-render="showPreciseCurrent">
                                                </div>
                                        </div>
                                    
                                    <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="getStyle()" style="font-size: 14px">{{benchmark2}}</div>
                                        <div
                                                round-progress
                                                max="1000"
                                                current="benchmark2"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="23"
                                                stroke="4"
                                                semi="false"
                                                rounded="fasle"
                                                clockwise="clockwise"
                                                responsive="false"
                                                duration="800"
                                                animation="easeInOutQuart"
                                            animation-delay="0"> </div>
                                    </div> 
                                    
                                    <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{benchmark3}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="benchmark3"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="23"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="4"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>
                         
                                 <div class="progress-wrapper">
                                   <div class="progress ng-cloak" ng-style="getStyle()"  style="font-size: 14px">{{benchmark4}}</div>
                                        <div  round-progress
                                              max="1000"
                                              current="benchmark4"
                                              color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="23"
                                              semi="isSemi"
                                              rounded="fasle"
                                              stroke="4"
                                              clockwise="clockwise"
                                              animation="easeInOutQuart">
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </md-card>
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{factortitle}}</h3>
                    <div  id="dealersumbarlinecontainer" style="height: 35vh " ></div>
                </md-card>
        </div>
        <div layout="row">
            <md-card flex="50">
                    <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{svgname}} -{{top5title}}</h3>
                     <div id="dealersumtreecontainer" style="height: 35vh" ></div>
                </md-card>
            <md-card flex="50">
                    <h3 align="left" class="headingmain"  style="margin-bottom: 0px">{{delightedtitle}} </h3>
                    <div id="dealersumbot1" style="height: 35vh"></div>
                </md-card >
        </div>
        
                 

        <p class="bottomlabel">{{footnote}}</p>
    
</div>
    
    
    
   
    
</div>      
   
      <!--end of summary-->
      
          <!--start of regional analysis-->
          
          <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" style="background:#fff;" id="dealerregionanalysis" ng-init="regionalgraphs()" >

    <div class="maindiv" flex layout="column" hide-sm hide-xs >
          <div  layout="row"> 
                 <div flex><h2 align="left">Regional Analysis</h2></div>
                  
             </div>
        <div layout="row">
            <md-card layout="column" flex="40" style="height:40vh; ">
                    <h3 align="left" class="headingmain">{{ regfacttitle}}</h3>   
                            <md-select style="margin: 0px" ng-model="factor"  placeholder="Factor" ng-change="factorchanged(factor)" class="zero-margin-padding">
                               <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor" >{{x.value}}</md-option>
                            </md-select>
                        
                    <br>
                    <div flex="50" layout="column" layout-align="space-around center"  >
                                <div class="progress-wrapper">
                                       <div class="progress ng-cloak" ng-style="reggetStyle()" style="font-size: 16px">{{svgvalue}}</div>
                                           <div round-progress
                                                max="1000"
                                                current="svgvalue"
                                                color="#45ccce"
                                                bgcolor="#eaeaea"
                                                radius="60"
                                                semi="isSemi"
                                                rounded="false"
                                                stroke="10"
                                                clockwise="clockwise"
                                                responsive="responsive"
                                                duration="800"
                                                animation="easeInOutQuart"
                                                offset="1"
                                                on-render="showPreciseCurrent">
                                           </div>
                                    </div> 
<!--                                <div round-progress-bar    baseColor ="#45CCCE"  current-value="950" size="250" thickness="8"></div>
                                -->
                                
                    <span align="center" style="margin: 0px; padding: 0px" >{{svgname}}</span>   
                    </div>
               </md-card>
                <md-card  flex="60"  >
                    <h3 align="left" class="headingmain">{{svgname}} {{byregiontitle}} </h3>
                    <div id="dealerregbarlinecontainer" style="height:35vh;" ></div>
                </md-card>
        </div>
        <div layout="row">
           <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} -{{ meantitle}}</h3>
                 <div id="dealerregbot1" style="height:33vh; " ></div>
            </md-card>
            <md-card flex="50" >
                <h3 align="left" class="headingmain">{{svgname}} - {{percenttitle}}</h3>
                <div id="dealerregbot2" style="height:33vh;"></div>
            </md-card >
        </div>
      <p class="bottomlabel">{{footnote}}
</p>
    </div>   
    
    
    
    
</div>
          
          
          
      <div class="dashboard-container overlay-2 " layout="row" align="center" style="background:#fff;" id="dealertrendanalysis" ng-init="trendanalysisgraphs()" >

    <div class="maindiv" flex="100" layout="column" hide-xs hide-sm>
          <div  layout="row"> 
                 <div flex><h2 align="left">Trend Analysis</h2></div>
                  
             </div>
        <div layout="row" >
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{trend1}}</h3>
                            <div id="dealertatop1" style="height: 35vh" ></div>  
                </md-card>
                <md-card flex="50">
                    <h3 align="left" class="headingmain">{{trend2}} - {{factorname}} </h3>
                            <div id="dealertatop2" style="height: 35vh" ></div>  
                </md-card>
        </div>
        
        <div>
            <md-card>
                    <h3 align="left" class="headingmain">{{trend3}} - {{factorname}} </h3>
                    <div id="dealertabot" style="height: 30vh" ></div>  
            </md-card>
        </div>
          <p class="bottomlabel">{{footnote}}
</p>
    </div>        
    
     
    
</div>    
          
    
<div class="dashboard-container overlay-2 " layout="column" align="center"  style="background:#fff;" id="dealerpriorityanalysis" ng-init="prioritygraphs()">

    <md-card class="maindiv" flex layout="column"   >
         <div  layout="row"> 
                 <div flex><h2 align="left">Priority Analysis</h2></div>
                  
             </div>
        <div style="overflow-y: scroll">
                       <div hide-xs hide-sm id="dealerprioritymainchart" style="height: 80vh;" ></div>                
                </div>
                
    </md-card>        
    <p class="bottomlabel">{{footnote}}</p>

     
    
</div>
      
   <div class="dashboard-container overlay-2 " layout="row" align="center" style="background:#fff;" id="dealersopperformance"  ng-init="sopperformance()" >

    <div class="maindiv" flex layout="column"   >
        <div  layout="row"> 
                 <div flex><h2 align="left">Sop Performance</h2></div>
                  
             </div>
        <md-card hide-xs hide-sm layout="row"> 
                <h3 flex="50" class="padding-left-10 heading" align="left">{{soptitle1}} {{soptitle2}}</h3> 
<!--                <md-switch  class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="5" 
                           ng-change="vm.sopwswitch(data.cb1)"></md-switch>
                <p >Benchmark Score : {{sopswitchoutputcaps}}</p>-->
            <div flex="10"></div>
                <div flex="40" align="right" layout="column">
                    <span style="text-align: center">{{soptitle3}} </span>
                        <md-radio-group ng-model="group1" ng-change="vm.sopwswitch(group1)"> 
                            <div layout="row">
                              <md-radio-button ng-checked="true" style="margin: 10px" value="Total"><p style="padding-right: 5px">{{opt1}}</p></md-radio-button>
                              <md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>
                              <md-radio-button style="margin: 10px" value="Region">                 <p style="padding-right: 5px">{{opt3}}</p></md-radio-button>
                            </div>
                        </md-radio-group>
                </div>
            </md-card>
        
                <md-card hide-gt-sm layout="row" align="center center" > 
                        <div style="padding: 5px" layout="row" align="center center">
                                <md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="20" 
                                    ng-change="vm.sopwswitch(data.cb1)">
                                </md-switch>
                        </div>
                        <br>
                        <p style="margin-top: 22px">Benchmark Score : {{sopswitchoutputcaps}}</p>
                </md-card>

       
                <div style="height: 70vh;overflow-y: scroll">
                       <div hide-sm hide-xs id="dealersopsop" style="height: 60vh" ></div>  
                </div>
                        
        
                <div>
                            <p class="bottomlabel">
                            {{sopfooter1}}
                             </p>
                             <p class="bottomlabel">
                           {{sopfooter2}}
                            </p>
                             <p class="bottomlabel">
                            {{sopfooter3}}
                             </p>
                             <p class="bottomlabel">
                            {{sopfooter4}}
                            </p>
                             <p class="bottomlabel">
                           {{footnote}}
                            </p>
                </div>
      
    </div>        
    
     
    
</div>      
          
        

   





<div class="dashboard-container overlay-2 " layout="row" align="center"  style="background:#fff;" id="dealerotherdiagnostics"  ng-init="ODgraphs()">

    <md-card layout="column" hide-sm hide-xs class="maindiv" flex>
         <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
         <div flex="100"  class="tabsdemoDynamicHeight" >
                 <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                      <md-tab label="{{page1}}">
                          <md-content  flex layout="column">
                                    <div layout="row">
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading0}}</span><div style="height: 220px" id="dealerODtop01" > </div></div>
                                                 <md-divider class="vertical-divider"></md-divider>
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading1}}</span><div style="height: 228px" id="dealerODtop02" > </div></div>
                                         </div>
                                     <md-divider></md-divider>
                                     <div layout="row">
                                             <div flex="50" layout="column" > <span class="otherheading">{{heading2}}</span><div align="center" style="height: 220px;" id="dealerODbot01" > </div></div>
                                                <md-divider class="vertical-divider"></md-divider>
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading3}}</span> <div style="height: 220px" id="dealerODbot02" ></div> </div>
                                    </div>
                        </md-content>
                        
                      </md-tab>
                     
                    
                        <md-tab></md-tab>
                    </md-tabs>
                  </md-content>
        </div>
      
    </md-card>        
    
     
</div>
<div class="dashboard-container overlay-2 " layout="row" align="center"  style="background:#fff;" id="dealerotherdiagnostics2"  >

    <md-card layout="column" hide-sm hide-xs class="maindiv" flex>
         <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
         <div flex="100"  class="tabsdemoDynamicHeight" >
                 <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                      
                      <md-tab label="{{page2}}">
                          <md-content flex layout="column">
                                    <div layout="row" style="width:99%">
                                            <div flex="95" layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 220px" id="dealerODtop11" > </div></div>
                                                    
                                          
                                    </div>
                                     <md-divider></md-divider>
                                     <div layout="row" style="width:99%">
                                         <div flex="95" layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 220px" id="dealerODtop12" ></div> </div></div>
                        </md-content>
                        
                      </md-tab>
                   
                       
                    </md-tabs>
                  </md-content>
        </div>
      
    </md-card>        
    
     
</div>

<div class="dashboard-container overlay-2 " layout="row" align="center"  style="background:#fff;" id="dealerotherdiagnostics3"  >

    <md-card layout="column" hide-sm hide-xs class="maindiv" flex>
         <div  layout="row"> 
                 <div flex><h2 align="left">Other Diagnostics</h2></div>
                  
             </div>
         <div flex="100"  class="tabsdemoDynamicHeight" >
                 <md-content>
                    <md-tabs md-stretch-tabs="always" md-dynamic-height="10px" md-border-bottom="">

                     
                    <md-tab label="{{page3}}">
                        <md-content  flex layout="column">
                                    <div layout="row">
                                            <div flex="50" layout="column"> <span class="otherheading">{{heading6}}</span> <div style="height: 220px" id="dealerODbot11" ></div> </div>
                                                 <md-divider class="vertical-divider"></md-divider>
                                           <div flex="50" layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 220px" id="dealerODbot12" > </div></div>
                                       </div>
                                     <md-divider></md-divider>
                                     
                                     <div layout="row">
                                             <div flex="95" layout="column"> <span class="otherheading">{{heading8}}</span> <div style="height: 220px" id="dealerODbot22" ></div> </div>
                                            <!--<div flex="50" layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 220px" id="top12" ></div> </div>-->
                                    </div>
                        </md-content>
                      </md-tab>
                        <md-tab></md-tab>
                    </md-tabs>
                  </md-content>
        </div>
      
    </md-card>        
    
     
</div>


<div class="dashboard-container overlay-2 " layout="row" align="center" style="background:#fff;" id="dealerloyalityadvocacy" ng-init="LAAgraphs()" >

    <div class="maindiv" hide-sm hide-xs flex  layout="column"  >
        <div  layout="row"> 
                 <div flex><h2 align="left">Loyality and Advocacy</h2></div>
                  
             </div>
            <div  layout="row" style="height: 85vh">
                   <md-card id="dealerLAAtop1" flex="50"  ></md-card>     
                  <md-card id="dealerLAAtop2" flex="50"  ></md-card>     
            </div>
        
         <p class="bottomlabel">{{footnote}}
</p>
    </div>        
    
</div>
    
     
    
</div>
</md-dialog-content>



  </form>
</md-dialog>
