 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" hide-sm hide-xs flex  layout="column" ng-init="graphs()" >
            <div  layout="row" style="height: 85vh">
                   <md-card id="top1" flex="50"  ></md-card>     
                  <md-card id="top2" flex="50"  ></md-card>     
            </div>
        
    </div>        
    
    
    
    <!--for xs size-->
    <div class="maindiv" flex="100" layout="column" ng-init="graphs()" hide-gt-sm>
        <div>
                  <md-card id="top1x" style="height: 40vh" ></md-card>   
                  <md-card id="top2x" style="height: 40vh" ></md-card>   
<!--                  <md-card id="top3x" style="height: 40vh" ></md-card>   
                  <md-card id="bot1x" style="height: 40vh" ></md-card>   -->
                  
        </div>
    </div> 
        
    
</div>