.calendar-page {
    padding: 0px 120px;

    .triangular-calendar, .fc-view-container {
        &:focus {
            outline: none;
        }
    }
    .fc-view {
        &:focus {
            outline: none;
        }
        > table {
            background: rgba(255, 255, 255, .75);
            border-radius: 2px;
            overflow: hidden;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);

            &:focus {
                outline: none;
            }
            th, td, hr, thead, tbody, .fc-row, .fc-popover {
                border-color: rgba(100, 100, 100, .075);
            }
            .fc-content-skeleton {
                th, td, hr, thead, tbody, .fc-row, .fc-popover {
                    border-color: transparent;
                }
            }
        }
        .fc-day-header {
            height: 48px;
            vertical-align: middle;
        }
        .fc-day-number {
            padding: 8px;
        }
        .fc-today {
            background: rgba(255, 255, 255, .5);
        }
        .fc-content-skeleton .fc-today {
            background: none;
        }
    }
}

.calendar-background-image {
    background-size: cover;
    transition: background-image 0.8s;
}

.seed-list {
    list-style: lower-greek;
}

$i : 0;
@while $i <= 11 {
    .calendar-background-month-#{$i} {
        background-image: url(../assets/images/calendar/#{$i+1}.jpg);
    }
    $i : $i + 1;
}

@media (max-width: $layout-breakpoint-xs) {
    .calendar-page {
        padding: 0px 10px;
    }
}