.event-dialog-form {
    md-list-item .md-list-item-inner {
        padding: 2px;
    }

    p {
        color: rgba(0,0,0,0.54);
    }
}

.event-dialog-input-row {
    padding: 2px;
}

.event-dialog-form-color-option .md-text {
    text-transform: capitalize;
}

md-select[md-container-class="calendar-color-select"] md-select-value span {
    text-transform: capitalize;
}

.calendar-color-select {
    md-option {
        text-transform: capitalize;
    }
}