<md-toolbar class="toolbar-default margin-bottom-30">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
        </md-button>
        <h2>
            <span>Toolbar with Icon Buttons</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-accent margin-bottom-30">
    <div class="md-toolbar-tools">
        <h2>
            <span>Accent Toolbar</span>
        </h2>
    </div>
</md-toolbar>
<md-toolbar class="md-warn toolbar-default margin-bottom-30">
    <div class="md-toolbar-tools">
        <h2>
            <span class="breadcrumb">
                <span hide-xs>Warn Toolbar<md-icon md-font-icon="zmdi zmdi-chevron-right"></md-icon></span>
            </span>
            <span class="breadcrumb">
                <span hide-xs>With<md-icon md-font-icon="zmdi zmdi-chevron-right"></md-icon></span>
            </span>
            <span class="breadcrumb">
                <span hide-xs>Breadcrumbs</span>
            </span>
        </h2>
    </div>
</md-toolbar>
<md-toolbar class="md-tall margin-bottom-30">
    <div class="md-toolbar-tools">
        <h2>
            <span>Tall Toolbar</span>
        </h2>
    </div>
</md-toolbar>
<md-toolbar class="md-tall md-accent">
    <span flex></span>
    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Tall Accent Toolbar - with actions pin to the bottom</span>
    </h2>
</md-toolbar>