<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
	
	@media screen and (max-width: 768px) {
	md-radio-button .md-label{    margin-left: 24px !important;}
	}
  
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex="100" layout="column" flex-xs="100" >

    	<md-card layout="column" style="background-color:#FAFAFA" >
            <div layout-gt-sm="row"> 
                <div flex-gt-sm="60">
                    <md-input-container class="padding-left-10" flex layout="column">
                        <label align="left" style="color: #000 ">{{'kpitrendkpitrend'|translate}}</label>
                        <md-select ng-model="sop"  ng-change="sopchanged(sop)" placeholder="Select KPI" class="zero-margin-padding">
                            <md-option ng-value="year.name" ng-repeat="year in Filterarray.sop" >{{year.value}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>  
            	
                <div flex-gt-sm="25"></div>
                        <div flex-gt-sm="15" align="left" layout="column">
                            <span style="text-align: left;margin-left: 10px;">{{'kpiperformancebenchmark'|translate}} </span>
                            <div align="right" >
                                <md-radio-group ng-model="group1" align="left"   ng-change="vm.sopwswitch(group1)">
                                    <div layout="row"  layout-align="start start">
                                        <md-radio-button ng-checked="true" style="margin: 0px 10px 0px 10px;" value="Total">
                                        <p style="padding-right: 5px">{{'kpitotal'|translate}}</p></md-radio-button>
                                        <!--<md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>-->
                                        <md-radio-button style="margin: 0px 10px 0px 10px;" value="Region">
                                        <p style="padding-right: 5px">{{'rightsidenavregion'|translate}}</p></md-radio-button>
                                    </div>
                                </md-radio-group>
                            </div>
                        </div>
                        <div flex-gt-sm="10"></div>
      		</div>   
       	</md-card>        

		<md-card flex layout="column" style="background-color: #FFFFFF">
          	<h3 align="left" class="headingmain">{{'kpitrendkpitrend'|translate}} -{{sopname}}</h3>
         	<div id="mainchart"  style="height: 62vh"></div>                
        </md-card> 
        
        <div>  
       <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
		</div>
     

    </div>        



</div>