<style>
/*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: 8888; }
    .ng-leave       { z-index: 9999; }*/
    
    .bg-color1-table{
        background-color:#eeeeee ;
    }
/*    .tableHeader{
        word-wrap: break-word;
        text-align: center;
        white-space: normal;
        font-size: 14px;
        padding-right: 1vw; 
        padding-left: 1vw;
        color: #ffffff;
        background-color: #7e57c2;
        width:1vw
    }*/
</style>  

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex layout="column"  ng-init="graphs()" >
        <p>Topline</p>
        
        <div flex="15" class="drag-container" >   
                <tri-widget ng-click='outputer("vehicleinflow")' style="background-color: #F2F2F2;border-bottom: 5px solid black;border-bottom-color: #FF9800" layout="column" class="flexbutton" >
                    <p flex="30"  layout="row"  layout-align="start center" class="textbox"> Topline 1 </p>
                </tri-widget>
                <br>
                <tri-widget ng-click='outputer("ontime")' style="background-color: #F2F2F2" layout="column" class="flexbutton"  >
                    <p flex="30"  layout="row"  layout-align="start center" class="textbox"> Topline 2 </p>
                </tri-widget>
                <br>
                <tri-widget ng-click='outputer("Cluster")' style="background-color: #F2F2F2" layout="column" class="flexbutton" >
                    <p flex="30"  layout="row"  layout-align="start center" class="textbox"> Topline 3 </p>
                    
                </tri-widget>
        </div>
        
        
        
    </div>        
    
     
    
</div>