

<style>
    /*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            z-index: 8888; }
        .ng-leave       { z-index: 9999; }*/

    .bg-color1-table{
        background-color:#eeeeee ;
    }
    .myhover {
        background: #F0DCB6!important;
    }
    .my_style .webix_column > div{ border-color:#D2E3EF; }

    .webix_hcell{
        font-family: 'Roboto Condensed'!important;
        font-size: 15px !important;
        background-color:#7E57C2 !important;
        color:#ffffff !important;
    }
    .webix_hcell{
        text-align: center;
        height: initial !important;
        line-height: 14px !important;
        overflow: visible !important;
    }

    .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
        background: #7E57C2 !important;
        color:#FFFFFF !important;
        vertical-align :middle !important;
        height: 95px !important;
        text-align: center !important;

    }


    .webix_column>div.webix_row_select { background-color:#F08080 !important; }


    .webix_cell{
        font-family: 'Roboto Condensed'!important;
        font-size: 12.5px !important;
        text-align: center !important;
    }

    .webix_topcell {
        background-color:#EEEEEE;
    }

    .columnstyle {

        background-color:#EEEEEE;
        /*       word-spacing:8px !important;*/
    }


    /*    webix_ss_header{
            height:65px !important;
        }*/
    .multiline{
        /*       padding-bottom: 15px !important;
                      line-height:15px !important;*/
        /*               padding-left:5px!important;
                       padding-right:5px!important;*/
        vertical-align :middle !important;
        text-align: center !important;
    }
    .rowcolor{
        background-color:#EEEEEE;
    } 
    /*    .webix_table_cell.webix_measure_size {
            padding-left:15px;
      }*/
</style>  


<!--<div ng-show="showLoader" class="dashboard-container overlay-2 " layout="row" align="center">
   <md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
         <img src="assets/images/loader.gif" alt=""/>
   </md-card>
</div>-->



<div  class="dashboard-container overlay-2 " layout="column" align="center" >


    <md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
        <div webix-ui="dalerscorettable" webix-ready="doSome()"  data="records" style="width:100%;height: 80vh"></div>
        <div layout="row">
            <!--<span>** {{footer}}</span>-->
            <div flex align="right">
                <md-button align="right" ng-click="exportdata()" class="md-raised md-primary">{{'dealerrankexporttable'| translate}}</md-button>
            </div>
        </div>



    </md-card>   

    <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
</div>