<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
  
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex layout="column"  ng-init="graphs()" >
        <md-card hide-xs hide-sm layout="row"> 
            <!--<h3 flex="50" class="padding-left-10 heading" align="left">{{soptitle1}} {{soptitle2}}</h3>--> 
            <h3 flex="50" style="margin-top: 0px; margin-bottom: 4px;" class="padding-left-10 heading" align="left" >{{'sopperformancesopperform'|translate}}</h3> 
            <div flex="10"></div>
            <div flex="30" align="left" layout="column">
                <span style="text-align: left;margin-left: 10px;">{{'sopperformancebenchmark'|translate}} </span>
                <div align="right" >
                <md-radio-group ng-model="group1" align="left"   ng-change="vm.sopwswitch(group1)"> 
                    <div layout="row"  layout-align="start start">
                        <md-radio-button ng-checked="true" style="margin: 0px 10px 0px 10px;" value="Total"><p style="padding-right: 5px">{{'soptotal'|translate}}</p></md-radio-button>
                        <!--<md-radio-button style="margin: 10px" value="Zone">                   <p style="padding-right: 5px">{{opt2}}</p> </md-radio-button>-->
                        <md-radio-button style="margin: 0px 10px 0px 10px;" value="Region">                 <p style="padding-right: 5px">{{'rightsidenavregion'|translate}}</p></md-radio-button>
                    </div>
                </md-radio-group>
                  </div>   
            </div>
           
            <div flex="10"></div>
        </md-card>

        <md-card hide-gt-sm layout="row" align="center center" > 
            <div style="padding: 5px; height:50vh" layout="row" align="center center">
                <md-switch class="md-primary" ng-model="data.cb1" aria-label="Switch 1" flex="20" 
                           ng-change="vm.sopwswitch(data.cb1)">
                </md-switch>
            </div>
            <br>
            <p style="margin-top: 22px">Benchmark Score : {{sopswitchoutputcaps}}</p>
        </md-card>

        <div ng-hide="hideloader"  style="height: 63vh;;width: 95%;overflow-y: auto"> 
            <img src="assets/images/loader.gif" alt=""/>
        </div>
        <div ng-hide="!(hideloader)" style="height: 66vh;overflow-y: auto">
            <div  hide-sm hide-xs id="sop" style="height: 66vh;width: 65vw" ></div>  
            <div hide-gt-sm id="sop1" style="height: 120vh;width: 65vw" ></div>  
        </div>


        <div>
            <!--                            <p class="bottomlabel">
                                        {{sopfooter1}}
                                         </p>
                                         <p class="bottomlabel">
                                       {{sopfooter2}}
                                        </p>
                                         <p class="bottomlabel">
                                        {{sopfooter3}}
                                         </p>
                                         <p class="bottomlabel">
                                        {{sopfooter4}} |  {{footnote}}
                                        </p>-->
            <!--                             <p class="bottomlabel">
                                       {{footnote}}
                                        </p>-->
           <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
        </div>

    </div>        



</div>