<style>

    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                     z-index: 8888; }
    .ng-leave       { z-index: 9999; }


    .flexbutton{
        height: 50px;
        color: #ffffff;
    }

    .monthbutton{
        palette-background:'grey:300';
        color:#000000;
        height: 3em; 
        width: 6em;
        border-radius: .4em;

    }

    th.md-column {
        white-space: normal;
    }

    .fabSpeedDialdemoBasicUsage .text-capitalize {
        text-transform: capitalize; }

    .fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
        background-color: #000 !important; }

    .fabSpeedDialdemoBasicUsage p.note {
        font-size: 1.2rem; }

    .fabSpeedDialdemoBasicUsage .lock-size {
        min-width: 300px;
        min-height: 300px;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto; }


    /*table, th, td {
       border: .5px solid grey;
    }*/

    .tableHeader{
        padding-right: 1vw;
        padding-left: 1vw;
        word-wrap: break-word;
        font-size: 18px;
        text-align: center;
    }

    .dt {
        width: 75%;
        margin: 50px auto;
        height: 210px;
    }


    table.md-table tbody.md-body > tr.md-row {
        height: 5vh;
    }

    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }      



    .otherheading{
        font-size: 12px;
        font-weight: 400;        
        text-align: left;
        padding-left: 10px;
    }

    .footerclass{
        margin: 0px;
        font-size: 10px;
        text-align: left;
    }
    .marignclass{

        margin-right: 0px;
        padding-right: 7px;

    }
</style> 

<!--<div ng-hide="hideloader"  class="dashboard-container overlay-2 " layout="row" align="center"> 
      <img layout="row" hide-sm hide-xs class="maindiv" flex src="assets/images/loader.gif" alt=""/>
 </div>-->


<div   class="dashboard-container overlay-2 " layout="column" align="center" ng-init="graphs()">

    <md-card layout="row" hide-sm hide-xs class="maindiv" flex style="margin:4px;" >
        <div flex="40" class="marignclass">
            <div layout="row" >  
                <h3 flex="90" align="left"  class="headingmain">{{'othersdiagnosticstabletitle'|translate}}</h3> 
                <i flex="10" class="zmdi zmdi-menu" align="right" id="otherexportCS" style="padding-right: 10px;padding-top: 10px"  ></i>
            </div>

            <div style="" > 
                <img ng-hide="hideloader"  src="assets/images/loader.gif"  alt=""/>
            </div>

            <div ng-hide="!(hideloader)"  style="height: 70vh;overflow: auto"> 
                <table id="table22"  md-table  style="overflow-y: scroll" >                  
                    <thead style="background-color: #ffffff;color: #ffffff"  md-head>
                        <tr   md-row >
                            <th class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 13px;   padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{'othersdiagnosticsQuestions'|translate}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 13px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column   >{{Heading1}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 13px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Heading2}}</th>
                            <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 13px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading3}}</th>                                    
                            <!--<th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 12px; padding-right: .5vw; padding-left: .5vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading4}}</th>-->
                        </tr>
                    </thead>
                    <tbody md-body >
                    </tbody>
                    
                    
                    
                    <tbody md-body >
                        <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata" >
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 13px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 13px"   data-title="Ford Average">{{x.Value1}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 13px"   data-title="Ford Average">{{x.Value2}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 13px"   data-title="Regional Best">{{x.Value4}}</td>
                            <!--<td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'"></span> </td>-->
                        </tr>
                        
                    

                    </tbody>
                </table>
                
                
            </div> 
              <p class="footerclass">{{'otherstablefootnote1'| translate}}</p>
<!--            <p class="bottomlabel" data-html="true"  title="{{tableFootnote}}" ><img style="align-content: flex-start" align="left" src="assets/images/NoteForTable.png"></img>
                <md-button align="left" style="height: 1px" class="md-raised md-primary">NOTE</md-button>
            </p> -->
                       
<!--            <p class="footerclass">{{'otherstablefn2'| translate}}</p>
            <p class="footerclass">{{'otherstablefn3'| translate}}</p>-->
           
        </div>

       <div  flex="60"  class="tabsdemoDynamicHeight" >
                  <md-content>
                    <md-tabs md-dynamic-height="10px" md-border-bottom="">
                        
                        <md-tab label="{{'othersdiagnosticspage1'|translate}}">
                            
                            <div flex="100" layout="column" layout-xs='column' style="overflow-x:hidden;" >
                                <div flex>
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget1" style="height:70vmin !important;"></div>
                                    </md-card>

                                </div>

                            </div>

                      </md-tab>
                        
                        <md-tab label="{{'othersdiagnosticspage2'|translate}}">

                            <div flex="100" layout="column" layout-xs='column' style="overflow-x:hidden;" >
                                <div flex layout="row">
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget2" style="height:35vmin;"></div>
                                    </md-card>
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget3" style="height:35vmin;"> </div>
                                    </md-card>
                                </div>
                                <div flex   >
                                   
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget4" style="height:35vmin;"> </div>
                                    </md-card>
                                </div>

                            </div>

                        </md-tab>
                      <md-tab label="{{'othersdiagnosticspage3'|translate}}">

                            <div flex="100" layout="column" layout-xs='column' style="overflow-x:hidden;" >
                                <div flex layout="row">
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget5" style="height:35vmin;"></div>
                                    </md-card>
                                    
                                </div>
                                <div flex  layout="row" >
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget6" style="height:35vmin;"> </div>
                                    </md-card>
                                  
                                   
                                </div>

                            </div>

                        </md-tab>
                       
                         <md-tab label="{{'othersdiagnosticspage4'|translate}}">

                            <div flex="100" layout="column" layout-xs='column' style="overflow-x:hidden;" >
                                <div flex layout="row">
                                     <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget7" style="height:35vmin;"></div>
                                    </md-card>
 

                                </div>
                                <div flex  layout="row" >
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget8" style="height:35vmin;"> </div>
                                      <p style="font-size:10px"align="right">
                                                {{'foot1'| translate}}<br>{{'foot2'| translate}}</p>
                                      
                                        
                                    </md-card>

                                </div>

                            </div>

                        </md-tab>
                        
                        <md-tab label="{{'othersdiagnosticspage5'|translate}}">

                            <div flex="100" layout="column" layout-xs='column' style="overflow-x:hidden;" >
                                <div flex layout="row">
                                    <md-card flex class="md-whiteframe-z1" style="margin:2px;">
                                        <div id="paget9" style="height:35vmin;"></div>
                                    </md-card>

                                </div>

                            </div>

                        </md-tab>
                        
                    </md-tabs>
                  </md-content>
        </div>

    </md-card>  

    <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>

</div>
<div hide-gt-sm class="maindiv" flex layout="column">
    <div>
        <div layout="row" >  
            <h3 flex="70" align="left"  class="headingmain">Other Information Areas</h3> 
            <i flex="30" class="zmdi zmdi-menu" align="right" id="otherexportCS" style="padding-right: 10px;padding-top: 10px"  ></i>
        </div>
        <div style="height: 62vh;overflow: auto"> 
            <table id="table22"  md-table  >                  
                <thead style="background-color: #ffffff;color: #ffffff"  md-head>
                    <tr   md-row >
                        <th  class="tableHeader" style="word-wrap: break-word;text-align: left;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{'othersdiagnosticsQuestions'|translate}}</th>
                        <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column   >{{Heading1}}</th>
                        <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column  >{{Heading2}}</th>
                        <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading3}}</th>                                    
                        <th class="tableHeader" style="word-wrap: break-word;text-align: center;white-space: normal;font-size: 14px; padding-right: 1vw; padding-left: 1vw;color: #ffffff;background-color: #7e57c2;width:1vw " md-column >{{Heading4}}</th>
                    </tr>
                </thead>
                <tbody md-body >
                    <tr md-row ng-click="alert_dealer(scores)" ng-repeat="x in testdata.slice(0, testdata.length-1)" >
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE"   data-title="Questions">{{x.AttributeName}}</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}%</td>
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value2}}%</td>
                            <!--<td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Regional Best">{{x.Value3}}<span ng-show="x.Value3 != 'NA'">%</span></td>-->
                            <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}}<span ng-show="x.Value4 != 'NA'">%</span> </td>
                        </tr>
                        
                    <tr md-row ng-click="alert_dealer(scores)"  ng-repeat="x in testdata.slice(testdata.length-1, testdata.length)">
                        <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: left;font-size: 12px;background-color: #EEEEEE;"  data-title="Questions">{{x.AttributeName}}</td>
                        <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Average">{{x.Value1}}</td>
                        <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"  data-title="Ford Average">{{x.Value2}}</td>
                        <td  md-cell class="padding-left-10 center-align header-fixed3" style="padding-right: .5vw;padding-left: .5vw;text-align: center;font-size: 12px"   data-title="Ford Best">{{x.Value4}} </td>
                    </tr>

                </tbody>
            </table>
              <p class="footerclass">{{'otherstablefn1'| translate}}</p>
            <p class="footerclass">{{'otherstablefn2'| translate}}</p>
            <p class="footerclass">{{'otherstablefn3'| translate}}</p>
            
        </div>

        <md-divider></md-divider>
        <!--<div class="tabsdemoDynamicHeight" >-->
        <md-content>
            <div  layout="column"> <span class="otherheading">{{heading0a}}</span><div style="height: 40vh" id="page0ax" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div layout="column"> <span class="otherheading">{{heading0b}}</span> <div style="height: 40vh" id="page0bx" ></div> </div>
            <md-divider></md-divider>
            <div  layout="column" > <span class="otherheading">{{heading0c}}</span><div style="height: 40vh;" id="page0cx" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div  layout="column"> <span class="otherheading">{{heading1}}</span><div style="height: 40vh" id="top01x" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div layout="column"> <span class="otherheading">{{heading2}}</span> <div style="height: 40vh" id="top02x" ></div> </div>
            <md-divider></md-divider>
            <div  layout="column" > <span class="otherheading">{{heading3}}</span><div style="height: 40vh;" id="bot01x" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div  layout="column"> <span class="otherheading">{{heading4}}</span><div style="height: 40vh" id="bot02x" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div layout="column"> <span class="otherheading">{{heading5}}</span> <div style="height: 40vh" id="top11x" ></div> </div>
            <md-divider></md-divider>
            <div  layout="column" > <span class="otherheading">{{heading6}}</span><div style="height: 40vh;" id="top12x" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div  layout="column"> <span class="otherheading">{{heading7}}</span><div style="height: 35vh" id="bot11x" > </div></div>
            <md-divider class="vertical-divider"></md-divider>
            <div layout="column"> <span class="otherheading">{{heading8}}</span> <div style="height: 35vh" id="bot12x" ></div> </div>
            <md-divider></md-divider>

        </md-content>
        <!--</div>-->
    </div> 
</div>
</div>