/* view change animation */
.triangular-content {
    /*    &.ng-enter,
        &.ng-leave {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: .5s;
        }
    
        &.ng-enter {
          @include slideInUp();
        }
    
        &.ng-leave {
          opacity: 0;
        }*/
}
.triangular-sidenav-right{  
    md-tabs-wrapper.md-stretch-tabs md-tabs-canvas {
        height: 64px!important;
    }
}


