   
<style>
    .headerr{
        text-align: center;
        color: #17C2D7;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: solid #FFD740;
    }
</style>


<md-content  style="padding-left: 5px;" flex="85" layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="vm.currentTab">

        <md-tab >
            <md-tab-label >
                <!--<i class="zmdi zmdi-filter-list"  style="font-size: 20px"></i>    filterTooltip -->
                <!--<p ng-hide="mainselectionhide">{{mainSelectionTooltip}}</p>-->
                <p ng-show="filterSelShow">{{filterTooltip}}</p>
            </md-tab-label>
            <md-tab-body>
                <div>
                    <div ng-hide="!(priorityhide)" class=""  style="clear:both; ;padding-top: 2px;padding-bottom: 5px">
                        <div layout="column" style="padding-left: 0px">

                            <md-input-container style="margin-bottom: 3px;" ng-hide="hideyear"><label class="labels">{{yearl}}</label><md-select ng-model="year" placeholder="Year" ng-change="yearchanged(year)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.year  track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannual track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 3px;" ng-hide="hidemonth"><label class="labels">{{monthl}}</label><md-select ng-model="month" placeholder="Month" ng-change="monthchanged(month)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.month  track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                        </div>
                    </div>
                    <div ng-hide="priorityhide" class=""  style="clear:both; padding-top: 5px;padding-bottom: 5px">
                        <div layout="column" style="padding-left: 0px">

                            <md-input-container ng-hide="dealerpriorityhide" style="margin-bottom: 3px;" ng-hide="hideyear"><label class="labels">{{yearl}}</label><md-select ng-model="year" placeholder="Year" ng-change="yearchanged(year)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.year track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container ng-hide="!(dealerpriorityhide)"  style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannualx track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container ng-hide="dealerpriorityhide"   style="margin-bottom: 3px;" ng-hide="hidebiannual"><label class="labels">{{ biannuall}}</label>
                                <md-select ng-model="biannual" placeholder="Bi Annual" ng-change="biannualchanged(biannual)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.biannual track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container ng-hide="dealerpriorityhide"  style="margin-bottom: 3px;" ng-hide="hidemonth"><label class="labels">{{monthl}}</label><md-select ng-model="month" placeholder="Month" ng-change="monthchanged(month)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.month track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                        </div>
                    </div>

                    <!-- Filters Search Criteria-->
                    <!--<i class="fa fa-filter" aria-hidden="true" style="font-size: 20px"></i>     mainSelectionTooltip -->
                    <div>
                        <!--<p class="headerr" style="padding-top: 5px" ng-show="filterSelShow">{{filterTooltip}}</p>--> 
                        <p class="headerr" style="padding-top: 5px" ng-hide="mainselectionhide">{{mainSelectionTooltip}}</p> 
                    </div>
                    <div ng-hide="!(priorityhide)" class=""  style="clear:both; padding-top: 5px;padding-bottom: 10px">
                        <div ng-hide="!(loyaltydealerhide)" layout="column" style="padding-left: 0px">

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="hidezone"><label class="labels">{{ zonel}}</label><md-select ng-model="zone" placeholder="Zone"  ng-change="zonechanged(zone)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.zone track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;" ng-hide="hideregion"><label class="labels">{{ regionl}}</label><md-select ng-model="region" placeholder="Region"  ng-change="regionchanged(region)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.region track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="snaphidezone"><label class="labels">{{ zonel}}</label><md-select ng-model="snapzone" placeholder="Zone"  ng-change="snapzonechanged(snapzone)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.zone track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;" ng-hide="snaphideregion"><label class="labels">{{ regionl}}</label><md-select ng-model="snapregion" placeholder="Region"  ng-change="snapregionchanged(snapregion)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.region track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="dealerhide"><label class="labels">{{dealerl}}</label><md-select ng-model="dealer" placeholder="Dealer" ng-change="dealerchanged(dealer)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container style="margin-bottom: 5px;"  ng-hide="redalertdealerhide"><label class="labels">{{dealerl}}</label><md-select ng-model="redalertdealer" placeholder="Dealer" ng-change="redalertdealerchanged(redalertdealer)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.redalertdealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="dealersnaphide"><label class="labels">{{ dealerl}}</label><md-select ng-model="dealersnap" placeholder="Dealer" ng-change="dealersnapchanged(dealersnap)" >
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealer track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container style="margin-bottom: 5px;"  ng-hide="hidemodel"><label class="labels">{{modell}}</label><md-select ng-model="model" placeholder="Model"  ng-change="modelchanged(model)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.model track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>

                            <md-input-container  style="margin-bottom: 5px;" ng-hide="hidefactor"><label class="labels">{{factorl}}</label><md-select ng-model="factor" placeholder="Factor"  ng-change="factorchanged(factor)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container  style="margin-bottom: 5px;" ng-hide="hidetrendfactor"><label class="labels">{{factorlt}}</label><md-select ng-model="factor" placeholder="Factor"  ng-change="factorchanged(factor)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.factor track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                            <md-input-container ng-hide="periodhide"   style="margin-bottom: 1px;" ><label class="labels">{{trendfactorlabel}}</label><md-select ng-model="period" placeholder="Period" ng-change="periodchanged(period)" class="zero-margin-padding">
                                    <md-option ng-value="x.name" ng-repeat="x in Filterarray.period track by x.name" >{{x.value}}</md-option>
                                </md-select></md-input-container>
                        </div>
                        <div ng-hide="loyaltydealerhide">
                            <md-radio-group ng-change="onchangeloyalSwitch(loyalSwitch)" style="font-size:12px;" ng-model="loyalSwitch">
                                <md-radio-button ng-checked="true" value="Study Total">{{opt1}}</md-radio-button>
                                <md-radio-button value="Zone">{{loyalzone}}</md-radio-button>
                                <!--                            <md-radio-button value="Region">{{loyalregion}}</md-radio-button>-->
                            </md-radio-group>
                        </div>
                    </div>


                    <div ng-hide="priorityhide" class=""  style="clear:both; padding-top: 5px;padding-left: 5px;padding-bottom: 5px">
                        <div ng-hide="dealerpriority" layout="column" style="padding-left: 0px">

                            <span class="padding-left-10" style="text-align: center; font-size:16px;font-weight:400">{{choosecomparision}}</span>
                            <md-radio-group ng-change="onchangeRadioSwitch(radioSwitch)" style="font-size:12px;" ng-model="radioSwitch">
                                <md-radio-button ng-checked="true" value="Zone Comparison">{{zonecomparision}}</md-radio-button>
                                <md-radio-button value="Dealer Comparison">{{dealercomparision}}</md-radio-button>
                            </md-radio-group>
                            <div layout="column">

                                <div layout="row" layout-align="center center">
                                    <span  style="text-align: center; font-size:16px;font-weight:400">{{langconversionname}}</span>

                                </div>

                                <!--hi{{region11}}-->
                                <md-input-container ng-hide="priorityRegionHide"  style="margin-bottom: 3px;" ><label class="labels">{{zone1l}}</label><md-select ng-model="zone1"  placeholder="First Zone" ng-change="zone1changed(zone1)" class="zero-margin-padding">
                                        <md-option ng-value="x.name" ng-repeat="x in Filterarray.zones2 track by x.name" >{{x.value}}</md-option>
                                    </md-select></md-input-container>

                                <md-input-container ng-hide="priorityRegionHide" style="margin-bottom: 3px;" ><label class="labels">{{zone2l}}</label><md-select ng-model="zone2"  placeholder="Second Zone" ng-change="zone2changed(zone2)" class="zero-margin-padding">
                                        <md-option ng-value="x.name" ng-repeat="x in Filterarray.zones track by x.name" >{{x.value}}</md-option>
                                    </md-select></md-input-container>

                                <md-input-container ng-hide="!(priorityRegionHide)" style="margin-bottom: 3px;" ><label class="labels">{{dealer1l}}</label><md-select ng-model="dealer1"  placeholder="First Dealer" ng-change="dealer1changed(dealer1)" class="zero-margin-padding">
                                        <md-option ng-value="x.name" ng-repeat="x in Filterarray.dealers2 track by x.name" >{{x.value}}</md-option>
                                    </md-select></md-input-container>


                                <md-input-container ng-hide="!(priorityRegionHide)" style="margin-bottom: 3px;" ><label class="labels">{{dealer2l}}</label><md-select ng-model="dealer2"  placeholder="Second Dealer" ng-change="dealer2changed(dealer2)" class="zero-margin-padding">
                                        <md-option ng-value="x.name"  ng-repeat="x in Filterarray.dealers track by x.name" >{{x.value}}</md-option>
                                    </md-select></md-input-container>

                            </div>

                        </div>
                        <!--                    <div ng-hide="!(dealerpriority)"  layout="column" style="padding-left: 0px">
                                                                        <br> 
                                                                        <br>
                                            </div>-->
                    </div>


                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>



<div style="margin: 1vmin;padding: 5px" layout="column"  content-padding >

    <div ng-hide="starlabelhide" layout="row"> <a flex="15"> <img  style="height: 30px; width: 30px"  src="assets/images/best1.jpg" alt=""/> </a>
        <span flex="80" style="padding-top: 5px; font-weight: bold;font-size: 14px" >{{legendforselectionb}}</span>
    </div>
    <div ng-hide="starlabelhide" layout="row"> <a flex="15"> <img  style="height: 30px; width: 30px"  src="assets/images/worst1.jpg" alt=""/> </a>
        <span flex="80" style="padding-top: 5px; font-weight: bold;font-size: 14px" > {{legendforselectionw}}</span>
    </div>
</div>


<div flex layout="row"  layout-align="end end">

    <md-button ng-hide="pagenumber1 != '1'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax">  {{sumtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>

    <md-button ng-hide="pagenumber1 != '2'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{regiontip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '3'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{trendtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '4'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{prioritytip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '5'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax">  {{soptip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '6'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{strendtip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '7'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{otherstip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '8'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip   style="font-size: 1.0vmax"> {{dscoretip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '9'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{dsnaptip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '10'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{modeltip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>
    <md-button ng-hide="pagenumber1 != '11'"  class="md-fab md-mini" style="margin: 5px;padding: 8px" aria-label="fab button">     
        <md-tooltip  style="font-size: 1.0vmax"> {{loyaltip}}</md-tooltip>
        <md-icon md-font-icon="zmdi zmdi-help-outline zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
    </md-button>

</div>