<div class="padded-content-page">
    <h2 class="md-display-1">Datepicker Example</h2>
    <p>The selected day is indicated by a filled circle. The current day is indicated by a different color and type weight.</p>

    <div class="example-code md-whiteframe-z1 margin-bottom-20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Datepicker Example</h2>
            </div>
        </md-toolbar>

        <md-tabs class="example-tabs" md-dynamic-height md-border-bottom>
            <md-tab label="example">
                <div class="md-tabs-content padding-40">
                    <md-card>
                        <md-card-content ng-include="'app/examples/elements/examples/datepicker-1.tmpl.html'"></md-card-content>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="HTML">
                <div class="md-tabs-content">
                    <div flex hljs language="html" include="'app/examples/elements/examples/datepicker-1.tmpl.html'"></div>
                </div>
            </md-tab>
        </md-tabs>
        </md-content>
    </div>
