<div class="padded-content-page">
    <h2 class="md-display-1">Popup Dialog Example</h2>
    <p class="md-subhead">Dialogs inform users about critical information, require users to make decisions, or encapsulate multiple tasks within a discrete process. Use dialogs sparingly because they are interruptive in nature—their sudden appearance forces users to stop their current task and refocus on the dialog content. Not every choice, setting, or detail warrants such interruption and prominence.</p>

    <p>Alternatives to dialogs include simple menus or inline expansion within the current content area. Both approaches present information or options while maintaining the current context and are less disruptive.</p>

    <p class="md-caption">Try creating a dialog with the example below</p>

    <div class="example-code md-whiteframe-z1 margin-bottom-20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a dialog</h2>
            </div>
        </md-toolbar>
        <md-tabs class="example-tabs" md-dynamic-height md-border-bottom>
            <md-tab label="example">
                <div class="md-tabs-content padding-40" ng-include="'app/examples/elements/examples/dialog-1.tmpl.html'"></div>
            </md-tab>
            <md-tab label="HTML">
                <div class="md-tabs-content">
                    <div flex hljs language="html" include="'app/examples/elements/examples/dialog-1.tmpl.html'"></div>
                </div>
            </md-tab>
            <md-tab label="JS">
                <div class="md-tabs-content">
                    <div flex hljs language="js" include="'app/examples/elements/examples/dialog-1.controller.js'"></div>
                </div>
            </md-tab>
        </md-tabs>
        </md-content>
    </div>
