<div class="padded-content-page">
    <h2 class="md-display-1">Sidebar Examples</h2>
    <p class="md-subhead">If present, the left and right nav bars can be pinned for permanent display or they can float temporarily as overlays.</p>

    <p>The content in the left nav is ideally navigation- or identity-based. The content in the right nav should be secondary to the main content on a page.</p>

    <div class="example-code md-whiteframe-z1 margin-bottom-20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Open a sidebar</h2>
            </div>
        </md-toolbar>

        <md-tabs class="example-tabs" md-dynamic-height md-border-bottom>
            <md-tab label="example">
                <div class="example-tabs-500-height elements-sidebar-example" ng-include="'app/examples/elements/examples/sidebars-1.tmpl.html'">
                </div>
            </md-tab>
            <md-tab label="HTML">
                <div class="md-tabs-content">
                    <div flex hljs language="html" include="'app/examples/elements/examples/sidebars-1.tmpl.html'"></div>
                </div>
            </md-tab>
        </md-tabs>
        </md-content>
    </div>
