<div class="padded-content-page">
    <h2 class="md-display-1">Material Switch Examples</h2>
    <p class="md-subhead">On/off switches toggle the state of a single settings option. The option that the switch controls, as well as the state it’s in, should be made clear from the corresponding inline label. Switches take on the same visual properties of the radio button.</p>

    <p>Switches use animation to communicate focused and pressed states.</p>

    <div class="example-code md-whiteframe-z1 margin-bottom-20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Control Switches</h2>
            </div>
        </md-toolbar>
        <md-tabs class="example-tabs example-tabs-nopadding margin-bottom-40" md-dynamic-height md-border-bottom>
            <md-tab label="example">
                <div class="md-tabs-content padding-40">
                    <md-card>
                        <md-card-content class="padding-40" layout-align="center start" ng-include="'app/examples/elements/examples/switches-1.tmpl.html'"></md-card-content>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="HTML">
                <div class="md-tabs-content">
                    <div flex hljs language="html" include="'app/examples/elements/examples/switches-1.tmpl.html'"></div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</div>
