<style>
    /*     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                            z-index: 8888; }
        .ng-leave       { z-index: 9999; }*/

    .bg-color1-table{
        background-color:#eeeeee ;
    }
    .my_style .webix_column > div{ border-color:#D2E3EF; }


    .webix_hcell{
        font-family: 'Roboto Condensed'!important;
        font-size: 16px !important;
        background-color:#7E57C2 !important;
        color:#ffffff
    }


    .webix_hcell{
        text-align: center;
        height: initial !important;
        line-height: 15px !important;
        overflow: visible !important;
    }

    .webix_cell{
        font-family: 'Roboto Condensed'!important;
        font-size: 14px !important;
        text-align: center !important;
        line-height: initial !important;
        vertical-align :middle !important;
    }
    .columnstyle {

        background-color:#EEEEEE;
    }

    .webix_table_cell.webix_measure_size {
        padding-left:25px;
    }


    .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
        background: #7E57C2 !important;
        color:#FFFFFF !important;
        vertical-align :middle !important;
        height: 80px !important;
        text-align: center !important;

    }
    .webix_ss_vscroll, .webix_vscroll_y{
        margin-top:80px !important;

    }
    .multiline{
        /*       padding-bottom: 15px !important;
                      line-height:15px !important;
                       padding-left:5px!important;
                       padding-right:5px!important;*/
        vertical-align :middle !important;
    }


</style>  

<div class="dashboard-container overlay-2 " layout="column" align="center" >


    <md-card class="maindiv" flex="100" layout="column" flex-xs="100" >
        <div flex content-layout="column" content-layout-align="center" style="max-height: 78vh" >
            <div webix-ui="redalerttable" webix-ready="doSome()"  data="records" style="width:100%;height: 75vh"></div>
        </div>
        <div layout="row">
            <!--            <span>{{footer}}</span>-->
            <div flex align="right">
                <md-button align="right" ng-click="exportdata()" class="md-raised md-primary">{{export}}</md-button>
            </div>
        </div>



    </md-card>   

    <p class="bottomlabel"  title="{{redfootnotetitle}}" ng-bind-html="footnote">
    </p>


</div>