<div class="dashboard-social-header padding-20 padding-top-100 overlay-gradient-30" layout="row" layout-align="start center" style="background: url(assets/images/backgrounds/material-backgrounds/mb-bg-02.jpg) no-repeat; background-size: cover;">
    <div class="margin-right-20">
        <img src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light">Christos Varoufakis</h3>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">Web Designer, Eroticist and Spy</p>
        <p class="margin-top-0"><md-icon md-font-icon="zmdi zmdi-pin color-inherit"></md-icon> Athens, Greece</p>
    </div>
</div>
<md-tabs md-dynamic-height md-border-bottom class="tabs-tall">
    <md-tab>
        <md-tab-label layout="column">
            <span>Tweets</span>
            <span class="display-block">11.4K</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column">
                <tri-widget layout-margin flex="50" flex-xs="100" avatar="assets/images/avatars/avatar-5.png" palette-background="blue:800" title="Christos Varoufakis" subtitle="@christos - 11h" title-position="top" content-layout-align="start center" content-layout="column">
                    <div linkify="twitter" class="font-weight-300 md-headline font-style-italic line-height-big margin-bottom-20 padding-normal" >
                        Don't miss it! A Material Design Avatar set with 1440 avatars! http://sellfy.com/p/EUcC/ #avatars #materialdesign
                    </div>
                    <img src="assets/images/dashboards/tweet.jpg" alt="some image">
                </tri-widget>
                <div flex layout="column">
                    <tri-widget layout-margin flex palette-background="blue:500" avatar="assets/images/avatars/avatar-2.png" title="Kate Smith" subtitle="@christos - 12h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            Got some awesome news! Triangular 1.1.2 our new #AngularJS admin template is out now!  FAB Speed Dial & FAB Toolbar added. Enjoy!
                        </div>
                    </tri-widget>
                    <tri-widget layout-margin flex palette-background="light-blue:500" avatar="assets/images/avatars/avatar-6.png" title="Jane Smith" subtitle="@christos - 14h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            Don't miss our latest Angular Material Design Admin Template: http://goo.gl/0Yxm1U  #angularJS #material #webdesign
                        </div>
                    </tri-widget>
                    <tri-widget layout-margin flex palette-background="triCyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            New Freebie! Material Design Image fonts! In high res png's http://goo.gl/j1fWZz  #MaterialDesign #webdesign
                        </div>
                    </tri-widget>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <tri-widget layout-margin flex palette-background="indigo:500" avatar="assets/images/avatars/avatar-1.png" title="Manos Proistakis" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        Don't miss our latest Angular Material Design Admin Template: http://goo.gl/0Yxm1U  #angularJS #material #webdesign
                    </div>
                </tri-widget>
                <tri-widget layout-margin flex palette-background="deep-purple:500" avatar="assets/images/avatars/avatar-4.png" title="Despoina" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        New Freebie! Material Design Image fonts! In high res png's http://goo.gl/j1fWZz  #MaterialDesign #webdesign
                    </div>
                </tri-widget>
                <tri-widget layout-margin flex palette-background="purple:500" avatar="assets/images/avatars/avatar-1.png" title="Manos Proistakis" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        Triangular 1.1.2 our new #AngularJS admin template is out now!  FAB Speed Dial & FAB Toolbar added. Enjoy!
                    </div>
                </tri-widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Following</span>
            <span class="display-block">3,220</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-26.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-2.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Morris Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-12.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Sam Cook</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Intermediary acquisition customer-facing return on investment customer-facing conscientious outsourcing incrementally increasing sales experienced and confident.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-30.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-5.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Manos proistakis</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-40.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Jane Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Entrepreneurial, brand strategy key relationship management cross-functional; handling customer complaints. Preparing financial data going to the cinema dynamic self starter easy to work with. </p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-07.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-4.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Christine Jackson</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Presenting to senior management streamlined operations outside the box. Incrementally increasing sales customer-centric, commercially minded increased revenue customer-facing.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-18.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">John Langan</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Favorites</span>
            <span class="display-block">578</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-xs="column" layout-margin>
                <tri-widget class="flex" flex="70" flex-xs="100" title="Favorites" content-layout="column" content-layout-align="start center">
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="fave in ::vm.favorites">
                            <img ng-src="{{::fave.avatar}}" class="md-avatar"/>
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <span flex class="md-subhead text-dark">
                                        {{::fave.name}}
                                        <span class="text-gray">@{{::fave.user}}</span>
                                    </span>
                                    <span class="md-caption" am-time-ago="fave.date"></span>
                                </div>
                                <p linkify="twitter">{{::fave.tweet}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </tri-widget>
                <div flex layout="column">
                    <tri-widget flex class="margin-bottom-10" title="Who to follow" content-layout="column" content-layout-align="space-around" palette-background="triCyan:500">
                        <md-divider></md-divider>
                        <md-list >
                            <md-list-item class="md-2-line" ng-repeat="follow in ::vm.whotofollow">
                                <img ng-src="{{::follow.avatar}}" class="md-avatar"/>
                                <div class="md-list-item-text">
                                    <h3>{{::follow.name}}</h3>
                                    <h4>@{{::follow.user}}</h4>
                                    <md-icon md-font-icon="zmdi zmdi-account-add" ng-click="doSecondaryAction($event)" class="md-secondary md-hue-3"></md-icon>
                                </div>
                                <md-divider ng-hide="::$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </tri-widget>
                    <tri-widget flex title="Trends" content-layout="column" content-layout-align="center start" palette-background="triCyan:500">
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item ng-repeat="trend in ::vm.trends">
                                <p linkify="twitter">{{::trend}}</p>
                                <md-divider ng-hide="::$last"></md-divider>
                            </md-list-item>
                            </div>
                    </tri-widget>
                </div>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>

