<style>
    .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >
 <div class="maindiv" hide-sm hide-xs flex layout="column" ng-init="graphs()" >
     <div style="background-color: #607D8B;color:ivory; height: 30px; padding-top: 0px;margin-top: 3px;margin-bottom: 3px" >
            <h3 align="center" style="margin-top: 0px;margin-left: 5px" >{{mainSelName}} {{astersik}}</h3>
        </div>
    <div layout="row" flex="100" style="height: 43vh">
            <md-card flex="50" id="top1"  ></md-card>     
            <md-card flex="50" id="top2"  ></md-card>     
        </div>
        <div  layout="row" flex="100" style="height: 43vh">
            <md-card  flex="100" id="bot1"  ></md-card>    
<!--            <md-card flex="50" id="bot2"  ></md-card>     
            <md-card flex="50" id="bot3"  ></md-card>       -->
        </div>
        <p class="bottomlabel"   data-html="true"  title="{{'commonfootnote'| translate}}" translate="commonfootnote"></p>
    </div>        



    <!--for xs size-->
    <div class="maindiv" flex="100" layout="column"  hide-gt-sm>
        <div>
            <md-card id="top1x" style="height: 40vh" ></md-card>   
            <md-card id="top2x" style="height: 40vh" ></md-card>   
            <!--                  <md-card id="top3x" style="height: 40vh" ></md-card>   
                              <md-card id="bot1x" style="height: 40vh" ></md-card>   -->

        </div>
    </div> 


</div>