<md-dialog flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <h2 flex translate>Select a date range</h2>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div layout="row" layout-padding>
            <div flex layout="column" layout-align="center center">
                <h2 translate>Start Date</h2>
                <md-datepicker ng-model="vm.start" md-placeholder="'Start Date' | triTranslate"></md-datepicker>
            </div>
            <div layout="column" layout-align="center center">
                <md-icon style="font-size:2.4em" md-font-icon="zmdi zmdi-long-arrow-right"></md-icon>
            </div>
            <div flex layout="column" layout-align="center center">
                <h2 translate>End Date</h2>
                <md-datepicker ng-model="vm.end" md-placeholder="'End Date' | triTranslate"></md-datepicker>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancelClick()" aria-label="{{'Cancel'| triTranslate}}" translate="Cancel"></md-button>
        <md-button ng-click="vm.okClick()" class="md-primary" aria-label="{{Ok| triTranslate}}" translate="Ok"></md-button>
    </md-dialog-actions>
</md-dialog>