 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex="100" layout="column" flex-xs="100" ng-init="graphs()">
      
       <md-card layout="row" layout-xs="column" flex layout-margin style="margin-bottom: 2px">
            <md-card-content layout="column" ng-init="graphs()">
                <!--<h3 align="left">Priority Analysis</h3>-->
                         <div hide-xs hide-sm id="mainchart" style="height: 80vh;width: 60vw" ></div>                
                         <div hide-gt-sm id="mainchart1" style="height: 120vh;width: 90vw" ></div>   
             </md-card-content>   
            
         </md-card>
        
    </div>        
    
        
    
</div>