<div class="full-image-background mb-bg-01 padding-20 padding-top-200 overlay-gradient-30" layout="row" layout-align="center start">
    <div class="margin-right-20">
        <img src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light">Christos / Profile</h3>
        <p class="font-weight-300 margin-top-0">Edit your name, avatar etc</p>
    </div>
</div>

<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                <md-content class="md-padding">
                    <form name="profile">
                        <md-input-container class="md-block">
                            <label for="name" translate>name</label>
                            <input id="name" label="name" name="name" type="text" ng-model="vm.user.name" required/>
                            <div ng-messages="profile.name.$error" md-auto-hide="false" ng-show="profile.name.$touched">
                                <div ng-message when="required"><span translate>Please enter your name</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email" translate>email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                            <div ng-messages="profile.email.$error" md-auto-hide="false" ng-show="profile.email.$touched">
                                <div ng-message when="required">
                                    <span translate>Please enter your email address</span>
                                </div>
                                <div ng-message when="email">
                                    <span translate>Please enter a valid email address</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="location" translate>location</label>
                            <input id="location" label="location" name="location" type="text" ng-model="vm.user.location"/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="website" translate>website</label>
                            <input id="website" label="website" name="website" type="text" ng-model="vm.user.website"/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="twitter" translate>twitter</label>
                            <input id="twitter" label="twitter" name="twitter" type="text" ng-model="vm.user.twitter"/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="bio" translate>bio</label>
                            <textarea id="bio" label="bio" name="bio" ng-model="vm.user.bio"/>
                        </md-input-container>

                        <md-button class="md-raised md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Settings"></md-button>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Password">
                <md-content class="md-padding">
                    <form name="password">
                        <md-input-container class="md-block">
                            <label for="old-password" translate>current</label>
                            <input id="old-password" label="old-password" name="old-password" type="text" ng-model="vm.user.current"/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="password" translate>new password</label>
                            <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="password.confirm" ng-minlength="8" required/>
                            <div ng-messages="password.password.$error" ng-include="'app/authentication/signup/password.messages.html'" md-auto-hide="false" ng-show="password.password.$touched"></div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="confirm" translate>confirm password</label>
                            <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" tri-same-password="password.password" ng-minlength="8" required/>
                            <div ng-messages="password.confirm.$error" ng-include="'app/authentication/signup/password.messages.html'" md-auto-hide="false" ng-show="password.confirm.$touched"></div>
                        </md-input-container>

                        <md-button class="md-raised md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Settings"></md-button>

                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Notifications">
                <md-content class="md-padding">
                    <md-list>
                        <div ng-repeat="group in ::vm.settingsGroups">
                            <md-subheader class="md-accent" translate="{{::group.name}}"></md-subheader>
                            <md-list-item ng-repeat="setting in ::group.settings" layout="row" layout-align="space-around center">
                                <md-icon md-font-icon="{{::setting.icon}}"></md-icon>
                                <p translate>{{::setting.title}}</p>
                                <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
                            </md-list-item>
                        </div>
                    </md-list>
                    <md-button class="md-raised md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Settings"></md-button>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>

</div>
