 <style>
     .ng-enter       {animation: slideInRight .8s both cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 8888; }
    .ng-leave       { z-index: 9999; }
</style> 

<div class="dashboard-container overlay-2 " layout="row" align="center" >

    <div class="maindiv" flex="100" layout="column" flex-xs="100" >
        
        <md-card hide-xs hide-sm  layout="row" style="background-color:#FAFAFA" > 
            <div flex="70" layout="row" ng-init="graphs()">
                        <md-input-container class="padding-left-10" flex layout="column">
                             <label align="left" style="color: #000 ">Select SOP</label>
                                <md-select ng-model="sop"  ng-change="sopchanged(sop)" placeholder="Select SOP" class="zero-margin-padding">
                                     <md-option ng-value="year" ng-repeat="year in Filterarray.sop" >{{year}}</md-option>
                                </md-select></md-input-container>
                        </md-input-container >
                                              
                </div>  
                <div flex="30" class="padding-left-10">
                    Choose Benchmark Score:
                    <div layout="row">
                        
                        <div flex="25"></div>
                              <md-switch flex="25" class="md-primary" ng-model="data.cb1" aria-label="Switch 1"  
                                               ng-change="vm.sopswitch(data.cb1)"></md-switch>
                            <p>{{sopswitchoutputcaps}}</p> 
                         
                    </div>
                </div>
        </md-card>
        
        <md-card hide-gt-sm layout="column" style="background-color:#FAFAFA" > 
            <div flex="40" layout="row" ng-init="graphs()">
                        <md-input-container class="padding-left-10" flex layout="column">
                             <label align="left" style="color: #000 ">Select SOP</label>
                                <md-select ng-model="sop"  ng-change="sopchanged(sop)" class="zero-margin-padding">
                                    <md-option ng-value="year" ng-repeat="year in Filterarray.sop" >{{year}}</md-option>
                                </md-select></md-input-container>
                                              
                </div>  
                <div flex="50" layout="row" class="padding-left-10">
                    <span flex="50" align="center">Benchmark Score:</span>
                  <md-switch flex="10" style="margin-top: 0px" class="md-primary" ng-model="data.cb1" aria-label="Switch 1" 
                       ng-change="vm.sopswitch(data.cb1)"></md-switch>
                  <span flex="20" align="center">{{sopswitchoutputcaps}}</span> 
                </div>
        </md-card>
        
        <md-card-content layout="column">
            <h4>SOP Trends - {{sop}}</h4>
            <div id="mainchart" style="height: 70vh" ></div>                
        </md-card-content> 
      
    </div>        
    
     
    
</div>