<ui-gmap-google-map center="vm.labeledMap.center" zoom="vm.labeledMap.zoom" options="vm.labeledMap.options">
    <ui-gmap-marker coords="vm.labeledMap.marker.coords" idkey="vm.labeledMap.marker.id" options="vm.labeledMap.marker.options">
        <ui-gmap-window show="'true'">
            <div>{{vm.labelTitle}}</div>
        </ui-gmap-window>
    </ui-gmap-marker>
</ui-gmap-google-map>
