<!--<div  flex="noshrink" layout="column" layout-align="end none">
    <md-toolbar style="background-color: #e2e2e2" ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}">
        <div  class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
             <a href="http://www.leadics.com" target="_blank"> 
                 <img style=" max-height: 6vmin;"  src="assets/images/leadics.png" alt=""/>
             </a>
            <img style="max-height: 4vmin;" src="assets/images/LA26502LOGO.png" alt=""/>
        </div>
    </md-toolbar>
</div>-->



<div  flex="noshrink" layout="column" layout-align="end none" >
    <md-toolbar  ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}">
        <div  class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
             <a href="http://www.leadics.com" target="_blank"> 
                 <img style=" max-height: 6vmin;"  src="assets/images/leadics.png" alt=""/>
             </a>
            <img style="max-height: 4vmin;" src="assets/images/LA26502LOGO.png" alt=""/>
        </div>
    </md-toolbar>
</div>



<!--<div flex="noshrink" style="max-height:5vmin;" layout="column" layout-align="end none">
    <md-toolbar ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}">
        <div class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
             
        <a href="http://www.leadics.com" target="_blank">  <img style="background-color: #ffffff; height:auto;"  src="assets/images/leadics.png" alt=""/></a>
          <img style="background-color: #ffffff; height:auto;" src="assets/images/LA26502LOGO.jpg" alt=""/>
        </div>
    </md-toolbar>
</div>-->